<div class="modal-body">
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <div class="media">
    <div class="media-left media-middle text-warning">
      <i class="media-object fa fa-refresh fa-spin fa-4x fa-fw"></i>
    </div>
    <div class="media-body">
      <h3 class="media-heading text-success">Aguarde...</h3>
      <h4>Você será redirecionado para a página do boleto...</h4>
    </div>
  </div>
</div>
