<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="panel profile">
    <div style="margin: 0 auto; width: 250px;">
      <figure class=" avatar image-responsive avatar-circle">
      <img data-ng-src="{{ctrl.user.avatar.medium}}"  alt="">
      </figure>
    </div>
    <div style="margin: 0 auto; width: 450px;">
      <h4 class="text-center">Obrigado por apoiar a campanha de <span data-ng-bind="ctrl.user.name"></span></h4>
      <form name="donate" novalidate data-ng-submit="ctrl.buildBillet(ctrl.donate)">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group" data-ng-class="{'has-error':donate.amount.$invalid && donate.amount.$dirty}">
              <label for="amount" class="control-label">Digite o valor que deseja doar</label>
              <input type="text" name="amount" id="amount" class="form-control" format-currency="ctrl.amountOptions" variable-options="true" data-ng-model="ctrl.donate.amount" required>
            </div>
          </div>
        </div>

        <!--<div class="form-group" data-ng-class="{'has-error':donate.amount.$invalid}">
          <input type="text" name="amount" id="amount" class="form-control" data-ng-model="ctrl.donate.amount" required>
        </div>-->
        <p class="text-center">Ao gerar o boleto, o organizador já está contando com o seu apoio. <br> Pague até a data de vencimento pela internet, casas lotéricas, caixas eletrônicos ou agência bancária.</p>
        <p class="text-center">Escreva uma mensagem de apoio para o <span data-ng-bind="ctrl.user.name"></span> que assim que o boleto for pago aparecerá na página da campanha!</p>
        <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid && donate.message.$dirty}">
          <count-down-element model="donate.message.$viewValue" max="165">
            <textarea name="message" rows="5" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="165" placeholder="Parabenize com sua mensagem de apoio :)" required></textarea>
          </count-down-element>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">
            Prefiro me manter anônimo
            <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, de acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
          </label>
        </div>
        <div class="form-buttons form-buttons-center">
          <button type="submit" class="btn btn-lg btn-horizontal-large btn-success">Imprimir seu boleto</button>
        </div>
        <p class="text-center">Ao apoiar, você concorda com os <br> <a ui-sref="pages.terms">Termos de Uso</a> e <a ui-sref="pages.policies">Política de privacidade</a></p>
      </form>
    </div>
  </div>
</div>