<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="panel profile">
    <div style="margin: 0 auto; width: 250px;">
      <img data-ng-src="{{ctrl.user.avatar.medium}}" class="avatar img-responsive img-circle" alt="">
    </div>
    <div style="margin: 0 auto; width: 400px;">
      <h4 class="text-center">Escreva o valor que deseja apoiar para a campanha do <span data-ng-bind="ctrl.user.name"></span></h4>
      <form name="donate" novalidate data-ng-submit="ctrl.buildBillet(ctrl.donate)">
        <div class="form-group">
          <div class="input-group" data-ng-class="{'has-error':donate.amount.$invalid && donate.amount.$dirty}">
            <span class="input-group-addon">R$</span>
            <input type="text" name="amount" id="amount" class="form-control" data-ng-model="ctrl.donate.amount" required>
          </div>
        </div>

        <!--<div class="form-group" data-ng-class="{'has-error':donate.amount.$invalid}">
          <input type="text" name="amount" id="amount" class="form-control" data-ng-model="ctrl.donate.amount" required>
        </div>-->
        <p class="text-center">Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris Praesent vel viverra nisi.</p>
        <p class="text-center">Mauris aliquet nunc non turpis scelerisque, eget. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</p>
        <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid && donate.message.$dirty}">
          <count-down-element model="ctrl.donate.message" max="250">
            <textarea name="message" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="250" required></textarea>
          </count-down-element>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">
            Prefiro me manter anônimo
            <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, se acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
          </label>
        </div>
        <div class="form-buttons form-buttons-center">
          <button type="submit" class="btn btn-lg btn-horizontal-large btn-success">Imprimir seu boleto</button>
        </div>
        <p class="text-center">Ao apoiar, você concorda com os <a ui-sref="pages.terms">Termos de Uso</a> e <a ui-sref="pages.policies">Política de privacidade</a></p>
      </form>
    </div>
  </div>
</div>