<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="panel profile">
    <div style="margin: 0 auto; width: 250px;">
      <img data-ng-src="{{ctrl.user.avatar.medium}}" class="avatar img-responsive img-circle" alt="">
    </div>
    <div style="margin: 0 auto; width: 400px;">
      <h4 class="text-center">
        Obrigado! Seu apoio a campanha de <span data-ng-bind="ctrl.user.name"></span> está sendo computado, aguarde o email confirmando a aprovação de pagamento do seu cartão. Escreva uma mensagem de apoio para o <span data-ng-bind="ctrl.user.name"></span> que aparecerá em sua página de campanha!
      </h4>
      <form name="donate" novalidate>
        <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid}">
          <count-down-element model="ctrl.donate.message" max="165">
            <textarea name="message" id="message" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="165"></textarea>
          </count-down-element>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model="ctrl.donate.is_anonymous">
            Prefiro me manter anônimo
            <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, de acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
          </label>
        </div>
        <div class="form-buttons form-buttons-center">
          <button type="button" data-ng-click="ctrl.buildCard()" class="btn btn-lg btn-horizontal-large btn-success">
            <i class="fa fa-envelope"></i>
            Mandar mensagem de apoio
          </button>
        </div>
      </form>
    </div>
  </div>
</div>