<div class="modal-body donate-card-success">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="media">
        <div class="media-left">
           <figure class="avatar avatar-circle image-responsive avatar-sucess">
          <img class="media-object" style="max-width: 100px" data-ng-src="{{ctrl.data.user.avatar.medium}}" alt="...">
          </figure>
        </div>
        <div class="media-body">
          <h4>
            Obrigado <span data-ng-bind="ctrl.data.donor"></span>! <br>
            Ao contribuir com esta campanha iremos melhorar ainda mais o mundo! <br>
            Você participou disso!
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center">
        Seu apoio a campanha de <span data-ng-bind="ctrl.data.user.name"></span> está sendo processada, <strong>enviaremos a confirmação para o seu email cadastrado informando a aprovação de pagamento do seu cartão.</strong>
      </h4>
      <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="ctrl.ok()">
        Ir para a página da campanha
      </button>
    </div>
  </div>
</div>