<div class="donate container">
  <form name="donate" novalidate data-ng-submit="ctrl.save(ctrl.donate)">
    <div class="row">
      <div class="col-md-8">
        <h3>Você está doando para a campanha de Gui Seek</h3>
        <h4>Preencha e revise os dados para o pagamento</h4>
        <p>Esses dados serão informados ao realizador do projeto</p>
        <div class="row">
          <div class="form-group col-md-8" data-ng-class="{'has-error':donate.name.$invalid && donate.name.$dirty}">
            <label for="name" class="control-label">Nome completo</label>
            <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.donate.name" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged" autofocus>
          </div>
          <div class="form-group col-md-4" data-ng-class="{'has-error':donate.birthdate.$invalid && donate.birthdate.$dirty}">
            <label for="birthdate" class="control-label">Aniversário</label>
            <input type="text" name="birthdate" id="birthdate" mask="99/99/9999" class="form-control" data-ng-model="ctrl.donate.birthdate" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.email.$invalid && donate.email.$dirty}">
            <label for="email" class="control-label">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.donate.email" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.document.$invalid && donate.document.$dirty}">
            <label for="document" class="control-label">CPF</label>
            <input type="text" name="document" id="document" mask="999.999.999-99" clean="true" class="form-control" data-ng-model="ctrl.donate.document" data-ng-disabled="ctrl.logged && !ctrl.missingDoc" data-ng-required="!ctrl.logged">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Escolha o meio de pagamento</h4>
            <p class="text-muted">
              <i class="fa fa-lock"></i>
              PAGAMENTO SEGURO
            </p>
          </div>
        </div>
        <div class="flags row">
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-model="ctrl.donate.methodPayment" value="card">
                Cartão de crédito
              </label>
            </p>
            <div class="row">
              <div class="col-md-2">
                <img src="assets/images/cards/flat/visa.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/amex.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/mastercard.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/diners.svg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-click="ctrl.openBillet()" data-ng-model="ctrl.donate.methodPayment" value="billet" checked>
                Boleto bancário
              </label>
            </p>
            <div>
              <i class="fa fa-barcode"></i>
            </div>
          </div>
        </div>

        <div class="row" data-ng-show="ctrl.donate.methodPayment == 'card'">
          <div class="col-md-6">
            <p>Exemplo do seu cartão</p>
            <div class="creditcard-container">
              <div class="creditcard">
                <div class="card">
                  <div class="lower front">
                    <div class="flag">
                      <img src="assets/images/cards/single/{{ctrl.flag}}.svg" alt="">
                    </div>
                    <div class="chip"></div>
                    <div class="number">
                      {{ctrl.donate.card_number || ctrl.donateOff.number}}
                    </div>
                    <div class="name">
                      {{ctrl.donate.card_name || ctrl.donateOff.name}}
                    </div>
                    <div class="expiry">
                      {{ctrl.donate.card_month || ctrl.donateOff.expiry.month}}/{{ctrl.donate.card_year || ctrl.donateOff.expiry.year}}
                    </div>
                  </div>
                  <div class="lower back">
                    <div class="bar"></div>
                    <div class="cvc">
                      {{ctrl.donate.card_cvc || ctrl.donateOff.cvc}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':donate.amount.$invalid && donate.amount.$dirty}">
              <label for="amount" class="control-label">Valor que deseja doar</label>
              <input type="text" name="amount" id="amount" class="form-control" data-ng-model="ctrl.donate.amount" data-ng-focus="ctrl.onFocus('amount')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_number.$invalid && donate.card_number.$dirty}">
              <label for="card_number" class="control-label">Número do seu cartão</label>
              <input type="text" name="card_number" id="card_number" class="form-control" data-ng-model="ctrl.donate.card_number" mask="9999-9999-9999-9999" data-ng-keyup="ctrl.getFlag(ctrl.donate.card.number)" data-ng-focus="ctrl.onFocus('card_number')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_name.$invalid && donate.card_name.$dirty}">
              <label for="card_name" class="control-label">Nome como está escrito no seu cartão</label>
              <input type="text" name="card_name" id="card_name" class="form-control" data-ng-model="ctrl.donate.card_name" data-ng-focus="ctrl.onFocus('card_name')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_month.$invalid && donate.card_month.$dirty || donate.year.$invalid && donate.card_year.$dirty}">
                      <label for="card_month" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.months" name="card_month" id="card_month" class="form-control" data-ng-model="ctrl.donate.card_month" data-ng-focus="ctrl.onFocus('card_month')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Mês</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_year.$ && donate.card_year.$dirty || donate.year.$invalid && donate.year.$dirty}">
                      <label for="card_year" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.years" name="card_year" id="card_year" class="form-control" data-ng-model="ctrl.donate.card_year" data-ng-focus="ctrl.onFocus('card_year')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Ano</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" data-ng-class="{'has-error':donate.card_cvc.$invalid && donate.card_cvc.$dirty}">
                  <label for="card_cvc" class="control-label">Código</label>
                  <input type="number" name="card_cvc" id="card_cvc" class="form-control" data-ng-model="ctrl.donate.card_cvc" data-ng-blur="ctrl.onValidate(donate)" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="ctrl.openCard()" data-ng-disabled="donate.$invalid">
                  <i class="fa fa-lock"></i>
                  Doe com segurança
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" fixed-on-scroll offset="0" top="80">
        <div class="panel profile panel-default">
          <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
          <div class="panel-body">
            <h4>Dúvidas frequentes</h4>
            <div class="questions" data-ng-repeat="item in ctrl.questions" data-ng-init="item.active = ($index == 0) ? true : false">
              <h5 data-ng-click="ctrl.open(item)">
                <i class="glyphicon" data-ng-class="{'glyphicon-chevron-right': item.active, 'glyphicon-chevron-down': !item.active}"></i>
                <span data-ng-bind="item.question"></span>
              </h5>
              <p data-ng-show="item.active" data-ng-bind="item.answer"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
