<script type="text/ng-template" id="myPopoverCardTemplate.html">
  <div style="padding: 0 20%; text-align: center">
    <img src="/assets/images/cards/back_card.svg" class="img-responsive" alt="Verso do cartão">
  </div>
  <small>O código de segurança consiste nos 3 últimos números no verso do seu cartão.</small>
</script>
<div class="donate container">
  <form name="donate" novalidate data-ng-submit="ctrl.save(ctrl.donate)">
    <div class="row">
      <div class="col-md-8">
        <h3>Você está doando para a campanha de <span data-ng-bind="ctrl.event.institution.user.name"></span></h3>
        <h4>As seguintes informações são necessárias para enviarmos seu comprovante para o seu email, preencha com cuidado e revise os dados para a doação.</h4>
        <div class="row">
          <div class="form-group col-md-8" data-ng-class="{'has-error':donate.name.$invalid && donate.name.$dirty}">
            <label for="name" class="control-label">Nome completo</label>
            <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.donate.name" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged" autofocus>
          </div>
          <div class="form-group col-md-4" data-ng-class="{'has-error':donate.birthdate.$invalid && donate.birthdate.$dirty}">
            <label for="birthdate" class="control-label">Data de nascimento</label>
            <input type="text" name="birthdate" id="birthdate" mask="39/19/2999" class="form-control" data-ng-model="ctrl.donate.birthdate" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.email.$invalid && donate.email.$dirty}">
            <label for="email" class="control-label">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.donate.email" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.document.$invalid && donate.document.$dirty}">
            <label for="document" class="control-label">CPF</label>
            <input type="text" name="document" id="document" mask="999.999.999-99" clean="true" class="form-control" data-ng-model="ctrl.donate.document" data-ng-disabled="ctrl.logged && !ctrl.missingDoc" data-ng-required="!ctrl.logged">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Escolha o meio de pagamento</h4>
            <p class="text-muted">
              <i class="fa fa-lock"></i>
              PAGAMENTO SEGURO
            </p>
          </div>
        </div>
        <div class="flags row">
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-model="ctrl.donate.methodPayment" value="card">
                Cartão de crédito
              </label>
            </p>
            <div class="row">
              <div class="col-md-2">
                <img src="assets/images/cards/flat/visa.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/amex.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/mastercard.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/diners.svg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-click="ctrl.openBillet()" data-ng-model="ctrl.donate.methodPayment" value="billet" checked>
                Boleto bancário
              </label>
            </p>
            <div>
              <i class="fa fa-barcode"></i>
            </div>
          </div>
        </div>

        <div class="row" data-ng-show="ctrl.donate.methodPayment == 'card'">
          <div class="col-md-6">
            <p>Exemplo do seu cartão</p>
            <div class="creditcard-container">
              <div class="creditcard">
                <div class="card">
                  <div class="lower front">
                    <div class="flag">
                      <img data-ng-src="assets/images/cards/single/{{ctrl.flag}}.svg" alt="{{ctrl.flag}}">
                    </div>
                    <div class="chip"></div>
                    <div class="number">
                      {{ctrl.donate.card_number || ctrl.donateOff.number}}
                    </div>
                    <div class="name">
                      {{ctrl.donate.card_name || ctrl.donateOff.name}}
                    </div>
                    <div class="expiry">
                      {{ctrl.donate.card_month || ctrl.donateOff.expiry.month}}/{{ctrl.donate.card_year || ctrl.donateOff.expiry.year}}
                    </div>
                  </div>
                  <div class="lower back">
                    <div class="bar"></div>
                    <div class="cvc">
                      {{ctrl.donate.card_cvc || ctrl.donateOff.cvc}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':donate.amount.$invalid && donate.amount.$dirty}">
              <label for="amount" class="control-label">Digite o valor que deseja doar para a campanha de <span data-ng-bind="ctrl.event.institution.user.name"></span></label>
              <input type="text" name="amount" id="amount" class="form-control" format-currency="ctrl.amountOptions" variable-options="true" data-ng-model="ctrl.donate.amount" data-ng-focus="ctrl.onFocus('amount')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_number.$invalid && donate.card_number.$dirty}">
              <label for="card_number" class="control-label">Número do seu cartão</label>
              <input type="text" name="card_number" id="card_number" class="form-control" data-ng-model="ctrl.donate.card_number" mask="9999-9999-9999-9999" data-ng-keyup="ctrl.getFlag(ctrl.donate.card_number)" data-ng-focus="ctrl.onFocus('card_number')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_name.$invalid && donate.card_name.$dirty}">
              <label for="card_name" class="control-label">Nome como está escrito no seu cartão</label>
              <input type="text" name="card_name" id="card_name" class="form-control" data-ng-model="ctrl.donate.card_name" data-ng-focus="ctrl.onFocus('card_name')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_month.$invalid && donate.card_month.$dirty || donate.year.$invalid && donate.card_year.$dirty}">
                      <label for="card_month" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.months" name="card_month" id="card_month" class="form-control" data-ng-model="ctrl.donate.card_month" data-ng-focus="ctrl.onFocus('card_month')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Mês</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_year.$ && donate.card_year.$dirty || donate.year.$invalid && donate.year.$dirty}">
                      <label for="card_year" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.years" name="card_year" id="card_year" class="form-control" data-ng-model="ctrl.donate.card_year" data-ng-focus="ctrl.onFocus('card_year')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Ano</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" data-ng-class="{'has-error':donate.card_cvc.$invalid && donate.card_cvc.$dirty}">
                  <label for="card_cvc" class="control-label">Código</label>
                  <input type="text" name="card_cvc" id="card_cvc" class="form-control" data-ng-model="ctrl.donate.card_cvc" maxlength="3" data-ng-blur="ctrl.onValidate(donate)" uib-popover-template="'myPopoverCardTemplate.html'" popover-placement="right" popover-trigger="focus" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid && donate.message.$dirty}">
                  <label for="message" class="control-label">
                    Escreva uma mensagem de apoio para <span data-ng-bind="ctrl.event.institution.user.name"></span> que aparecerá em sua página de campanha!
                  </label>
                  <count-down-element model="ctrl.donate.message" max="165">
                    <textarea name="message" id="message" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="165" placeholder="Escreva aqui uma mensagem de apoio e união a esta ação de melhora do mundo."></textarea>
                  </count-down-element>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-ng-model="ctrl.donate.is_anonymous">
                      Prefiro me manter anônimo
                      <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, de acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="ctrl.donateCard()" data-ng-disabled="donate.$invalid">
                  Apoiar com <span data-ng-bind="ctrl.donate.amount || 0 | currency: 'R$ '" ></span>
                </button>
                <p class="text-center help-text-donate">
                  <i class="fa fa-lock"></i> Fácil, rápido e com segurança <br>
                  Ao apoiar, você concorda com os <br> <a ui-sref="pages.terms">Termos de Uso</a> e <a ui-sref="pages.policies">Política de privacidade</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" fixed-on-scroll offset="0" top="100">
        <div class="panel profile panel-default">
        <figure class="avatar image-responsive avatar-circle">
          <img data-ng-src="{{ctrl.event.institution.user.avatar.medium}}"  alt="">
          </figure>
          <div class="panel-body">
            <h4>Dúvidas frequentes</h4>
            <div class="questions" data-ng-repeat="item in ctrl.questions" data-ng-init="item.active = ($index == 0) ? true : false">
              <h5 data-ng-click="ctrl.open(item)">
                <i class="glyphicon" data-ng-class="{'glyphicon-chevron-right': item.active, 'glyphicon-chevron-down': !item.active}"></i>
                <span data-ng-bind="item.question"></span>
              </h5>
              <p data-ng-show="item.active" data-ng-bind="item.answer"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
