<script type="text/ng-template" id="myPopoverCardTemplate.html">
  <div style="padding: 0 20%; text-align: center">
    <img src="/assets/images/cards/back_card.svg" class="img-responsive" alt="Verso do cartão">
  </div>
  <small>O código de segurança consiste nos 3 últimos números no verso do seu cartão.</small>
</script>
<script type="text/ng-template" id="typeaheadPopupStatesTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox" style="max-height: 200px; overflow: auto">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="typeaheadPopupCitiesTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox" style="max-height: 200px; overflow: auto">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<div class="donate container">
  <form name="donate" novalidate data-ng-submit="ctrl.save(ctrl.donate)">
    <div class="row">
      <div class="col-md-8">
        <h3>Você está doando para a campanha de <span data-ng-bind="ctrl.event.user.name"></span></h3>
        <h4>As seguintes informações são necessárias para enviarmos seu comprovante para o seu email, preencha com cuidado e revise os dados para a doação.</h4>
        <div class="row">
          <div class="form-group col-md-8" data-ng-class="{'has-error':donate.name.$invalid && donate.name.$dirty}">
            <label for="name" class="control-label">Nome completo</label>
            <count-down-element model="donate.name.$viewValue" max="60">
              <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.donate.name" data-ng-disabled="ctrl.logged" maxlength="60" data-ng-required="!ctrl.logged" autofocus>
            </count-down-element>
            <div class="help-block" data-ng-messages="donate.name.$error" data-ng-hide="!donate.name.$dirty">
              <p class="text-danger" ng-message="required">O seu nome é obrigatório.</p>
            </div>
          </div>
          <div class="form-group col-md-4" data-ng-class="{'has-error':donate.birthdate.$invalid && donate.birthdate.$dirty}">
            <label for="birthdate" class="control-label">Data de nascimento</label>
            <input type="text" name="birthdate" id="birthdate" class="form-control" mask="39/19/2999" data-ng-model="ctrl.donate.birthdate" data-ng-change="ctrl.validateDate(donate.birthdate, ctrl.donate.birthdate)" data-ng-model-options="{debounce: 600}" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
            <div class="help-block" data-ng-messages="donate.birthdate.$error" data-ng-hide="!donate.birthdate.$dirty">
              <p data-ng-message="required" class="text-danger">Data de nascimento é obrigatória.</p>
              <p data-ng-message="birthdate" class="text-danger">Permitido somente maiores de 18 anos.</p>
            </div>
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.email.$invalid && donate.email.$dirty}">
            <label for="email" class="control-label">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.donate.email" data-ng-blur="ctrl.checkEmail(ctrl.donate.email)" data-ng-disabled="ctrl.logged" data-ng-required="!ctrl.logged">
            <div class="help-block" data-ng-messages="donate.email.$error" data-ng-hide="!donate.email.$dirty">
              <p data-ng-message="required" class="text-danger">O email é obrigatório.</p>
              <p data-ng-message="email" class="text-danger">Seu email deve ser um email válido.</p>
            </div>
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.document.$invalid && donate.document.$dirty}">
            <label for="document" class="control-label">CPF</label>
            <input type="text" name="document" id="document" mask="999.999.999-99" clean="true" class="form-control" data-ng-model="ctrl.donate.document" data-ng-model-options="{debounce: 600}" data-ng-disabled="ctrl.logged && !ctrl.missingDoc" data-ng-required="!ctrl.logged">
            <div class="help-block" data-ng-messages="donate.document.$error" data-ng-hide="!donate.document.$dirty">
              <p data-ng-message="required" class="text-danger">O CPF é obrigatório.</p>
              <p data-ng-message="mask" class="text-danger">Seu CPF deve ser um número válido.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Escolha o meio de pagamento</h4>
            <p class="text-muted">
              <i class="fa fa-lock"></i>
              PAGAMENTO SEGURO
            </p>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-12">
            <p data-ng-show="donate.document.$invalid" class="text-danger">Preencha os dados do usuário</p>
          </div>
        </div>-->
        <div class="flags row">
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-model="ctrl.donate.methodPayment" value="card" data-ng-change="ctrl.changeMethod(ctrl.donate.methodPayment)">
                Cartão de crédito
              </label>
            </p>
            <div class="row">
              <div class="col-md-2">
                <img src="assets/images/cards/flat/visa.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/amex.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/mastercard.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/diners.svg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <!--<input type="radio" name="methodPayment" data-ng-click="ctrl.openBillet()" data-ng-model="ctrl.donate.methodPayment" value="billet" checked>-->
                <input type="radio" name="methodPayment" data-ng-model="ctrl.donate.methodPayment" value="billet" data-ng-change="ctrl.changeMethod(ctrl.donate.methodPayment)">
                Boleto bancário
              </label>
            </p>
            <div>
              <i class="fa fa-barcode"></i>
            </div>
          </div>
        </div>

        <div class="row" data-ng-show="ctrl.donate.methodPayment == 'card'">
          <div class="col-md-6">
            <p>Exemplo do seu cartão</p>
            <div class="creditcard-container">
              <div class="creditcard">
                <div class="card">
                  <div class="lower front">
                    <div class="flag">
                      <img data-ng-src="assets/images/cards/single/{{ctrl.flag}}.svg" alt="{{ctrl.flag}}">
                    </div>
                    <div class="chip"></div>
                    <div class="number">
                      {{ctrl.donate.card_number || ctrl.donateOff.number}}
                    </div>
                    <div class="name">
                      {{ctrl.donate.card_name || ctrl.donateOff.name}}
                    </div>
                    <div class="expiry">
                      {{ctrl.donate.card_month || ctrl.donateOff.expiry.month}}/{{ctrl.donate.card_year || ctrl.donateOff.expiry.year}}
                    </div>
                  </div>
                  <div class="lower back">
                    <div class="bar"></div>
                    <div class="cvc">
                      {{ctrl.donate.card_cvc || ctrl.donateOff.cvc}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':donate.card_amount.$invalid && donate.card_amount.$dirty}">
              <label for="card_amount" class="control-label">Digite o valor que deseja doar para a campanha de <span data-ng-bind="ctrl.event.user.name"></span></label>
              <input type="text" name="card_amount" id="card_amount" class="form-control" format-currency="ctrl.amountOptions" variable-options="true" data-ng-model="ctrl.donate.amount" data-ng-focus="ctrl.onFocus('card_amount')" data-ng-blur="ctrl.onValidate(donate)" data-ng-required="ctrl.donate.methodPayment == 'card'">
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_number.$invalid && donate.card_number.$dirty}">
              <label for="card_number" class="control-label">Número do seu cartão</label>
              <input type="text" name="card_number" id="card_number" class="form-control" data-ng-model="ctrl.donate.card_number" mask="9999-9999-9999-9999" data-ng-keyup="ctrl.getFlag(ctrl.donate.card_number)" data-ng-focus="ctrl.onFocus('card_number')" data-ng-blur="ctrl.onValidate(donate)" data-ng-required="ctrl.donate.methodPayment == 'card'">
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.card_name.$invalid && donate.card_name.$dirty}">
              <label for="card_name" class="control-label">Nome como está escrito no seu cartão</label>
              <input type="text" name="card_name" id="card_name" class="form-control" data-ng-model="ctrl.donate.card_name" data-ng-focus="ctrl.onFocus('card_name')" data-ng-blur="ctrl.onValidate(donate)" data-ng-required="ctrl.donate.methodPayment == 'card'">
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_month.$invalid && donate.card_month.$dirty || donate.year.$invalid && donate.card_year.$dirty}">
                      <label for="card_month" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.months" name="card_month" id="card_month" class="form-control" data-ng-model="ctrl.donate.card_month" data-ng-focus="ctrl.onFocus('card_month')" data-ng-blur="ctrl.onValidate(donate)" data-ng-required="ctrl.donate.methodPayment == 'card'">
                        <option value="">Mês</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.card_year.$invalid && donate.card_year.$dirty || donate.year.$invalid && donate.year.$dirty}">
                      <label for="card_year" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.years" name="card_year" id="card_year" class="form-control" data-ng-model="ctrl.donate.card_year" data-ng-focus="ctrl.onFocus('card_year')" data-ng-blur="ctrl.onValidate(donate)" data-ng-required="ctrl.donate.methodPayment == 'card'">
                        <option value="">Ano</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" data-ng-class="{'has-error':donate.card_cvc.$invalid && donate.card_cvc.$dirty}">
                  <label for="card_cvc" class="control-label">Código</label>
                  <input type="text" name="card_cvc" id="card_cvc" class="form-control" data-ng-model="ctrl.donate.card_cvc" maxlength="3" data-ng-blur="ctrl.onValidate(donate)" uib-popover-template="'myPopoverCardTemplate.html'" popover-placement="right" popover-trigger="focus" data-ng-required="ctrl.donate.methodPayment == 'card'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid && donate.message.$dirty}">
                  <label for="message" class="control-label">
                    Escreva uma mensagem de apoio para <span data-ng-bind="ctrl.event.user.name"></span> que aparecerá em sua página de campanha!
                  </label>
                  <count-down-element model="donate.message.$viewValue" max="165">
                    <textarea name="message" id="message" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="165" placeholder="Escreva aqui uma mensagem de apoio e união a esta ação de melhora do mundo."></textarea>
                  </count-down-element>
                  <div class="help-block" data-ng-messages="donate.message.$error" data-ng-hide="!donate.message.$dirty">
                    <p data-ng-message="minlength" class="text-danger">Sua mensagem deve ter no mínimo 20 e máximo 165 letras.</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-ng-model="ctrl.donate.is_anonymous">
                      Prefiro me manter anônimo
                      <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, de acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="ctrl.donateCard()" data-ng-disabled="donate.$invalid">
                  Apoiar com <span data-ng-bind="ctrl.donate.amount || 0 | currency: 'R$ '" ></span>
                </button>
                <p class="text-center help-text-donate">
                  <i class="fa fa-lock"></i> Fácil, rápido e com segurança <br>
                  Ao apoiar, você concorda com os <br> <a ui-sref="pages.terms">Termos de Uso</a> e <a ui-sref="pages.policies">Política de privacidade</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-ng-show="ctrl.donate.methodPayment == 'billet'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" data-ng-class="{'has-error':donate.billet_amount.$invalid && donate.billet_amount.$dirty}">
                  <label for="billet_amount" class="control-label">Valor que deseja doar por boleto</label>
                  <input type="text" name="billet_amount" id="billet_amount" class="form-control" format-currency="ctrl.amountOptions" variable-options="true" data-ng-model="ctrl.donate.amount" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" data-ng-class="{'has-error':donate.zip_code.$invalid && donate.zip_code.$dirty}">
                  <label for="zip_code" class="control-label">CEP</label>
                  <input type="text" name="zip_code" id="zip_code" class="form-control" mask="99999-999" clean="true" data-ng-model="ctrl.donate.zip_code" data-ng-model-options="{debounce: 600}" data-ng-blur="ctrl.getAddress(ctrl.donate.zip_code)" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group" data-ng-class="{'has-error':donate.street.$invalid && donate.street.$dirty}">
                  <label for="street" class="control-label">Endereço</label>
                  <input type="text" name="street" id="street" class="form-control" data-ng-model="ctrl.donate.street" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group" data-ng-class="{'has-error':donate.number.$invalid && donate.number.$dirty}">
                  <label for="number" class="control-label">Número</label>
                  <input type="text" name="number" id="number" class="form-control" data-ng-model="ctrl.donate.number" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" data-ng-class="{'has-error':donate.district.$invalid && donate.district.$dirty}">
                  <label for="district" class="control-label">Bairro</label>
                  <input type="text" name="district" id="district" class="form-control" data-ng-model="ctrl.donate.district" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" data-ng-class="{'has-error':donate.state.$invalid && donate.state.$dirty}">
                  <label for="state" class="control-label">Selecione seu Estado</label>
                  <input type="text" name="state" id="state" data-ng-model="ctrl.donate.state" typeahead-on-select="ctrl.changeState()" placeholder="Encontre seu estado" uib-typeahead="item.name for item in ctrl.states | filter:$viewValue" typeahead-popup-template-url="typeaheadPopupStatesTemplate.html" typeahead-editable="false" typeahead-show-hint="true" typeahead-min-length="0" class="form-control" autocomplete="off" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                  <p data-ng-show="donate.state.$invalid && donate.state.$touched" class="text-danger">Selecione seu estado</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" data-ng-class="{'has-error':donate.city.$invalid && donate.city.$dirty}">
                  <label for="city" class="control-label">Selecione sua Cidade</label>
                  <input type="text" name="city" data-ng-model="ctrl.donate.city" data-ng-model-options="{getterSetter: true, debounce: 500}" placeholder="Encontre sua cidade" uib-typeahead="item.name as item.name for item in ctrl.getCities(ctrl.donate.state, $viewValue)" typeahead-popup-template-url="typeaheadPopupCitiesTemplate.html" typeahead-editable="false" typeahead-show-hint="true" typeahead-min-length="0" class="form-control" aria-describedby="citieHelpBlock" autocomplete="off" data-ng-required="ctrl.donate.methodPayment == 'billet'">
                  <div id="citieHelpBlock" class="help-block" data-ng-show="donate.city.$error && donate.city.$touched">
                    <p data-ng-show="donate.city.$error.required" class="text-danger">Informe a cidade que este evento irá ocorrer.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group" data-ng-class="{'has-error':donate.message.$invalid && donate.message.$dirty}">
                  <label for="message" class="control-label">
                    Escreva uma mensagem de apoio para <span data-ng-bind="ctrl.event.user.name"></span> que aparecerá em sua página de campanha!
                  </label>
                  <count-down-element model="donate.message.$viewValue" max="165">
                    <textarea name="message" id="message" class="form-control" data-ng-model="ctrl.donate.message" minlength="20" maxlength="165" placeholder="Escreva aqui uma mensagem de apoio e união a esta ação de melhora do mundo."></textarea>
                  </count-down-element>
                  <div class="help-block" data-ng-messages="donate.message.$error" data-ng-hide="!donate.message.$dirty">
                    <p data-ng-message="minlength" class="text-danger">Sua mensagem deve ter no mínimo 20 e máximo 165 letras.</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-ng-model="ctrl.donate.is_anonymous">
                      Prefiro me manter anônimo
                      <i class="glyphicon glyphicon-question-sign text-muted" uib-popover="Você permanecerá anônimo na página pública da campanha, no entanto, de acordo com a nossa política de transparência seu nome e valor de doação será informado em um relatório financeiro para o Organizador da campanha." popover-trigger="mouseenter" popover-placement="right"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="ctrl.donateBillet()" data-ng-disabled="donate.$invalid">
                  Apoiar com <span data-ng-bind="ctrl.donate.amount || 0 | currency: 'R$ '" ></span>
                </button>
                <p class="text-center help-text-donate">
                  <i class="fa fa-lock"></i> Fácil, rápido e com segurança <br>
                  Ao apoiar, você concorda com os <br> <a ui-sref="pages.terms">Termos de Uso</a> e <a ui-sref="pages.policies">Política de privacidade</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" fixed-on-scroll offset="0" top="100">
        <div class="panel profile panel-default">
        <figure class="avatar image-responsive avatar-circle">
          <img data-ng-src="{{ctrl.event.user.avatar.medium}}"  alt="">
          </figure>
          <div class="panel-body">
            <h4>Dúvidas frequentes</h4>
            <div class="questions" data-ng-repeat="item in ctrl.questions" data-ng-init="item.active = ($index == 0) ? true : false">
              <h5 data-ng-click="ctrl.open(item)">
                <i class="fa" data-ng-class="{'fa-angle-down': item.active, 'fa-angle-right': !item.active}"></i>
                <span data-ng-bind="item.question"></span>
              </h5>
              <p data-ng-show="item.active" data-ng-bind="item.answer"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
