<div class="about">
  <div class="row">
    <div class="col-md-12"></div>
    <img src="assets/banners/banner-quem-somos.jpeg" class="img-responsive" alt="">
  </div>
  <div class="history row">
    <div class="container">
      <div class="row">
        <div class="headers col-sm-2">
          <span>Nossa</span>
          <br>
          <span>Missão</span>
        </div>
        <div class="col-sm-10">
          <p>
            "Seja a mudança que você quer ver no mundo", esta frase de Mahatma Gandhi nos inspirou a criar a Eventos do Bem.&nbsp;<br> Acreditamos que todas as pessoas do mundo podem ser protagonistas de mudança e queremos viralizar essa ideia utilizando tecnologia para catalisar fantásticas experiências de doação.&nbsp;Desta forma, nossa plataforma foi desenhada para fortalecer pessoas e Organizações Sociais a viralizarem o bem utilizando, de forma divertida e consciente, seus eventos pessoais como motivadores para convidar seus amigos a participarem pela experiência de ajudar uma causa social.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="content container">
    <div class="row">
      <div class="perfil col-md-3 col-sm-6 col-xs-12">
        <figure>
          <img class="img-circle img-responsive" src="assets/images/perfil/fernanda.jpg" alt="Fernanda Camargo">
        </figure>
        <h3>Fernanda Camargo</h3>
        <p>Empreendedorismo nato, especialidade em captação de recursos online e experiências em Organizações do terceiro setor, tudo isso somado a uma boa dose de audácia, maluquice e vontade de fazer acontecer fez com que Fernanda fundasse a Eventos do Bem, para assim proporcionar boas experiências entre pessoas e causas sociais em prol de uma sociedade melhor.</p>
      </div>
      <div class="perfil col-md-3 col-sm-6 col-xs-12">
        <figure>
          <img class="img-circle" src="assets/images/perfil/pedro.png" alt="Avatar">
        </figure>
        <h3>Pedro Paulo</h3>
        <p>Movido pelo desejo de viver um novo olhar por e para um outro, encontrou na Eventos do Bem a oportunidade de aliar essa busca pessoal à sua carreira ajudando pessoas e causas a se encontrarem por um bem maior. Mais do que isso, Pedro almeja multiplicar os resultados dos projetos incríveis de quem tomou para si a missão de gerar impacto social e melhorar nosso mundo.</p>
      </div>
      <div class="perfil col-md-3 col-sm-6 col-xs-12">
        <figure>
          <img class="img-circle img-responsive" src="assets/images/avatar.jpg" alt="Guilherme Siquinelli">
        </figure>
        <h3>Guilherme Siquinelli</h3>
        <p>Programador autodidata desde uns 13 anos de idade por hobby, resolveu que iria trabalhar com o que gosta e se graduar na área que lhe faria feliz. Apaixonado por novas tecnologias e participação com a comunidade, encontrou na Eventos do Bem a conciliação de trabalhar com o quê mais curte fazer e ajudar a mudar o mundo com eventos sociais.</p>
      </div>
      <div class="perfil col-md-3 col-sm-6 col-xs-12">
        <figure>
          <img class="img-circle img-responsive" src="assets/images/perfil/carlos.jpg" alt="Carlos Eduardo">
        </figure>
        <h3>Carlos Eduardo</h3>
        <p>Desenvolvedor apaixonado por cerca de 10 anos, alinhado com sangue nos olhos por empreendedorismo, por mudança e por ação. Carlos é apaixonado por dividir conhecimento, execução e acredita que conhecimento dividido se multiplica. Com a Eventos do Bem ele conseguiu fazer o melhor: alinhar tecnologia com causas sociais, ajudando outras pessoas e melhorando um pouco o mundo.</p>
      </div>
    </div>
  </section>
  <section class="row content">
    <div class="row">
      <div class="col-md-12">
        <div class="quotes">
          <div uib-carousel active="0" interval="95000" no-wrap="false">
            <div uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
              <!--<div class="carousel-caption">-->
                <div class="row">
                  <div class="col-md-6">
                    <blockquote cite="{{slide.quotes[0].name}}">
                      <p data-ng-bind="slide.quotes[0].text"></p>
                      <p class="name">{{slide.quotes[0].name}}</p>
                    </blockquote>
                  </div>
                  <div class="col-md-6">
                    <blockquote cite="{{slide.quotes[1].name}}">
                      <p data-ng-bind="slide.quotes[1].text"></p>
                      <p class="name">{{slide.quotes[1].name}}</p>
                    </blockquote>
                  </div>
                </div>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content container">
    <div class="row">
      <div class="col-md-12 margin-2">
        <h2 class="text-center">Seleção e participação em programas de aceleração</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/logos/bota.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <img src="assets/logos/miler.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <img src="assets/logos/sgb.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <img src="assets/logos/choice.png" class="img-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Apoio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <img src="assets/logos/unibes.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <img src="assets/logos/amazon-aws.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-3">
        <img src="assets/logos/zendesk-medium.png" class="img-responsive" alt="">
      </div>
    </div>
  </section>
</div>
