<div class="campaign">
  <div class="row cover">
    <img src="assets/banners/banner-quem-somos.jpg" class="img-responsive" alt="">
  </div>
  <section class="cover-content container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
      </div>
      <div class="col-md-10">
        <h2>Luciana Pricolli Vilela</h2>
        <h3>Título da campanha dessa pessoa</h3>
        <p>Ajudando: Associação de Estudos Sociais e Universitários</p>
      </div>
    </div>
  </section>
  <section class="content container">
    <div class="row">
      <div class="col-md-8">
        <iframe src="https://www.youtube.com/embed/V1U4mpk80_0" frameborder="0" allowfullscreen></iframe>
        <p class="description">
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga.
          <br>
          Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Si num tem leite então bota uma pinga aí cumpadi! Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
          <br>
          Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Viva Forevis aptent taciti sociosqu ad litora torquent
        </p>
        <h4>Mensagens dos doadores da campanha de Luciana Pricoli Vilela</h4>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="assets/images/avatar.jpg" alt="Avatar">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fulano de Souza</h4>
              <p>Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Viva Forevis aptent taciti sociosqu ad litora torquent Cevadis im ampola pa arma uma pindureta.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="assets/images/avatar.jpg" alt="Avatar">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fulano de Souza</h4>
              <p>Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Viva Forevis aptent taciti sociosqu ad litora torquent Cevadis im ampola pa arma uma pindureta.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button type="button" class="btn btn-lg btn-block btn-success">Doe agora</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>