<div class="contact container">
	<section class="row hidden-xs hidden-sm">
		<div class="col-md-12">
			<img src="assets/images/contato.png" class="img-responsive" alt="">
		</div>
	</section>
	<div class="row">
		<div class="col-md-8">
			<h4>
				Você pode checar se sua pergunta está em nossa página de
				<a ui-sref="faq">Perguntas frequentes</a> ou entrar em contato por aqui:
			</h4>
			<form name="contact" novalidate data-ng-submit="ctrl.send(contact, ctrl.contact)">
				<div class="form-group" data-ng-class="{'has-error':contact.name.$invalid && contact.name.$dirty}">
					<input type="text" name="name" id="name" class="form-control input-lg" data-ng-model="ctrl.contact.name" placeholder="Qual seu nome?"
						required autofocus>
				</div>
				<div class="form-group" data-ng-class="{'has-error':contact.email.$invalid && contact.email.$dirty}">
					<input type="email" name="email" id="email" class="form-control input-lg" data-ng-model="ctrl.contact.email" placeholder="Qual seu email para entrarmos em contato"
						required>
				</div>
				<h4>Nos fale o assunto para encaminharmos para a pessoa que melhor pode te atender</h4>
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<p>
							<label class="radio-inline">
                <input type="radio" name="destination" data-ng-model="ctrl.contact.destination" value="how-it-work">
                Dúvidas de como funciona
              </label>
						</p>
					</div>
					<div class="col-md-2 col-xs-6">
						<p>
							<label class="radio-inline">
                <input type="radio" name="destination" data-ng-model="ctrl.contact.destination" value="press-team">
                Imprensa
              </label>
						</p>
					</div>
					<div class="col-md-2 col-xs-6">
						<p>
							<label class="radio-inline">
                <input type="radio" name="destination" data-ng-model="ctrl.contact.destination" value="partners">
                Parcerias
              </label>
						</p>
					</div>
					<div class="col-md-2 col-xs-6">
						<p>
							<label class="radio-inline">
                <input type="radio" name="destination" data-ng-model="ctrl.contact.destination" value="technical-problem">
                Problemas técnicos
              </label>
						</p>
					</div>
					<div class="col-md-3 col-xs-6">
						<p>
							<label class="radio-inline">
                <input type="radio" name="destination" data-ng-model="ctrl.contact.destination" value="others">
                Outras questões
              </label>
						</p>
					</div>
				</div>
				<div class="form-group" data-ng-class="{'has-error':contact.message.$invalid && contact.message.$dirty}">
					<textarea name="message" id="message" class="form-control input-lg" data-ng-model="ctrl.contact.message" placeholder="Pode falar, somos todo ouvidos :)"
						required></textarea>
				</div>
				<div class="form-buttons form-buttons-center">
					<button type="submit" class="btn btn-lg btn-primary">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Enviar mensagem
          </button>
				</div>
			</form>
		</div>
		<div class="col-md-4">
			<div style="text-align: right">
				<fb-page href="https://www.facebook.com/eventosdobem.com.br"></fb-page>
			</div>
		</div>
	</div>
</div>