<div class="donate container">
  <form name="donate" novalidate data-ng-submit="ctrl.save(ctrl.donate)">
    <div class="row">
      <div class="col-md-9">
        <h3>Você está doando para a campanha de Gui Seek</h3>
        <h4>Preencha e revise os dados para o pagamento</h4>
        <p>Esses dados serão informados ao realizador do projeto</p>
        <div class="row">
          <div class="form-group col-md-8" data-ng-class="{'has-error':donate.name.$invalid}">
            <label for="name" class="control-label">Nome completo</label>
            <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.donate.name" required autofocus>
          </div>
          <div class="form-group col-md-4" data-ng-class="{'has-error':donate.birthday.$invalid}">
            <label for="birthday" class="control-label">Aniversário</label>
            <input type="text" name="birthday" id="birthday" mask="99/99/9999" class="form-control" data-ng-model="ctrl.donate.birthday" required>
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.email.$invalid}">
            <label for="email" class="control-label">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.donate.email" required>
          </div>
          <div class="form-group col-md-6" data-ng-class="{'has-error':donate.cpf.$invalid}">
            <label for="cpf" class="control-label">CPF</label>
            <input type="text" name="cpf" id="cpf" mask="999.999.999-99" class="form-control" data-ng-model="ctrl.donate.cpf" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Escolha o meio de pagamento</h4>
            <p class="text-muted">
              <i class="fa fa-lock"></i>
              PAGAMENTO SEGURO
            </p>
          </div>
        </div>
        <div class="flags row">
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-model="ctrl.donate.methodPayment" value="card">
                Cartão de crédito
              </label>
            </p>
            <div class="row">
              <div class="col-md-2">
                <img src="assets/images/cards/flat/visa.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/amex.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/mastercard.svg" class="img-responsive" alt="">
              </div>
              <div class="col-md-2">
                <img src="assets/images/cards/flat/diners.svg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p>
              <label class="radio-inline">
                <input type="radio" name="methodPayment" data-ng-click="ctrl.openBillet()" data-ng-model="ctrl.donate.methodPayment" value="billet" checked>
                Boleto bancário
              </label>
            </p>
            <div>
              <i class="fa fa-barcode"></i>
            </div>
          </div>
        </div>

        <div class="row" data-ng-show="ctrl.donate.methodPayment == 'card'">
          <div class="col-md-6">
            <p>Exemplo do seu cartão</p>
            <div class="creditcard-container">
              <div class="creditcard">
                <div class="card">
                  <div class="lower front">
                    <div class="flag">
                      <img src="assets/images/cards/single/{{ctrl.flag}}.svg" alt="">
                    </div>
                    <div class="chip"></div>
                    <div class="number">
                      {{ctrl.donate.card.number || ctrl.donateOff.number}}
                    </div>
                    <div class="name">
                      {{ctrl.donate.card.name || ctrl.donateOff.name}}
                    </div>
                    <div class="expiry">
                      {{ctrl.donate.card.expiry.month || ctrl.donateOff.expiry.month}}/{{ctrl.donate.card.expiry.year || ctrl.donateOff.expiry.year}}
                    </div>
                  </div>
                  <div class="lower back">
                    <div class="bar"></div>
                    <div class="cvc">
                      {{ctrl.donate.card.cvc || ctrl.donateOff.cvc}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':donate.cardValue.$invalid}">
              <label for="cardValue" class="control-label">Valor que deseja doar</label>
              <input type="text" name="cardValue" id="cardValue" class="form-control" data-ng-model="ctrl.donate.card.value" data-ng-focus="ctrl.onFocus('cardValue')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.cardNumber.$invalid}">
              <label for="cardNumber" class="control-label">Número do seu cartão</label>
              <input type="text" name="cardNumber" id="cardNumber" class="form-control" data-ng-model="ctrl.donate.card.number" mask="9999-9999-9999-9999" data-ng-keyup="ctrl.getFlag(ctrl.donate.card.number)" data-ng-focus="ctrl.onFocus('cardNumber')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="form-group" data-ng-class="{'has-error':donate.cardName.$invalid}">
              <label for="cardName" class="control-label">Nome como está escrito no seu cartão</label>
              <input type="text" name="cardName" id="cardName" class="form-control" data-ng-model="ctrl.donate.card.name" data-ng-focus="ctrl.onFocus('cardName')" data-ng-blur="ctrl.onValidate(donate)" required>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.cardMonth.$invalid || donate.year.$invalid}">
                      <label for="cardMonth" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.months" name="cardMonth" id="cardMonth" class="form-control" data-ng-model="ctrl.donate.card.expiry.month" data-ng-focus="ctrl.onFocus('cardMonth')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Mês</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" data-ng-class="{'has-error':donate.cardYear.$invalid || donate.year.$invalid}">
                      <label for="cardYear" class="control-label">Validade</label>
                      <select ng-options="item for item in ctrl.years" name="cardYear" id="cardYear" class="form-control" data-ng-model="ctrl.donate.card.expiry.year" data-ng-focus="ctrl.onFocus('cardYear')" data-ng-blur="ctrl.onValidate(donate)" required>
                        <option value="">Ano</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" data-ng-class="{'has-error':donate.cardCvc.$invalid}">
                  <label for="cardCvc" class="control-label">Código</label>
                  <input type="number" name="cardCvc" id="cardCvc" class="form-control" data-ng-model="ctrl.donate.card.cvc" data-ng-blur="ctrl.onValidate(donate)" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-block btn-success" data-ng-disabled="donate.$invalid">
                  <i class="fa fa-lock"></i>
                  Doe com segurança
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" fixed-on-scroll offset="0" top="80">
        <div class="panel profile panel-default">
          <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
          <div class="panel-body">
            <h4>Dúvidas frequentes</h4>
            <div class="questions" data-ng-repeat="item in ctrl.questions" data-ng-init="item.active = ($index == 0) ? true : false">
              <h5 data-ng-click="ctrl.open(item)">
                <i class="glyphicon" data-ng-class="{'glyphicon-chevron-right': item.active, 'glyphicon-chevron-down': !item.active}"></i>
                <span data-ng-bind="item.question"></span>
              </h5>
              <p data-ng-show="item.active" data-ng-bind="item.answer"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
