<div class="explore">
  <section class="container">
    <div class="row search">
      <div class="col-md-12">
        <h1 class="text-center">Inspire-se e descubra causas fantásticas para apoiar criando um evento do bem</h1>
        <form class="row" name="search" novalidate>
          <div class="col-md-6">
            <div class="input-group input-group-lg transparent">
              <span class="input-group-addon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" data-ng-model="query">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-lg transparent">
              <span class="input-group-addon">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" data-ng-model="query">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/images/avatar.jpg" alt="Avatar">
          <div class="caption">
            <img class="avatar" src="assets/images/avatar.jpg" alt="Avatar">
            <p>1 evento do bem = aulas de matemática, português e histórias para as crianças do Projeto Aprender</p>
            <p>1 evento do bem = aulas de matemática, português e histórias para as crianças do Projeto Aprender</p>
            <a href="#" class="btn btn-primary btn-block" role="button">Saiba mais sobre o projeto</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/images/avatar.jpg" alt="Avatar">
          <div class="caption">
            <img class="avatar" src="assets/images/avatar.jpg" alt="Avatar">
            <p>1 evento do bem = aulas de matemática, português e histórias para as crianças do Projeto Aprender</p>
            <a href="#" class="btn btn-primary btn-block" role="button">Saiba mais sobre o projeto</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/images/avatar.jpg" alt="Avatar">
          <div class="caption">
            <img class="avatar" src="assets/images/avatar.jpg" alt="Avatar">
            <p>1 evento do bem = aulas de matemática, português e histórias para as crianças do Projeto Aprender</p>
            <a href="#" class="btn btn-primary btn-block" role="button">Saiba mais sobre o projeto</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/images/avatar.jpg" alt="Avatar">
          <div class="caption">
            <img class="avatar" src="assets/images/avatar.jpg" alt="Avatar">
            <p>1 evento do bem = aulas de matemática, português e histórias para as crianças do Projeto Aprender</p>
            <a href="#" class="btn btn-primary btn-block" role="button">Saiba mais sobre o projeto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Se inspirou? Entre em ação e faça parte de tudo isso ;)</h1>
        <div class="form-buttons form-buttons-center">
          <a ui-sref="event.start" class="btn btn-lg btn-warning">
            Comece seu evento do bem
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
