<div class="how-it-works">
  <section class="container-fluid jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1>Como funciona</h1>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 col-md-offset-6 col-xs-offset-1">
            <div class="talk-ballon">
              <p>Vou explicar como criar seu evento</p>
            </div>
            <img src="assets/images/mascot/jonnhy-evb-blink.svg" class="mascot invert" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-badge purple">1</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  Escolha o tipo de evento que irá fazer, pode ser um <a href="#">aniversário</a>, <a href="#">corrida</a>, <a href="#">jantar</a>, etc.
                </h4>
                <!--<div class="timeline-body">
                  <p>Escolha o tipo de evento que irá fazer, pode ser um <a href="#">aniversário</a>, <a href="#">corrida</a>, <a href="#">jantar</a>, etc.</p>
                </div>-->
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge purple">2</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  Já sabe a causa que quer apoiar? você pode ver o nosso <a href="#">portfólio online</a> com indicações de causas fantásticas que apoiamos ou pedir para o responsável da Organização que quer ajudar que a cadastrem em nossa plataforma, <a href="#">por aqui</a>.
                </h4>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge purple">3</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  Clique no botão amarelo "comece seu evento" e personalize sua campanha com fotos, vídeos e um texto convidando seus amigos a contribuirem com sua campanha. Clicando no botão "publicar sua campanha" sua campanha já está no ar!
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge purple">4</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  Com sua campanha criada, divulgue em suas mídias sociais, e comunique para seus amigos a possibilidade de participarem de sua campanha apoiando uma grande causa. Se quiser saber mais, leia nosso <a href="#">ebook com dicas para bombar seu evento do bem</a> :)
                </h4>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge purple">5</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  Você receberá um relatório financeiro com todos os apoios e pessoas que ajudaram sua campanha, além disso, comprovaremos o seu impacto, desenvolvendo um relatório de impacto social <a href="#">como esse</a>!
                </h4>
              </div>
            </div>
          </li>
        </ul>
        <h4>Pronto! Agora você e seus conhecidos <br> podem impulsionar impacto social.</h4>
        <div class="form-buttons form-buttons-center">
          <a ui-sref="event.start" class="btn btn-lg btn-warning">
            Comece seu evento
          </a>
        </div>
      </div>
    </div>
  </section>
</div>