<div class="container">
  <header class="page-header text-center">
    <h1>Política de Privacidade e Termos de Compromisso</h1>
  </header>
  <article>
    <p>POLÍTICA DE PRIVACIDADE</p>
    <p>Esta Política de Privacidade tem como propósito explicitar a transparência e o compromisso da EVB em não divulgar informações
      pessoais dos USUÁRIO(S) de seu website, excetuando-se os casos descritos.</p>
    <p>1.DAS DEFINIÇÕES</p>
    <p>Para fins desta Política de Privacidade, aplicam-se as seguintes definições:</p>
    <p>1.1. EVB: é o acrônimo utilizado nesta Política de Privacidade para referir-se à proprietária deste site, A EVENTOS DO
      BEM, EMPRESA INDIVIDUAL, inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado de São Paulo,
      Av. Moaci, 2036, Planalto Paulista, 04083-005, doravante denominada “EVENTOS DO BEM”.</p>
    <p>1.2. VISITANTE: é qualquer pessoa física que navegue ou faça uso do site da EVENTOS DO BEM.</p>
    <p>1.3. USUÁRIO: é qualquer VISITANTE que esteja registrado no site da EVENTOS DO BEM.</p>
    <p>2.DO ARMAZENAMENTO DE INFORMAÇÕES</p>
    <p>2.1. A EVB terá conhecimento de todas as informações fornecidas pelo USUÁRIO na atualização de seu perfil e cadastro, exceto
      pela senha – que é pessoal e intransferível.</p>
    <p>2.2. A EVB não possuirá informações referentes a cartão de crédito e respectivas senhas, pois essas informações estão confiadas
      exclusivamente ao sistema de pagamento implementado na plataforma; no caso, o PayPal.</p>
    <p>2.3. As informações referentes à identidade do(s) APOIADOR(ES) e valor doado estarão sob o conhecimento do PayPal e do
      ORGANIZADOR, visto que esta é uma política pertencente ao referido sistema de pagamento.</p>
    <p>2.4. Caso a CAMPANHA possua RECOMPENSA, após sua finalização, o ORGANIZADOR do site será informado dos respectivo(s) nome(s)
      e dado(s) de contato do(s) APOIADOR(ES) a ser(em) recompensado(s).</p>
    <p>2.5. O(s) ORGANIZADOR(ES) reconhece(m) que, ao criar(em) sua CAMPANHA, ela estará acessível a qualquer VISITANTE do website,
      podendo ser curtida, comentada ou compartilhada em outros sites e mídias sociais.</p>
    <p>3.DO USO DE INFORMAÇÕES</p>
    <p>3.1. Os dados pessoais e informações do(s) USUÁRIO(S) poderão ser utilizados para as seguintes finalidades:</p>
    <p>3.1.1. Garantir a segurança do(s) USUÁRIO(S);</p>
    <p>3.1.2. Responder a eventuais dúvidas e solicitações;</p>
    <p>3.1.3. Cumprimento de ordem legal ou judicial;</p>
    <p>3.1.4. Constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo;</p>
    <p>3.1.5. Elaborar estatísticas gerais para identificação do perfil do(s) USUÁRIOS(S) e desenvolvimento de campanhas da EVB,
      mas sem realizar identificação pessoal.</p>
    <p>3.2. A base de dados formada pela EVB através da coleta dos dados deste website não será compartilhada, vendida ou alugada
      a terceiros.</p>
    <p>3.3. O USUÁRIO poderá exigir da EVB os dados registrados que lhe disserem respeito, da mesma forma que poderá solicitar
      sua alteração ou exclusão. Para tanto, o USUÁRIO deve entrar em contato através dos meios disponibilizados pelo website.</p>
    <p>3.4. A EVB somente divulgará informações ou dados pessoais que estiverem sob seu poder caso ou exista consentimento expresso
      do USUÁRIO em questão ou quando determinação legal ou judicial assim impuser.</p>
    <p>4.DAS DISPOSIÇÕES GERAIS</p>
    <p>4.1. A EVB se reserva o direito de atualizar ou modificar itens desta Política de Privacidade a qualquer momento, legando
      ao(s) VISITANTE(s) e/ou USUÁRIO(S) a responsabilidade de verificá-los sempre que navegarem pelo website da EVB.</p>
    <p>4.2. Ao navegar por este website e utilizar suas funcionalidades, o(s) VISITANTE(s) e/ou USUÁRIO(S) aceita(m) guiar‐se
      por esta Política de Privacidade.</p>
    <p>4.3. Em caso de dúvida ou discordância sobre os itens aqui apresentados, ou em qualquer outro documento do website, entrar
      em contato por meio do endereço de e-mail <a href="mailto:contato@eventosdobem.com.br">contato@eventosdobem.com.br</a>.</p>
    <p>5.DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</p>
    <p>Esta Política de Privacidade é regida pelas leis vigentes na República Federativa do Brasil. Nos assuntos concernentes
      à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro Central da Comarca
      do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
    <p>ATUALIZAÇÃO EM: 03/05/15.</p>
    <p>TERMOS DE COMPROMISSO COM O ORGANIZADOR<br><br></p>
    <p>A EVENTOS DO BEM, EMPRESA INDIVIDUAL, inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado
      de São Paulo, Av. Moaci, 2036, Planalto Paulista, 04083-005, doravante denominada EVB, expõe ao ORGANIZADOR as condições
      de criação de CAMPANHA(S) no site da EVB através destes termos, que consolidam o compromisso de boa‐fé do ORGANIZADOR
      com a EVB e com os potenciais APOIADORES, em complementação aos TERMOS DE USO e à POLÍTICA DE PRIVACIDADE do site EVB,
      cujo conhecimento e concordância pelo ORGANIZADOR são obrigatórios. Se não estiver de acordo com estas disposições, não
      prossiga com a criação de sua CAMPANHA.</p>
    <p>1. DAS RESPONSABILIDADES</p>
    <p>1.1.DA EVB:</p>
    <p>A.Disponibilizar condições em sua plataforma online para a criação, divulgação e visibilidade de CAMPANHA(S) criada(s)
      pelo(s) ORGANIZADOR(ES), de forma a permitir a arrecadação de recursos mediante o uso de um dos sistemas de pagamento
      disponíveis;</p>
    <p>B.Realizar a guarda dos valores doados pelo(s) APOIADOR(ES) e, conforme o desfecho da campanha, repassar os valores ao
      ORGANIZADOR;</p>
    <p>C.Empenhar-se de modo a permitir somente CAMPANHA(S) idônea(s) e lícita(s) em seu ambiente. Por isso, tem o direito de
      não deferir, não publicar, remover ou extinguir qualquer CAMPANHA que contrarie a legislação em vigor no Brasil ou os
      TERMOS DE USO, sem qualquer direito a indenização ao ORGANIZADOR e efetuando a devida devolução dos valores doados APOIADORES,
      sem que estes sejam prejudicados pelas taxas inerentes às transações financeiras necessárias à devolução;</p>
    <p>1.1.1.A EVB não se responsabiliza por:</p>
    <p>A.Medidas tomadas pelos APOIADORES que visem frustrar a doação ora conferida, independentemente de seus motivos, causas
      ou razões;</p>
    <p>B.Indisponibilidade do site EVB, no entanto, promete esforçar-se para que esse fique tão operante tanto quanto possível,
      conforme já descrito nos TERMOS DE USO do site EVB;</p>
    <p>C.Desapontamentos que o ORGANIZADOR eventualmente sofra em decorrência do desfecho da campanha que promoveu. A EVB não
      possui legitimidade para interferir ou controlar o que o(s) APOIADOR(ES) decidirá(ão) por fazer;</p>
    <p>D.Atos praticados pelo sistema de pagamento escolhido, tal qual os valores das tarifas e descontos aplicados em virtude
      da custódia, armazenamento, retirada, conversão do montante ou ato diverso que implique em pagamento pelo serviço contratado,
      nas formas da lei e dos Termos de Serviço do instituidor correspondente;</p>
    <p>1.2.DO ORGANIZADOR</p>
    <p>A.Elaborar sua CAMPANHA com base nos princípios da boa‐fé, veracidade e legalidade, atendendo integralmente aos TERMOS
      DE USO da EVB, sob pena de tomada das medidas indicadas em 1.1.A destes TERMOS DE COMPROMISSO;</p>
    <p>B.Ao estabelecer RECOMPENSAS, o ORGANIZADOR assume as obrigações previstas no artigo 854 e seguintes do Código Civil Brasileiro,
      tornando-se diretamente responsável pelo cumprimento da(s) RECOMPENSA(S) prometida(s) ao(s) APOIADOR(ES), sem qualquer
      responsabilidade, direta ou indireta, por parte da EVB. Assume ainda responsabilidade integral e exclusiva por tributos
      de quaisquer natureza incidentes sobre a(s) CAMPANHA(S), inclusive quanto a tributos incidentes sobre pagamentos relativos
      à sua arrecadação, isentando expressamente a EVB, conforme o ajuste entre as partes, de qualquer responsabilidade tributária,
      trabalhista ou previdenciária relativa à sua atividade e /ou arrecadação;</p>
    <p>C.Assumir todas as demandas judiciais que forem motivadas por ação ou omissão próprias, devendo requerer a exclusão da
      EVB do litígio e indenizá‐la das despesas originadas com honorários advocatícios e perdas e danos a que der causa, nas
      formas da lei;</p>
    <p>D.Reconhecer o direito da EVB em reter os valores pertinentes à prestação de serviços para a criação, divulgação e visibilidade
      de CAMPANHA(S) criada(s) pelo(s) ORGANIZADOR(ES) no momento da transmissão dos valores arrecadados, mediante o uso de
      um dos sistemas de pagamento disponíveis;</p>
    <p>E.Autorizar previamente a possibilidade da EVB fornecer os seus dados cadastrais aos APOIADORES sempre que houver descumprimento
      da promessa de recompensa ou fato danoso contra esses, além de reconhecer a legitimidade desse ato ao concordar com os
      presentes TERMOS DE COMPROMISSO;</p>
    <p>F.Ao criar sua CAMPANHA, o ORGANIZADOR tem conhecimento e aceita a possibilidade de compartilhamento da página de sua CAMPANHA
      em mídias sociais e sites de terceiros;</p>
    <p>2.DA CAMPANHA</p>
    <p>2.1.Ao optar livremente por criar uma CAMPANHA, o ORGANIZADOR poderá escolher entre:</p>
    <p>a)Ajudar quaisquer PROJETO(s) ou ENTIDADE(s) cadastrados na base de dados da EVB;</p>
    <p>b)Submeter à seleção e à aprovação a ENTIDADE que queira financiar com sua CAMPANHA;</p>
    <p>2.2.Após a escolha da ENTIDADE, bem como da categorização do EVENTO motivador da CAMPANHA, o ORGANIZADOR poderá criar uma
      ou mais METAS, que podem ter caráter:</p>
    <p>a)Financeiro, de modo que o valor total angariado é público;</p>
    <p>b)Temporal (i.e. uma data-limite);</p>
    <p>O ORGANIZADOR pode optar ainda por desabilitar a META, deixando o montante angariado somente a conhecimento da ENTIDADE
      beneficiada.</p>
    <p>3.DOS PROJETOS E DAS ENTIDADES APOIADOS</p>
    <p>3.1.Os PROJETOS e ENTIDADES propostos devem estar de acordo com a missão da EVB, descrita em (2.1) dos TERMOS DE USO deste
      documento.</p>
    <p>3.2.A aceitação dos projetos é de única e exclusiva decisão da equipe da EVB.</p>
    <p>3.3.Para garantir a veracidade, comprometimento ético e eficiência dos PROJETOS ou ENTIDADES promovidos pela EVB, toda
      ENTIDADE passará por uma prévia seleção pela comissão do website, podendo ou não ter seu cadastro aprovado.</p>
    <p>3.4.A EVB pode solicitar das ENTIDADES uma comprovação dos resultados obtidos pelos financiamentos adquiridos nas CAMPANHAS
      promovidas no website através de, mas não restrito a: cartas, vídeos, fotografias. Na eventualidade da não comprovação
      do destino do financiamento de acordo com o que fora especificado nas CAMPANHAS, ou mediante a falta de documentos que
      comprovem o emprego e resultados do financiamento adquirido em quaisquer CAMPANHAS criadas para beneficiar um PROJETO
      ou ENTIDADE específica, a EVB se reserva o direito de excluir permanentemente a ENTIDADE de seu cadastro, inviabilizando
      a criação de futuras CAMPANHAS que beneficiem a ENTIDADE banida.</p>
    <p>3.5.Com a finalização das CAMPANHAS, independentemente de ter(em) sido alcançada(s) ou superada(s) a(s) META(s) da CAMPANHA,
      caso existam, o valor total angariado é repassado ao PROJETO, deduzido de um percentual devido à EVB e das tarifas cobradas
      pelo serviço de pagamento utilizado.</p>
    <p>3.6.A EVB se reserva o direito de selecionar e garantir previamente a legalidade e adequação da(s) ENTIDADE(s) e de seu(s)
      respectivo(s) PROJETO(s) à proposta da plataforma, sendo possível a indicação de novos PROJETO(s) pelo endereço de e-mail:
      contato@eventosdobem.com.br.</p>
    <p>4.DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</p>
    <p>Esta POLÍTICA DE PRIVACIDADE é regida pelas leis vigentes na República Federativa do Brasil. Nos assuntos concernentes
      à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro Central da Comarca
      do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
    <p>ATUALIZAÇÃO EM: 03/05/15.</p>
    <p>TERMOS DE COMPROMISSO COM O APOIADOR<br><br></p>
    <p>A EVENTOS DO BEM, EMPRESA INDIVIDUAL, inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado
      de São Paulo, Av. Moaci, 2036, Planalto Paulista, 04083-005, doravante denominada EVB, expõe ao APOIADOR as condições
      de doação a CAMPANHA(S) no site da EVB através destes termos, que consolidam o compromisso de boa‐fé do APOIADOR com
      a EVB e com os potenciais ORGANIZADORES, em complementação aos TERMOS DE USO e à POLÍTICA DE PRIVACIDADE do site EVB,
      cujo conhecimento e concordância pelo APOIADOR são obrigatórios. Se não estiver de acordo com estas disposições, não
      prossiga com a sua doação à CAMPANHA em questão.</p>
    <p>1. DAS RESPONSABILIDADES</p>
    <p>1.1.DA EVB:</p>
    <p>A.Realizar a guarda dos valores doados pelo(s) APOIADOR(ES) e, conforme o desfecho da CAMPANHA, ou repassar os valores
      ao ORGANIZADOR, ou efetuar a devolução do montante ao(s) APOIADOR(ES), de acordo com as características da CAMPANHA;</p>
    <p>B.Fornecer os dados cadastrais do(s) ORGANIZADOR(ES) ao(s) APOIADOR(ES) em caso de descumprimento de promessa de RECOMPENSA
      ou fato danoso que der causa para que possam tomar as medidas legais cabíveis;</p>
    <p>C.Empenhar-se de modo a permitir somente CAMPANHA(S) idônea(s) e lícita(s) em seu ambiente. No entanto, pode(m) existir
      CAMPANHA(S) com propósitos contrários ao site ou que contrarie(m) os TERMOS DE USO, devendo o(s) USUÁRIO(S) da plataforma
      ficar(em) atento(s), pois é impossível assegurar tal premissa de forma absoluta;</p>
    <p>D.Comunicar o(s) APOIADOR(ES) caso haja alguma eventualidade no processamento ou envio de sua doação;</p>
    <p>1.1.1.A EVB não se responsabiliza por:</p>
    <p>A.Pela inadimplência da(s) RECOMPENSA(S) oferecida(s) pelo(s) ORGANIZADOR;</p>
    <p>B.Pela veracidade das informações veiculadas pelo ORGANIZADOR. Por isso, sempre utilize fontes adicionais de busca e pesquisa
      para ter certeza de sua idoneidade;</p>
    <p>C.Frustrações que o ORGANIZADOR eventualmente sofra em decorrência do desfecho da CAMPANHA que promoveu. A EVB não possui
      legitimidade para interferir ou controlar o que o(s) APOIADOR(ES) decidirá(ão) por fazer;</p>
    <p>D.Pelos atos praticados pelo sistema de pagamento escolhido, tal qual os valores das tarifas e descontos aplicados em virtude
      da custódia, armazenamento, retirada, conversão do montante ou ato diverso que implique em pagamento pelo serviço contratado,
      nas formas da lei e dos Termos de Serviço do instituidor correspondente;</p>
    <p>1.2.DO APOIADOR</p>
    <p>A.Efetuar livremente uma doação de valor à sua escolha a uma CAMPANHA com que deseja contribuir e ficar atento à sua conclusão
      após o período de duração, para ter conhecimento da obrigação da entrega de RECOMPENSA pelo ORGANIZADOR, se for o caso;</p>
    <p>B.Aceitar que seu nome e mensagens serão publicados no site da EVB na página da CAMPANHA a que contribuiu, exceto quando
      optar pela colaboração anônima;</p>
    <p>C.Após confirmada a doação, o APOIADOR considerará o ato como irretratável, irrevogável, imodificável, autêntico e legítimo,
      devendo responder pelas perdas e danos causados por atos que provocar, a exemplo, mas não se restringindo, ao não reconhecimento
      da operação junto à instituição financeira que controla seu cartão de crédito;</p>
    <p>D.Como exceção, poderá reclamar o APOIADOR da sua doação e exigir o cancelamento, caso descubra fato novo em relação ao
      ato da colaboração que torne insustentável a confiança no ORGANIZADOR ou os motivos da CAMPANHA, justificando suas intenções
      diretamente à EVB e arcando com eventuais tarifas e despesas devidas ao instituidor de pagamentos escolhido;</p>
    <p>E.Em casos de não cumprimento das obrigações por parte do ORGANIZADOR, o APOIADOR deverá proceder com sua execução forçada
      e, sob nenhuma hipótese, revogar a doação aqui confirmada;</p>
    <p>F.Além de todas as informações públicas no site, quando uma CAMPANHA chegar ao fim, a ENTIDADE responsável e o ORGANIZADOR
      serão informados dos nomes, valores doados e e-mails de todos os APOIADORES;</p>
    <p>2.DOS PROJETOS E DAS ENTIDADES APOIADOS</p>
    <p>2.1.Os PROJETOS e ENTIDADES propostos devem estar de acordo com a missão da EVB, descrita em (2.1) dos TERMOS DE USO deste
      documento.</p>
    <p>2.2.A aceitação dos projetos é de única e exclusiva decisão da equipe da EVB.</p>
    <p>2.3.Para garantir a veracidade, comprometimento ético e eficiência dos PROJETOS ou ENTIDADES promovidos pela EVB, toda
      ENTIDADE passará por uma prévia seleção pela comissão do website, podendo ou não ter seu cadastro aprovado.</p>
    <p>2.4.A EVB pode solicitar das ENTIDADES uma comprovação dos resultados obtidos pelos financiamentos adquiridos nas CAMPANHAS
      promovidas no website através de, mas não restrito a: cartas, vídeos, fotografias. Na eventualidade da não comprovação
      do destino do financiamento de acordo com o que fora especificado nas CAMPANHAS, ou mediante a falta de documentos que
      comprovem o emprego e resultados do financiamento adquirido em quaisquer CAMPANHAS criadas para beneficiar um PROJETO
      ou ENTIDADE específica, a EVB se reserva o direito de excluir permanentemente a ENTIDADE de seu cadastro, inviabilizando
      a criação de futuras CAMPANHAS que beneficiem a ENTIDADE banida.</p>
    <p>2.5.Com a finalização das CAMPANHAS, independentemente de ter(em) sido alcançada(s) ou superada(s) a(s) META(s) da CAMPANHA,
      caso existam, o valor total angariado é repassado ao PROJETO, deduzido de um percentual devido à EVB e das tarifas cobradas
      pelo serviço de pagamento utilizado.</p>
    <p>2.6.A EVB se reserva o direito de selecionar e garantir previamente a legalidade e adequação da(s) ENTIDADE(s) e de seu(s)
      respectivo(s) PROJETO(s) à proposta da plataforma, sendo possível a indicação de novos PROJETO(s) pelo endereço de e-mail:
      contato@eventosdobem.com.br.</p>
    <p>3.DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</p>
    <p>Esta POLÍTICA DE PRIVACIDADE é regida pelas leis vigentes na República Federativa do Brasil. Nos assuntos concernentes
      à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro Central da Comarca
      do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
    <p>ATUALIZAÇÃO EM: 03/05/15.</p>
  </article>
</div>