<div class="container">
  <header class="page-header">
    <h1>Termos de uso</h1>
  </header>
  <article>
    <p>Seja bem-vindo(a) à Eventos do Bem! A leitura e aceitação dos termos de uso a seguir são indispensáveis para o acesso pleno
      ao conteúdo deste website, bem como para a utilização dos serviços oferecidos por EVENTOS DO BEM, EMPRESA INDIVIDUAL,
      inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado de São Paulo, Av. Moaci, 2036, Planalto
      Paulista, 04083-005‏, doravante denominada “EVENTOS DO BEM”.
    </p>
    <p>Estes termos e condições definem os direitos e obrigações que se estabelecem entre qualquer pessoa física e a EVENTOS DO
      BEM quando da utilização do website <a href="http://www.eventosdobem.com.br">http://www.eventosdobem.com.br</a> e de
      quaisquer serviços disponíveis nele ou fornecidos pela EVENTOS DO BEM, o que inclui qualquer widget da EVENTOS DO BEM.
      Ao usar ou acessar o website, o(s) serviço(s) ou um widget da EVENTOS DO BEM, seja por meio manual, seja por meio automático,
      a pessoa física em questão concorda com os termos e condições de uso aqui propostos.
    </p>
    <p>Em caso de dúvida sobre as condições aqui estabelecidas ou em qualquer outro documento do website, entrar em contato por
      meio do endereço de e-mail
      <a href="mailto:contato@eventosdobem.com.br">
        <u>contato@eventosdobem.com.br</u>
      </a>.</p>
    <p><strong>1. DAS DEFINIÇÕES</strong></p>
    <p style="margin-left: 40px;">Para fins deste documento, fazem-se necessárias as seguintes definições:
    </p>
    <p style="margin-left: 40px;">VISITANTE: é qualquer pessoa física que navegue ou faça uso do site da EVENTOS DO BEM.
    </p>
    <p style="margin-left: 40px;">USUÁRIO: é qualquer VISITANTE que esteja registrado no site da EVENTOS DO BEM.
    </p>
    <p style="margin-left: 40px;">ENTIDADE: entidades sem fins lucrativos ou empreendedores sociais cadastrados na plataforma online da EVENTOS DO BEM.
    </p>
    <p style="margin-left: 40px;">PROJETO: é um projeto que possui impacto social e/ou ambiental promovido por uma ENTIDADE.
    </p>
    <p style="margin-left: 40px;"><br>EVENTO: é qualquer evento significativo que motiva a angariação de fundos para um PROJETO.
    </p>
    <p style="margin-left: 40px;">CAMPANHA: é uma campanha, criada na plataforma online da EVENTOS DO BEM, que angaria fundos para um PROJETO, tendo um EVENTO
      como motivador.
    </p>
    <p style="margin-left: 40px;">ORGANIZADOR: é um USUÁRIO, ou conjunto de USUÁRIO(s), interessado em viabilizar algum PROJETO através da criação de uma
      CAMPANHA. É o responsável por definir a natureza do EVENTO.
    </p>
    <p style="margin-left: 40px;">APOIADOR: é o USUÁRIO interessado em colaborar financeiramente com CAMPANHA(s).
    </p>
    <p style="margin-left: 40px;">RECOMPENSA: produto(s) ou serviço(s) oferecido(s) pelo ORGANIZADOR, sob sua exclusiva responsabilidade, em uma CAMPANHA,
      como agradecimento ao(s) APOIADOR(es) por determinada contribuição.
    </p>
    <p style="margin-left: 40px;">META: valor(es)-alvo ou objetivo(s) disposto(s) por cada ORGANIZADOR em sua CAMPANHA.</p>
    <p><strong>2. DA EVENTOS DO BEM</strong></p>
    <p style="margin-left: 40px;">2.1. A EVENTOS DO BEM é uma plataforma online de financiamento coletivo, categoria mundialmente conhecida como <em>crowdfunding</em>,
      que permite que pessoas criem campanhas de arrecadação de fundos para financiar projetos de alto impacto social e/ou
      ambiental de entidades beneficentes ou empreendimentos sociais, utilizando como motivador eventos de importância pessoal
      - aniversários, bodas de casamento, corridas de rua, entre outros.
    </p>
    <p style="margin-left: 40px;">2.2. O objetivo da EVENTOS DO BEM é financiar PROJETO(S), portanto não serão aceitos projetos que prometam retorno financeiro
      aos colaboradores como sorteios, participações societárias, rifas ou jogos de azar. Também não serão permitidos quaisquer
      projetos com conteúdo imoral, ilegal, racista ou que esteja em desacordo com qualquer aspecto destes TERMOS DE USO e
      com a moral e bons costumes da legislação vigente.
    </p>
    <p><strong>3. DO ACESSO AO WEBSITE</strong>
    </p>
    <p style="margin-left: 40px;">3.1. Este website é dedicado à hospedagem do website da EVB, cuja atividade é organizar a arrecadação de fundos para o
      desenvolvimento de projetos de impacto social e/ou ambiental através de campanhas motivadas por eventos de importância
      pessoal.
    </p>
    <p style="margin-left: 40px;">3.2. É vetado a VISITANTE(S) e/ou USUÁRIO(S) o acesso a áreas de programação deste website, seu banco de dados ou qualquer
      outro conjunto de informações que faça parte da atividade de gerenciamento do website, ficando sujeito quem o fizer à
      legislação penal brasileira e obrigado a reparar os danos que porventura causar.
    </p>
    <p style="margin-left: 40px;">3.3. São vetadas a VISITANTE(S) e/ou USUÁRIO(S) as práticas de: engenharia reversa, tradução, decompilação de código, cópia,
      modificação, reprodução, sublicenciamento, publicação, divulgação, transmissão, empréstimo, distribuição ou qualquer
      outra maneira de disposição das funcionalidades deste website.
    </p>
    <p style="margin-left: 40px;">3.4. É vetada a utilização de aplicativos de mineração de dados, de qualquer tipo ou espécie, que funcionem não só para
      realizar operações massificadas como para quaisquer outras finalidades, sob pena da aplicação da legislação penal brasileira
      e da indenização dos danos que decorrerem dessa utilização.
    </p>
    <p style="margin-left: 40px;">3.5. É ônus do(s) VISITANTE(S) e/ou USUÁRIO(S) tomar para si os custos necessários para navegar neste website, incluindo
      os requisitos para o acesso à internet.</p>
    <p style="margin-left: 40px;"><strong>4. DO FUNCIONAMENTO DO WEBSITE</strong></p>
    <p style="margin-left: 60px;">4.1. Este website pode passar por constantes aprimoramentos e atualizações, não ficando obrigado à EVB manter uma estrutura
      ou layout, se não por sua própria conveniência.
    </p>
    <p style="margin-left: 60px;">4.2. A EVB trabalha para a disponibilidade contínua e permanente do website, ficando sujeita, todavia, a eventos extraordinários,
      como desastres naturais, falhas ou colapsos nos sistemas centrais de comunicação e acesso à internet ou fatos de terceiros,
      que fogem de sua esfera de vigilância e responsabilidade.
    </p>
    <p style="margin-left: 60px;">4.3. A EVB não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento dos visitantes e usuários causados
      por falhas no sistema, no servidor ou na conexão à internet, ainda que decorrentes de condutas de terceiros, inclusive
      por ações de softwares maliciosos como vírus, cavalos de tróia, e outros que possam, de algum modo, danificar o equipamento
      ou a conexão dos VISITANTE(S) e/ou USUÁRIO(S) em decorrência do acesso, utilização ou navegação neste website, bem como
      a transferência de dados, arquivos, imagens, textos, áudios ou vídeos contidos no mesmo.
    </p>
    <p style="margin-left: 60px;">4.4. O(s) VISITANTE(S) e/ou USUÁRIO(S) não possuem qualquer direito para exigir a disponibilidade do website conforme melhor
      lhes convêm, nem poderão pleitear indenização ou reparação de danos caso este website permaneça fora do ar, independente
      da motivação.
    </p>
    <p style="margin-left: 60px;">4.5. A EVB não detém qualquer responsabilidade pela navegação do(s) VISITANTE(S) e/ou USUÁRIO(S) nos links externos contidos
      no website, sendo o dever deles a leitura dos Termos de Uso e Política de Privacidade do site acessado e agir conforme
      o determinado.
    </p>
    <p style="margin-left: 60px;">4.5.1. A EVB não verifica, controla, aprova ou garante a adequação ou exatidão das informações ou dados disponibilizados
      em tais links, não sendo, portanto, responsável por prejuízos, perdas ou danos ocorridos pela visita de tais sites, cabendo
      ao(s) VISITANTE(S) e/ou USUÁRIO(S) verificar a confiabilidade das informações e dados ali exibidos antes de utilizá-los.
    </p>
    <p style="margin-left: 60px;">4.5.2. Perdas, danos ou prejuízos ocasionados por atrasos, defeitos, erros ou omissões que possam existir nos sistemas
      ou serviços disponibilizados pelos sites referidos acima, não são de responsabilidade da EVB, mas sim de seu respectivo
      administrador.
    </p>
    <p style="margin-left: 60px;">4.6. A EVB não se responsabiliza pelos atos praticados por VISITANTE(S) e/ou USUÁRIO(S) em seu website, devendo cada um
      ser imputado de acordo com a qualidade do uso da plataforma.</p>
    <p style="margin-left: 60px;"><strong>5. DAS OBRIGAÇÕES DO WEBSITE</strong></p>
    <p style="margin-left: 80px;">5.1. A EVB se obriga com VISITANTE(S) e USUÁRIO(S):
    </p>
    <p style="margin-left: 80px;">5.1.1. Zelar pela segurança do ambiente virtual no que disser respeito às suas operações de gerenciamento de dados, garantindo
      o sigilo e a confidencialidade dos dados inseridos nas funcionalidades oferecidas pelo website, salvo por violação no
      sistema ou base de dados da EVB, hipótese na qual a EVB não se responsabilizaria por danos provindos dessa prática ilegal
      e danosa.
    </p>
    <p style="margin-left: 80px;">5.1.2. Preservar a funcionalidade do site, com links não quebrados, utilizando layout que respeita a usabilidade, segurança
      e navegabilidade, facilitando a navegação sempre que possível e garantindo um ambiente confiável para processar suas
      operações.</p>
    <p><strong>6. DAS OBRIGAÇÕES DO VISITANTE</strong></p>
    <p style="margin-left: 60px;">6.1. O(s) VISITANTE(S) e/ou USUÁRIO(S) se obrigam a realizar uma navegação com retidão ética, sempre respeitando as condições
      que regem a utilização deste website.
    </p>
    <p style="margin-left: 60px;">6.2. Ao fornecer dados e informações, o(s) USUÁRIO(S) se obriga(m) a fazê-lo sempre com veracidade, sob pena da aplicação
      das penas da lei e de exclusão da conta de acesso do(s) USUÁRIO(S) em questão ao presente website.
    </p>
    <p style="margin-left: 60px;">6.3. O(s) VISITANTE(S) e/ou USUÁRIO(S) deve(m) utilizar os recursos do presente website somente para as finalidades que
      foi constituído. Na situação em que eventuais danos incidam ao website ou a terceiros, o responsável se compromete, sob
      pena da aplicação das penas da lei, a tomar sobre si todas as obrigações decorrentes do fato, incluindo indenizar o sujeito
      lesado, não devendo a EVB responder por quaisquer prejuízos, e sob pena de exclusão da conta de acesso do(s) USUÁRIO(S)
      em questão ao presente website.
    </p>
    <p style="margin-left: 60px;">6.4. O(s) USUÁRIO(S) deve(m) manter o sigilo dos dados de sua conta de acesso e demais dispositivos de autenticação em
      relação a terceiros, não os divulgando ou compartilhando com quem quer que seja, sob pena de exclusão da conta e de ter(em)
      de ressarcir os danos decorrentes dessa divulgação indevida.
    </p>
    <p><strong>7. DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL</strong>
    </p>
    <p style="margin-left: 40px;">7.1. O uso comercial da expressão EVENTOS DO BEM como marca, nome empresarial ou nome de domínio, além dos conteúdos das
      telas do website são de propriedade da EVB e estão protegidos pela Lei de Direitos Autorais (lei nº 9.610, de 19 de fevereiro
      de 1998) e pela Lei de Propriedade Industrial (lei n° 9.279, de 14 de maio de 1996).
    </p>
    <p style="margin-left: 40px;">7.2. Ao acessar este website, o(s) VISITANTE(S) e/ou USUÁRIO(S) declara(m) respeito por todos os direitos de propriedade
      intelectual registrados em nome da EVB, bem como por todos os direitos relativos a terceiros presentes no website.
    </p>
    <p style="margin-left: 40px;">7.3. É proibida a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras, gráficos e demais conteúdos
      que compõem as telas do presente website, sem prévia e expressa autorização da EVB, sendo permitida somente a impressão
      de cópias para uso e arquivo pessoal, sem que sejam separadas as partes que permitam dar o fiel e real entendimento de
      seu conteúdo e objetivo e sem que, em nenhuma circunstância, o(s) VISITANTE(S) e/ou USUÁRIO(S) adquira(m) qualquer direito
      sobre esses conteúdos.
    </p>
    <p style="margin-left: 40px;">7.4. O(s) VISITANTE(S) e/ou USUÁRIO(S) assume(m) qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização
      indevida de qualquer direito de propriedade intelectual ou industrial deste website, que estará sujeita às sanções cabíveis
      na Lei de Direitos Autorais (lei nº 9.610, de 19 de fevereiro de 1998) e na Lei de Propriedade Industrial (lei n° 9.279,
      de 14 de maio de 1996).
    </p>
    <p style="margin-left: 40px;">7.5. A utilização das funcionalidades oferecidas é considerada prestação de serviço, de modo que VISITANTE(S) e/ou USUÁRIO(S)
      não recebem nenhum direito sobre software utilizado pela EVB ou sobre suas estruturas de informática.
    </p>
    <p style="margin-left: 40px;">7.6. Excetuando-se colocação específica prevista em contrato entre o(s) VISITANTE(S) e/ou USUÁRIO(S) com a EVB, estes retêm
      os direitos autorais que já possuírem sobre conteúdos enviados ao website, tais como, mas não somente: comentários, vídeos,
      imagens, áudio e mensagens. Contudo, concedem à EVB uma licença irrevogável, perpétua, mundial, irrestrita, isenta de
      royalties e não exclusiva de reprodução, adaptação, modificação, tradução, publicação, distribuição ou exibição no próprio
      website da EVB.
    </p>
    <p style="margin-left: 40px;">7.7. Se o(s) VISITANTE(S) e/ou USUÁRIO(S) enviar(em) sugestão(ões) para a EVB por meio do website da EVB que diga(m) respeito
      a ideias para novos serviços EVB, melhorias nos serviços já existentes ou qualquer outra ação de marketing a ser realizada
      pela EVB, elas deixarão de pertencer ao patrimônio imaterial do(s) VISITANTE(S) e/ou USUÁRIO(S), ingressando no da EVB,
      nada podendo ser reclamado neste sentido, especialmente compensação monetária pelo que foi enviado ou por implicações
      decorrentes da implementação das ideias enviadas.
    </p>
    <p><strong>8. DAS FUNCIONALIDADES DO WEBSITE</strong>
    </p>
    <p style="margin-left: 40px;">8.1. O website apresenta a seu(s) VISITANTE(S) e/ou USUÁRIO(S) uma plataforma que cria CAMPANHA(S), motivadas por eventos
      de importância pessoal, para a arrecadação de fundos que financiem projetos de impacto social e/ou ambiental de ENTIDADE(s).
    </p>
    <p style="margin-left: 40px;">8.1.1. É vetada utilização da plataforma por menores de 18 anos. Caso seja verificada idade inferior ao estipulado, a EVENTOS
      DO BEM se reserva o direito de cancelar de imediato o cadastro do USUÁRIO em questão. Caso seja questionada a veracidade
      de alguma das informações fornecidas ao usuário, a EVENTOS DO BEM pode requerer a comprovação via documentos, por ocasião
      de ser constatada qualquer fraude, furto de dados ou qualquer violação dos TERMOS DE USO ou POLÍTICA DE PRIVACIDADE do
      site, a EVENTOS DO BEM pode cancelar e bloquear o registro do USUÁRIO.
    </p>
    <p style="margin-left: 40px;">8.1.2. No cadastro de pessoa jurídica, é necessário informar a identidade da pessoa física responsável pela conta, e ela
      deve cumprir os critérios de idade acima definidos.
    </p>
    <p style="margin-left: 40px;">8.2. A EVB se reserva o direito de alterar os critérios de acesso ao website a qualquer momento. Também possui a faculdade
      de se recusar a conceder conta de acesso a qualquer VISITANTE ou ENTIDADE cuja conta de acesso já tenha sido excluída
      por descumprimento prévio destes Termos de Uso ou de outro documento legal do website da EVB.
    </p>
    <p style="margin-left: 40px;">8.3. Ao contribuir(em) com as CAMPANHA(s) existentes, o(s) APOIADOR(ES) não adquire(m) qualquer direito à propriedade intelectual
      dos conteúdos enviados pelo(s) ORGANIZADOR(ES).
    </p>
    <p style="margin-left: 40px;">8.4. O(S) USUÁRIO(S) está(ão) ciente(s) de que deverá(ão) possuir cadastro em um dos sistemas de pagamento que o EVB aceita
      em sua plataforma. Assim, deverá(ão) ler atentamente aos Termos de Serviço respectivos para que eleja(m) qual utilizará(ão).
    </p>
    <p style="margin-left: 40px;">8.4.1. Ao utilizar(em) esses sistemas de pagamento, fica claro que poderá haver aplicação de tarifas sobre o montante arrecadado.
    </p>
    <p style="margin-left: 40px;">8.5. Se o ORGANIZADOR oferecer mais de uma RECOMPENSA, o APOIADOR poderá escolher a que melhor lhe agrada no momento da
      contribuição, desde que atenda ao valor mínimo necessário.
    </p>
    <p style="margin-left: 40px;">8.6. A EVB se reserva o direito de excluir CAMPANHA(s) e conteúdos enviados por USUÁRIO(S), a qualquer tempo, sem aviso
      prévio e nenhum direito a indenização a quem quer que seja, que contiverem: ofensa à honra, imagem, reputação e dignidade
      de terceiros; pornografia, pedofilia, e outras modalidades de satisfação sexual; racismo ou discriminação de qualquer
      natureza; bullying, stalking ou qualquer outra espécie de constrangimento ilegal ou assédio ao bem-estar psíquico de
      alguém; violação a direito autoral ou direito de imagem; utilização de marcas, símbolos, logotipos ou emblemas de terceiros;
      instigação ou apologia à prática de crimes, como tráfico ou uso de entorpecentes, estupro, homicídio, estelionato, dentre
      outros; prática de ato contrário à lei, à ordem pública ou aos bons costumes; uso de violência, disseminação de ódio
      ou qualquer outra forma de agressão ao bem-estar físico de alguém; atividade comercial que utilize a plataforma online
      da EVB para angariar recursos através de publicidade de terceiros, ao invés de praticar a interação regular do ambiente.
    </p>
    <p style="margin-left: 40px;">8.7. O(s) VISITANTE(S) poderá(ão) se valer do canal de “Contato” toda vez que presenciar(em) ou verificar(em) conteúdo
      impróprio no website.
    </p>
    <p style="margin-left: 40px;">8.7.1. A denúncia será sigilosa e preservará a identidade do visitante.
    </p>
    <p style="margin-left: 40px;">8.8. Os conteúdos enviados por USUÁRIO(S) e publicados no website da EVB não deverão ser interpretados como opinião da
      EVB, nem mesmo declaração de concordância com o que foi publicado. O(s) USUÁRIO(S) é(são) inteiramente responsável(is)
      pelos conteúdos que submeter(em) ao website.
    </p>
    <p style="margin-left: 40px;">8.9. O(s) USUÁRIO(S) autoriza(m) a EVB a divulgar amplamente as CAMPANHA(S) em execução e aqueles que promoveram as colaborações
      nos mais diversos meios de comunicação e mídias, de modo a aumentar o alcance da CAMPANHA, sem a exigência de remuneração
      ou contraprestação qualquer resultante dessa disseminação.
    </p>
    <p><strong>9. DAS TAXAS E PAGAMENTOS</strong>
    </p>
    <p style="margin-left: 40px;">9.1. O valor total arrecadado será transferido para a conta da ENTIDADE elaboradora do PROJETO, exceto por 9%, que contempla
      a taxa de intermediação da EVB, bem como as tarifas cobradas pelos meios de pagamento.
    </p>
    <p style="margin-left: 40px;">9.2. Todas as transações e operações utilizarão o Real Brasileiro como câmbio (BRL).
    </p>
    <p style="margin-left: 40px;">9.3. Encerrado o período de apuração da CAMPANHA, alcançando a META (se existir), independentemente da sua espécie, a EVB
      transferirá os valores arrecadados à ENTIDADE no período de até 14 dias úteis após o recebimento pelo sistema de pagamento.
    </p>
    <p style="margin-left: 40px;">9.4. O ORGANIZADOR é o único responsável por acompanhar a CAMPANHA, através de informações fornecidas subsidiariamente,
      por detalhes enviados pela EVB. Por isso, está ciente que a EVB não tem nenhuma obrigação de enviar status sobre as campanhas.
    </p>
    <p style="margin-left: 40px;">9.5. Também, a EVB não possui qualquer responsabilidade, direta ou indireta, sobre as informações fornecidas pelo ORGANIZADOR
      sobre a(s) CAMPANHA(S), seja ela em relação ao seu desenvolvimento, RECOMPENSA(S) oferecidas, META(S) ou relacionada
      a qualquer outro tipo de detalhe.
    </p>
    <p style="margin-left: 40px;">9.6. A EVB não oferece nenhuma garantia em relação às contribuições realizadas pelos sistemas de pagamento e nem responde
      por falhas no cartão de crédito ou transferências bancárias, já que as plataformas de pagamentos são independentes do
      website da EVB.</p>
    <p><strong>10. DA COMUNICAÇÃO DO WEBSITE COM SEUS USUÁRIOS</strong></p>
    <p style="margin-left: 40px;">10.1. A EVB poderá fazer uso de todos os canais de comunicação fornecidos e autorizados com seu(s) VISITANTE(S) e/ou USUÁRIO(S),
      nas suas mais diversas modalidades: e-mail, ligação telefônica ou envio de texto por SMS.
    </p>
    <p style="margin-left: 40px;">10.1.1. A responsabilidade pelo recebimento dos comunicados é exclusiva do(s) VISITANTE(S) e/ou USUÁRIO(S), por isso é
      indispensável a veracidade, precisão e atualização dos dados fornecidos.
    </p>
    <p style="margin-left: 40px;">10.1.2. É responsabilidade do(s) VISITANTE(S) e/ou USUÁRIO(S) a configuração de seus sistemas anti-spam de modo que não
      interfiram no recebimento de comunicados e materiais do website da EVB, não sendo aceitável nenhuma justificativa caso
      não tenha(m) tido acesso a algum e-mail em virtude desse bloqueio ou filtro similar e venha(m) porventura a ser prejudicado(s)
      pela desinformação decorrente desse ocorrido.
    </p>
    <p><strong>11.</strong> <strong>DAS DISPOSIÇÕS GERAIS</strong>
    </p>
    <p style="margin-left: 40px;">11.1. A EVB se reserva o direito de atualizar ou modificar itens destes Termos de Uso a qualquer momento, legando ao(s)
      VISITANTE(s) e/ou USUÁRIO(S) a responsabilidade de verificá-los sempre que navegarem pelo website da EVB.
    </p>
    <p style="margin-left: 40px;">11.2. Ao navegar por este website e utilizar suas funcionalidades, o(s) VISITANTE(s) e/ou USUÁRIO(S) aceita(m) guiar‐se
      por esta Política de Privacidade.
    </p>
    <p style="margin-left: 40px;">11.3. Em caso de dúvida ou discordância sobre os itens aqui apresentados, ou em qualquer outro documento do website, entrar
      em contato por meio do endereço de e-mail
      <a href="mailto:contato@eventosdobem.com.br">
        <u>contato@eventosdobem.com.br</u>
      </a>.<br><br>
    </p>
    <p><strong>DOS TERMOS DE COMPROMISSO COM O ORGANIZADOR</strong><strong><br><br></strong>
    </p>
    <p style="margin-left: 40px;">A EVENTOS DO BEM, EMPRESA INDIVIDUAL, inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado
      de São Paulo, Av. Moaci, 2036, Planalto Paulista, 04083-005, doravante denominada EVB, expõe ao ORGANIZADOR as condições
      de criação de CAMPANHA(S) no site da EVB através destes termos, que consolidam o compromisso de boa‐fé do ORGANIZADOR
      com a EVB e com os potenciais APOIADORES, em complementação aos TERMOS DE USO e à POLÍTICA DE PRIVACIDADE do site EVB,
      cujo conhecimento e concordância pelo ORGANIZADOR são obrigatórios. Se não estiver de acordo com estas disposições, não
      prossiga com a criação de sua CAMPANHA.
    </p>
    <p><strong>11.1. DAS RESPONSABILIDADES</strong>
    </p>
    <p style="margin-left: 20px;"><strong>11.1.1. DA EVB:</strong>
    </p>
    <p style="margin-left: 40px;">A. Disponibilizar condições em sua plataforma online para a criação, divulgação e visibilidade de CAMPANHA(S) criada(s)
      pelo(s) ORGANIZADOR(ES), de forma a permitir a arrecadação de recursos mediante o uso de um dos sistemas de pagamento
      disponíveis;</p>
    <p style="margin-left: 40px;">B. Realizar a guarda dos valores doados pelo(s) APOIADOR(ES) e, conforme o desfecho da campanha, repassar os valores ao
      ORGANIZADOR;</p>
    <p style="margin-left: 40px;">C. Empenhar-se de modo a permitir somente CAMPANHA(S) idônea(s) e lícita(s) em seu ambiente. Por isso, tem o direito de
      não deferir, não publicar, remover ou extinguir qualquer CAMPANHA que contrarie a legislação em vigor no Brasil ou os
      TERMOS DE USO, sem qualquer direito a indenização ao ORGANIZADOR e efetuando a devida devolução dos valores doados APOIADORES,
      sem que estes sejam prejudicados pelas taxas inerentes às transações financeiras necessárias à devolução;</p>
    <p style="margin-left: 20px;"><br><strong>11.1.1.1 A EVB não se responsabiliza por:</strong></p>
    <p style="margin-left: 40px;">A. Medidas tomadas pelos APOIADORES que visem frustrar a doação ora conferida, independentemente de seus motivos, causas
      ou razões;<br>Indisponibilidade do site EVB, no entanto, promete esforçar-se para que esse fique tão operante tanto quanto
      possível, conforme já descrito nos TERMOS DE USO do site EVB;</p>
    <p style="margin-left: 40px;">B. Frustrações que o ORGANIZADOR eventualmente sofra em decorrência do desfecho da campanha que promoveu. A EVB não possui
      legitimidade para interferir ou controlar o que o(s) APOIADOR(ES) decidirá(ão) por fazer;</p>
    <p style="margin-left: 40px;">C. Atos praticados pelo sistema de pagamento escolhido, tal qual os valores das tarifas e descontos aplicados em virtude
      da custódia, armazenamento, retirada, conversão do montante ou ato diverso que implique em pagamento pelo serviço contratado,
      nas formas da lei e dos Termos de Serviço do instituidor correspondente;</p>
    <p style="margin-left: 20px;"><span></span><strong>11.1.2  DO ORGANIZADOR</strong></p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;">A. Elaborar sua CAMPANHA com base nos princípios da boa‐fé, veracidade e legalidade, atendendo integralmente aos TERMOS
      DE USO da EVB, sob pena de tomada das medidas indicadas em 1.1.A destes TERMOS DE COMPROMISSO;</p>
    <p style="margin-left: 40px;"
      rel="margin-left: 40px;">B. Ao estabelecer RECOMPENSAS, o ORGANIZADOR assume as obrigações previstas no artigo 854 e seguintes do Código Civil Brasileiro,
      tornando-se diretamente responsável pelo cumprimento da(s) RECOMPENSA(S) prometida(s) ao(s) APOIADOR(ES), sem qualquer
      responsabilidade, direta ou indireta, por parte da EVB. Assume ainda responsabilidade integral e exclusiva por tributos
      de quaisquer natureza incidentes sobre a(s) CAMPANHA(S), inclusive quanto a tributos incidentes sobre pagamentos relativos
      à sua arrecadação, isentando expressamente a EVB, conforme o ajuste entre as partes, de qualquer responsabilidade tributária,
      trabalhista ou previdenciária relativa à sua atividade e /ou arrecadação;</p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;">C. Assumir todas as demandas judiciais que forem motivadas por ação ou omissão próprias, devendo requerer a exclusão da
      EVB do litígio e indenizá‐la das despesas originadas com honorários advocatícios e perdas e danos a que der causa, nas
      formas da lei;</p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;">D. Reconhecer o direito da EVB em reter os valores pertinentes à prestação de serviços para a criação, divulgação e visibilidade
      de CAMPANHA(S) criada(s) pelo(s) ORGANIZADOR(ES) no momento da transmissão dos valores arrecadados, mediante o uso de
      um dos sistemas de pagamento disponíveis;</p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;">E. Autorizar previamente a possibilidade da EVB fornecer os seus dados cadastrais aos APOIADORES sempre que houver descumprimento
      da promessa de recompensa ou fato danoso contra esses, além de reconhecer a legitimidade desse ato ao concordar com os
      presentes TERMOS DE COMPROMISSO;</p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;">F. Ao criar sua CAMPANHA, o ORGANIZADOR tem conhecimento e aceita a possibilidade de compartilhamento da página de sua
      CAMPANHA em mídias sociais e sites de terceiros;</p>
    <p><strong>11.2 DA CAMPANHA</strong></p>
    <p style="margin-left: 20px;"><strong>11.2.1</strong> Ao optar livremente por criar uma CAMPANHA, o ORGANIZADOR poderá escolher entre:</p>
    <p style="margin-left: 40px;">B. Ajudar quaisquer PROJETO(s) ou ENTIDADE(s) cadastrados na base de dados da EVB;<br>C.Submeter à seleção e à aprovação
      a ENTIDADE que queira financiar com sua CAMPANHA;</p>
    <p style="margin-left: 20px;"><strong>11.2.2</strong> Após a escolha da ENTIDADE, bem como da categorização do EVENTO motivador da CAMPANHA, o ORGANIZADOR
      poderá criar uma ou mais METAS, que podem ter caráter:</p>
    <p style="margin-left: 40px;">A. Financeiro, de modo que o valor total angariado é público;<br>B. Temporal (i.e. uma data-limite);</p>
    <p>O ORGANIZADOR pode optar ainda por desabilitar a META, deixando o montante angariado somente a conhecimento da ENTIDADE
      beneficiada.
    </p>
    <p><strong>11.3 DOS PROJETOS E DAS ENTIDADES APOIADOS</strong><br></p>
    <p style="margin-left: 20px;">A. Os PROJETOS e ENTIDADES propostos devem estar de acordo com a missão da EVB, descrita em (2.1) dos TERMOS DE USO deste
      documento.</p>
    <p style="margin-left: 20px;">B. A aceitação dos projetos é de única e exclusiva decisão da equipe da EVB.</p>
    <p style="margin-left: 20px;">C. Para garantir a veracidade, comprometimento ético e eficiência dos PROJETOS ou ENTIDADES promovidos pela EVB, toda ENTIDADE
      passará por uma prévia seleção pela comissão do website, podendo ou não ter seu cadastro aprovado.</p>
    <p style="margin-left: 20px;">D. A EVB pode solicitar das ENTIDADES uma comprovação dos resultados obtidos pelos financiamentos adquiridos nas CAMPANHAS
      promovidas no website através de, mas não restrito a: cartas, vídeos, fotografias. Na eventualidade da não comprovação
      do destino do financiamento de acordo com o que fora especificado nas CAMPANHAS, ou mediante a falta de documentos que
      comprovem o emprego e resultados do financiamento adquirido em quaisquer CAMPANHAS criadas para beneficiar um PROJETO
      ou ENTIDADE específica, a EVB se reserva o direito de excluir permanentemente a ENTIDADE de seu cadastro, inviabilizando
      a criação de futuras CAMPANHAS que beneficiem a ENTIDADE banida.</p>
    <p style="margin-left: 20px;">E. Com a finalização das CAMPANHAS, independentemente de ter(em) sido alcançada(s) ou superada(s) a(s) META(s) da CAMPANHA,
      caso existam, o valor total angariado é repassado ao PROJETO, deduzido de um percentual devido à EVB e das tarifas cobradas
      pelo serviço de pagamento utilizado.</p>
    <p style="margin-left: 20px;">F. A EVB se reserva o direito de selecionar e garantir previamente a legalidade e adequação da(s) ENTIDADE(s) e de seu(s)
      respectivo(s) PROJETO(s) à proposta da plataforma, sendo possível a indicação de novos PROJETO(s) pelo endereço de e-mail:
      contato@eventosdobem.com.br</p>
    <p style="margin-left: 20px;"><span></span><strong>11.4 DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</strong></p>
    <p>Esta POLÍTICA DE PRIVACIDADE é regida pelas leis vigentes na República Federativa do Brasil. Nos assuntos concernentes
      à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro Central da Comarca
      do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
    <p><strong>12. DOS TERMOS DE COMPROMISSO COM O APOIADOR</strong></p>
    <p>A EVENTOS DO BEM, EMPRESA INDIVIDUAL, inscrita no CNPJ com nº 22381393/0001-63, situada na cidade de São Paulo, Estado
      de São Paulo, Av. Moaci, 2036, Planalto Paulista, 04083-005, doravante denominada EVB, expõe ao APOIADOR as condições
      de doação a CAMPANHA(S) no site da EVB através destes termos, que consolidam o compromisso de boa‐fé do APOIADOR com
      a EVB e com os potenciais ORGANIZADORES, em complementação aos TERMOS DE USO e à POLÍTICA DE PRIVACIDADE do site EVB,
      cujo conhecimento e concordância pelo APOIADOR são obrigatórios. Se não estiver de acordo com estas disposições, não
      prossiga com a sua doação à CAMPANHA em questão.</p>
    <p><strong>12.1 DAS RESPONSABILIDADES</strong></p>
    <p style="margin-left: 20px;" rel="margin-left: 20px;"><strong>12.1.1 DA EVB:</strong></p>
    <p style="margin-left: 40px;"><span></span>A. Realizar a guarda dos valores doados pelo(s) APOIADOR(ES) e, conforme o desfecho da CAMPANHA, ou repassar
      os valores ao ORGANIZADOR, ou efetuar a devolução do montante ao(s) APOIADOR(ES), de acordo com as características da
      CAMPANHA;</p>
    <p style="margin-left: 40px;" rel="margin-left: 40px;"><span></span>B. Fornecer os dados cadastrais do(s) ORGANIZADOR(ES) ao(s) APOIADOR(ES) em caso de descumprimento de promessa
      de RECOMPENSA ou fato danoso que der causa para que possam tomar as medidas legais cabíveis;</p>
    <p style="margin-left: 40px;"
      rel="margin-left: 40px;"><span></span>C. Empenhar-se de modo a permitir somente CAMPANHA(S) idônea(s) e lícita(s) em seu ambiente. No entanto, pode(m)
      existir CAMPANHA(S) com propósitos contrários ao site ou que contrarie(m) os TERMOS DE USO, devendo o(s) USUÁRIO(S) da
      plataforma ficar(em) atento(s), pois é impossível assegurar tal premissa de forma absoluta;</p>
    <p style="margin-left: 40px;"
      rel="margin-left: 40px;"><span></span>D. Comunicar o(s) APOIADOR(ES) caso haja alguma eventualidade no processamento ou envio de sua doação;</p>
    <p
      style="margin-left: 40px;" rel="margin-left: 40px;"><strong>12.1.1.A EVB não se responsabiliza por:</strong></p>
      <p style="margin-left: 40px;">A. Pela inadimplência da(s) RECOMPENSA(S) oferecida(s) pelo(s) ORGANIZADOR;</p>
      <p style="margin-left: 40px;">B. Pela veracidade das informações veiculadas pelo ORGANIZADOR. Por isso, sempre utilize fontes adicionais de busca e
        pesquisa para ter certeza de sua idoneidade;</p>
      <p style="margin-left: 40px;">C. Frustrações que o ORGANIZADOR eventualmente sofra em decorrência do desfecho da CAMPANHA que promoveu. A EVB não possui
        legitimidade para interferir ou controlar o que o(s) APOIADOR(ES) decidirá(ão) por fazer;</p>
      <p style="margin-left: 40px;">D. Pelos atos praticados pelo sistema de pagamento escolhido, tal qual os valores das tarifas e descontos aplicados em
        virtude da custódia, armazenamento, retirada, conversão do montante ou ato diverso que implique em pagamento pelo serviço
        contratado, nas formas da lei e dos Termos de Serviço do instituidor correspondente;</p>
      <p style="margin-left: 20px;"><strong>12.2. DO APOIADOR</strong></p>
      <p style="margin-left: 40px;">A. Efetuar livremente uma doação de valor à sua escolha a uma CAMPANHA com que deseja contribuir e ficar atento à sua
        conclusão após o período de duração, para ter conhecimento da obrigação da entrega de RECOMPENSA pelo ORGANIZADOR,
        se for o caso;</p>
      <p style="margin-left: 40px;">B. Aceitar que seu nome e mensagens serão publicados no site da EVB na página da CAMPANHA a que contribuiu, exceto quando
        optar pela colaboração anônima;</p>
      <p style="margin-left: 40px;">C. Após confirmada a doação, o APOIADOR considerará o ato como irretratável, irrevogável, imodificável, autêntico e legítimo,
        devendo responder pelas perdas e danos causados por atos que provocar, a exemplo, mas não se restringindo, ao não reconhecimento
        da operação junto à instituição financeira que controla seu cartão de crédito;</p>
      <p style="margin-left: 40px;">D. Como exceção, poderá reclamar o APOIADOR da sua doação e exigir o cancelamento, caso descubra fato novo em relação
        ao ato da colaboração que torne insustentável a confiança no ORGANIZADOR ou os motivos da CAMPANHA, justificando suas
        intenções diretamente à EVB e arcando com eventuais tarifas e despesas devidas ao instituidor de pagamentos escolhido;</p>
      <p
        style="margin-left: 40px;">E. Em casos de não cumprimento das obrigações por parte do ORGANIZADOR, o APOIADOR deverá proceder com sua execução forçada
        e, sob nenhuma hipótese, revogar a doação aqui confirmada;</p>
        <p style="margin-left: 40px;">F. Além de todas as informações públicas no site, quando uma CAMPANHA chegar ao fim, a ENTIDADE responsável e o ORGANIZADOR
          serão informados dos nomes, valores doados e e-mails de todos os APOIADORES;</p>
        <p><strong>12.3 DOS PROJETOS E DAS ENTIDADES APOIADOS </strong></p>
        <p style="margin-left: 40px;">12.3.1 Os PROJETOS e ENTIDADES propostos devem estar de acordo com a missão da EVB, descrita em (2.1) dos TERMOS DE
          USO deste documento.</p>
        <p style="margin-left: 40px;">12.3.2 A aceitação dos projetos é de única e exclusiva decisão da equipe da EVB.</p>
        <p style="margin-left: 40px;">12.3.3 Para garantir a veracidade, comprometimento ético e eficiência dos PROJETOS ou ENTIDADES promovidos pela EVB,
          toda ENTIDADE passará por uma prévia seleção pela comissão do website, podendo ou não ter seu cadastro aprovado.</p>
        <p
          style="margin-left: 40px;">12.3.4 A EVB pode solicitar das ENTIDADES uma comprovação dos resultados obtidos pelos financiamentos adquiridos nas
          CAMPANHAS promovidas no website através de, mas não restrito a: cartas, vídeos, fotografias. Na eventualidade da
          não comprovação do destino do financiamento de acordo com o que fora especificado nas CAMPANHAS, ou mediante a falta
          de documentos que comprovem o emprego e resultados do financiamento adquirido em quaisquer CAMPANHAS criadas para
          beneficiar um PROJETO ou ENTIDADE específica, a EVB se reserva o direito de excluir permanentemente a ENTIDADE de
          seu cadastro, inviabilizando a criação de futuras CAMPANHAS que beneficiem a ENTIDADE banida.</p>
          <p style="margin-left: 40px;">12.3.5 Com a finalização das CAMPANHAS, independentemente de ter(em) sido alcançada(s) ou superada(s) a(s) META(s)
            da CAMPANHA, caso existam, o valor total angariado é repassado ao PROJETO, deduzido de um percentual devido à EVB
            e das tarifas cobradas pelo serviço de pagamento utilizado.</p>
          <p style="margin-left: 40px;">12.3.6 A EVB se reserva o direito de selecionar e garantir previamente a legalidade e adequação da(s) ENTIDADE(s)
            e de seu(s) respectivo(s) PROJETO(s) à proposta da plataforma, sendo possível a indicação de novo(s) PROJETO(s)
            pelo endereço de e-mail: contato@eventosdobem.com.br.</p>
          <p><span></span><br><strong>12.4 DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</strong></p>
          <p style="margin-left: 40px;"
            rel="margin-left: 40px;"><span></span>Esta POLÍTICA DE PRIVACIDADE é regida pelas leis vigentes na República Federativa do Brasil. Nos assuntos
            concernentes à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro
            Central da Comarca do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
          <p><strong>13. DA LEI APLICÁVEL E RESPECTIVA JURISDIÇÃO</strong>
          </p>
          <p style="margin-left: 40px;">Estes Termos de Uso são regidos pelas leis vigentes na República Federativa do Brasil. Nos assuntos concernentes
            à sua interpretação e cumprimento, a resolução de eventuais conflitos deverá ser dirigida ao Foro Central da Comarca
            do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.
          </p>
          <p>ATUALIZAÇÃO EM: 26/06/15.
          </p>
  </article>
</div>