<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div style="padding: 1rem">
    <h2 class="text-center" style="margin: 2rem; font-weight: 700">
      Veja a diferença que você gerou no mundo e para a <span data-ng-bind="ctrl.institution.name"></span>
    </h2>
    <h3 class="text-center" style="margin: 3rem 2rem">Após a finalização desta campanha você receberá um <a ui-sref="event.report({uuid: ctrl.institution.uuid})">relatório de impacto</a> com a prestação de contas e de atividades realizadas com a sua doação.</h3>
    <img src="assets/images/causas-impactadas.jpg" class="img-responsive" alt="Causas impactadas">
  </div>
</div>