<div class="report">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" data-ng-bind="ctrl.report.occurrence.user.name"></h2>
        <p class="text-center">
          Ajudando: <span data-ng-bind="ctrl.report.institution.name"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p class="text-center">Localização do Projeto</p>
        <map highlighted="ctrl.report.occurrence.location.state"></map>
        <p class="text-center">
          <span class="text-primary">Cidade:</span> <span data-ng-bind="ctrl.report.occurrence.location.citie"></span>
        </p>
      </div>
      <div class="col-md-8">
        <div style="height: auto">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>
              Valor Angariado: <span class="text-primary" data-ng-bind="ctrl.report.occurrence.goal_human"></span> reais
            </h4>
            <h4>
              Site do projeto: <a target="_blank" href="{{ctrl.report.institution.website}}" class="text-primary" data-ng-bind="ctrl.report.institution.website"></a>
            </h4>
            <h4>
              Causa: <span class="text-primary" data-ng-bind="ctrl.report.institution.name"></span>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <p class="text-center">Causa beneficiada</p>
        <div data-ng-switch="ctrl.report.benefitType" class="text-center">
          <div data-ng-switch-when="children">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="young">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="people">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="families">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="elderly">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="animals">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="dogs">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="cats">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
          <div data-ng-switch-when="trees">
            <img data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          </div>
        </div>
        <!--<img data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">
          Este projeto ajudou <span data-ng-bind="ctrl.report.institution.user.name"></span>.
          <span></span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">
          Lista dos participantes do Evento do Bem
          <span></span>
        </h3>
        <p class="text-center text-muted">
          Parabéns! Se você foi um dos apoiados do Bem,
          <br>
          que doou para a campanha de <span data-ng-bind="ctrl.report.occurrence.user.name"></span>, encontre seu nome aqui :)
        </p>
        <form name="search" novalidate>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" data-ng-model="query" placeholder="Procure seu nome aqui">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </form>
        <div class="margin-top-20">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Doador</th>
                <th>Mensagens</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in ctrl.report.messages.values">
                <td>
                  <span data-ng-show="item.user" data-ng-bind="item.user.name"></span>
                  <span data-ng-show="!item.user">Anônimo</span>
                </td>
                <td>
                  <p data-ng-bind="item.message"></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>