<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div style="padding: 1rem">
    <h2 class="text-center" style="margin: 2rem; font-weight: 700">
      Veja a diferença que você gerou no mundo ao apoiar o evento do bem de <span data-ng-bind="ctrl.user.name"></span>
    </h2>
    <h3 class="text-center" style="margin: 3rem 2rem">
      Após a finalização desta campanha você receberá um relatório de impacto informando o resultado de sua doação.
    </h3>
    <img src="/assets/images/aconteceradepois.jpeg" style="border: 5px solid #ccc" class="img-responsive" alt="Acontecerá depois">
  </div>
</div>