<div class="report">
  <div class="row jumbotron text-center" data-ng-show="ctrl.authorize_report">
    <a class="btn btn-lg btn-danger" data-ng-click="ctrl.authorizeReport()">Autorizar Relatório</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" data-ng-bind="ctrl.report.occurrence.name"></h2>
        <p class="text-center">
          Ajudando: <span data-ng-bind="ctrl.report.institution.name"></span>
        </p>
        <p class="text-center">
          Organizado por <span data-ng-bind="ctrl.report.occurrence.user.name"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h4 class="text-center">Localização do Projeto</h4>
        <map highlighted="ctrl.report.occurrence.location.state"></map>
        <h4 class="text-center">
          <span class="text-primary">Cidade:</span> <span data-ng-bind="ctrl.report.occurrence.location.citie"></span>
        </h4>
      </div>
      <div class="col-md-6">
        <div style="height: auto">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
              <img class="img-responsive img-thumbnail" ng-src="{{slide.image}}" style="margin:auto;">
            </div>
          </div>
        </div>
        <div class="row gap-top">
          <div class="col-md-12 text-center">
            <h4>
              Valor Angariado: <span class="text-primary" data-ng-bind="ctrl.report.occurrence.total_receive_human"></span> reais
            </h4>
            <h4>
              Site do Projeto: <a target="_blank" href="{{ctrl.report.institution.website}}" class="text-primary" data-ng-bind="ctrl.report.institution.website"></a>
            </h4>
            <h4>
              Causa: <a ui-sref="institution({slug: ctrl.report.institution.slug})" data-ng-bind="ctrl.report.institution.name"></a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h4 class="text-center">Causa beneficiada</h4>
        <div data-ng-switch="ctrl.report.benefitType" class="text-center benefit-cause">
          <img data-ng-switch-when="children" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(6) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="young" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(9) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="people" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(8) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="families" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(2) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="elderly" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(8) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="animals" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(4) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="dogs" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(3) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="cats" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(3) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
          <img data-ng-switch-when="trees" style="margin: 4px;" data-ng-repeat="i in ctrl.getRepeat(6) track by $index" data-ng-src="assets/icons/svgs/{{ctrl.report.benefitType}}.svg" alt="">
        </div>
        <h4 class="text-center">
          <span data-ng-bind="ctrl.report.numberImpacted"></span>
          <span data-ng-bind="ctrl.benefit[ctrl.report.benefitType]"></span>
        </h4>
      </div>
    </div>
    <div class="row history gap-top">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center" data-ng-bind="ctrl.report.title"></h2>
          </div>
        </div>
        <div class="row gap-top">
          <div class="col-md-4">
            <figure>
              <img class="img-responsive img-thumbnail" data-ng-src="{{ctrl.report.picture4.medium}}" alt="">
            </figure>
          </div>
          <div class="col-md-8">
            <p data-ng-bind="ctrl.report.history"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-top-5">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">
          Lista dos participantes do Evento do Bem
          <span></span>
        </h3>
        <p class="text-center text-muted">
          Parabéns! Se você foi um dos apoiados do Bem,
          <br>
          que doou para a campanha de <span data-ng-bind="ctrl.report.occurrence.user.name"></span>, encontre sua mensagem digitando seu nome ou e-mail aqui :)
        </p>
        <form name="search" data-ng-submit="ctrl.getMessages(ctrl.uuid, params)" novalidate>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" data-ng-model="params.user" data-ng-model-options="{debounce: 1000}" data-ng-change="ctrl.getMessages(ctrl.uuid, params)" placeholder="Use seu nome ou e-mail para procurar...">
            <span class="input-group-btn">
              <button class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </form>
        <div class="margin-top-20">
          <p class="alert alert-info" data-ng-show="ctrl.report.messages.values.length == 0">
            <i class="fa fa-exclamation"></i>
            Nenhum comentário de doação encontrado :(
          </p>
          <table class="table table-striped" data-ng-show="ctrl.report.messages.values.length > 0">
            <thead>
              <tr>
                <th>Doador</th>
                <th>Mensagem</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in ctrl.report.messages.values">
                <td class="text-primary">
                  <span data-ng-show="item.user" data-ng-bind="item.user.name"></span>
                  <span data-ng-show="!item.user">Anônimo</span>
                </td>
                <td>
                  <p data-ng-bind="item.message"></p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <ul uib-pagination
                total-items="ctrl.pagination.total"
                ng-model="ctrl.pagination.current_page"
                max-size="ctrl.pagination.per_page"
                class="pagination-sm"
                previous-text="Anterior"
                next-text="Próxima"
                first-text="Primeira"
                last-text="Última"
                boundary-links="true"
                num-pages="ctrl.pagination.total_pages"
                data-ng-change="ctrl.changePage()">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
