<script type="text/ng-template" id="typeaheadPopupTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox" style="max-height: 100px; overflow: auto">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.slug}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
      <li data-ng-show="ctrl.institutions.length > 10">
        <a>Digite para encontrar mais...</a>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="typeaheadPopupStatesTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox" style="max-height: 200px; overflow: auto">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="typeaheadPopupCitiesTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox" style="max-height: 200px; overflow: auto">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="myPopoverTemplate.html">
  <h4>{{ctrl.popoverContent.title}}</h4>
  <p data-ng-bind-html="ctrl.popoverContent.text"></p>
</script>
<div class="container start">
  <div class="row">
    <div class="col-md-7">
      <h3>
        Comece um evento
      </h3>
      <form name="start" enctype="multipart/form-data" novalidate data-ng-submit="ctrl.save(start, ctrl.event)">
        <div class="form-group" data-ng-class="{'has-error':start.name.$invalid && start.name.$dirty}">
          <label for="" class="control-label">Nome</label>
          <count-down-element model="start.name.$viewValue" max="60">
            <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.event.name" placeholder="Digite o nome do evento aqui" data-ng-maxlength="60" aria-describedby="nameHelpBlock" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('name')" popover-placement="right" popover-trigger="focus" required autofocus>
          </count-down-element>
          <div id="nameHelpBlock" class="help-block" data-ng-show="start.name.$dirty" data-ng-messages="start.name.$error">
            <p data-ng-message="required" class="text-danger">Nome do evento é obrigatório.</p>
            <p data-ng-message="maxlength" class="text-danger">Só é possível informar nome do evento de no máximo 60 caracteres.</p>
          </div>
        </div>
        <div class="form-group" data-ng-class="{'has-error':start.institution_uuid.$invalid && start.institution_uuid.$dirty}">
          <label for="institution_uuid" class="control-label">Escolha a causa que irá ajudar</label>
          <input type="text" name="institution_uuid" data-ng-model="ctrl.event.institution_uuid" placeholder="Encontre uma causa" data-ng-disabled="ctrl.event.hasAnyDonate" uib-typeahead="item.uuid as item.name for item in ctrl.institutions | filter:$viewValue | limitTo:10" typeahead-input-formatter="ctrl.selectInstitution($model)" typeahead-popup-template-url="typeaheadPopupTemplate.html" typeahead-editable="false" typeahead-show-hint="true" typeahead-min-length="0" class="form-control" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('institution')" popover-placement="right" popover-trigger="focus" required>
          <p data-ng-show="start.institution_uuid.$invalid && start.institution_uuid.$dirty && start.institution_uuid.$touched" class="text-danger">Escolha uma causa</p>
          <p data-ng-show="ctrl.event.hasAnyDonate" class="text-warning">Este campo não pode ser alterado, pois este evento já possui doação.</p>
          <p>Não tem causa? <a target="_blank" ui-sref="pages.explore">Se inspire aqui</a>. Quer cadastrar sua causa com a gente? <a target="_blank" ui-sref="pages.contact">Entre em contato</a></p>
        </div>
        <div class="form-group" data-ng-class="{'has-error':start.categorie_uuid.$invalid && start.categorie_uuid.$dirty}">
          <label for="categorie_uuid" class="control-label">Categoria do Evento do Bem</label>
          <select ng-options="item as item.name for item in ctrl.categories track by item.slug" name="categorie_uuid" id="categorie_uuid" class="form-control" data-ng-model="ctrl.event.categorie_uuid" data-ng-change="ctrl.selectCategory(ctrl.event.categorie_uuid)" data-ng-disabled="ctrl.event.hasAnyDonate" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('category')" popover-placement="right" popover-trigger="focus" required>
            <option value="">Selecione</option>
          </select>
          <p data-ng-show="start.categorie_uuid.$invalid && start.categorie_uuid.$touched" class="text-danger">Escolha uma categoria</p>
          <p data-ng-show="ctrl.event.hasAnyDonate" class="text-warning">Este campo não pode ser alterado, pois este evento já possui doação.</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':start.state.$invalid && start.state.$dirty}">
              <label for="state" class="control-label">Selecione seu Estado</label>
              <input type="text" name="state" data-ng-model="ctrl.temp.state" typeahead-on-select="ctrl.changeState()" placeholder="Encontre seu estado" uib-typeahead="item.name for item in ctrl.states | filter:$viewValue" typeahead-popup-template-url="typeaheadPopupStatesTemplate.html" typeahead-editable="false" typeahead-show-hint="true" typeahead-min-length="0" class="form-control" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('state')" popover-placement="right" popover-trigger="focus" autocomplete="off" required>
              <p data-ng-show="start.state.$invalid && start.state.$touched" class="text-danger">Selecione seu estado</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':start.citie.$invalid && start.citie.$dirty}">
              <label for="citie" class="control-label">Selecione sua Cidade</label>
              <input type="text" name="citie" data-ng-model="ctrl.event.citie" data-ng-model-options="{debounce: 500}" placeholder="Encontre sua cidade" uib-typeahead="item as item.name for item in ctrl.getCities(ctrl.temp.state, $viewValue)" typeahead-popup-template-url="typeaheadPopupCitiesTemplate.html" typeahead-editable="false" typeahead-min-length="0" class="form-control" aria-describedby="citieHelpBlock" autocomplete="off" required>
              <div id="citieHelpBlock" class="help-block" data-ng-show="start.citie.$error && start.citie.$touched">
                <p data-ng-show="start.citie.$error.required" class="text-danger">Informe a cidade que este evento irá ocorrer.</p>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="form-group" data-ng-class="{'has-error':start.citie.$invalid && start.citie.$dirty}">
          <label for="citie" class="control-label">Cidade</label>
          <select ng-options="item.name as item.name for item in ctrl.cities" name="citie" id="citie" class="form-control" data-ng-model="ctrl.event.citie" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('city')" popover-placement="right" popover-trigger="focus" required>
            <option value="">Selecione</option>
          </select>
        </div>-->
        <p>Se quiser você pode personalizar a foto de capa da sua campanha</p>
        <div class="media">
          <div class="media-left">
            <file style="display: block" ng-model="ctrl.event.cover" progress="ctrl.progress" disabled="ctrl.temp.cover_default">
              <span data-ng-bind="ctrl.event.cover.name || 'Imagem'"></span>
            </file>
            <!--<a href="#">
              <img class="media-object" src="/assets/icons/svgs/upload.svg" alt="">
            </a>-->
          </div>
          <div class="media-body">
            <p data-ng-class="{'text-muted': ctrl.temp.cover_default}">
              JPEG ou PNG - 1MB limite de tamanho do arquivo <br>
              Essa é a principal imagem da sua campanha, pega uma lindona :) <br>
              Tamanho mínimo: 1920px de largura por 450px de altura.
            </p>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="cover_default" data-ng-model="ctrl.temp.cover_default">
            Quero usar a foto de capa padrão selecionada pela organização que escolhi.
          </label>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':start.goal_amount.$invalid && start.goal_amount.$dirty, 'has-error': start.goal_amount.$dirty && ctrl.event.goal_amount < 100}">
              <label for="goal_amount" class="control-label">Meta</label>
              <input type="text" name="goal_amount" id="goal_amount" class="form-control" format-currency="ctrl.amountOptions" variable-options="true" data-ng-model="ctrl.event.goal_amount" data-ng-disabled="ctrl.event.hasAnyDonate" aria-describedby="goalAmountHelpBlock" placeholder="Digite o valor" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('goal')" popover-placement="right" popover-trigger="focus" required>
              <div id="goalAmountHelpBlock" class="help-block" data-ng-show="start.goal_amount.$error && start.goal_amount.$touched">
                <p data-ng-show="start.goal_amount.$error.required" class="text-danger">
                  A meta do evento deve ser maior que <span data-ng-bind="100.00 | currency: 'R$ '"></span>
                </p>
              </div>
              <p data-ng-show="ctrl.event.hasAnyDonate" class="text-warning">Este campo não pode ser alterado, pois este evento já possui doação.</p>
              <!--Informe o valor do evento, deverá ser um valor maior que R$ 100.00-->
              <!--<div class="checkbox">
                <label>
                  <input type="checkbox" name="disable_goal">
                  Desabilitar meta
                </label>
              </div>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-ng-class="{'has-error':start.end_date.$invalid && start.end_date.$dirty}">
              <label for="end_date" class="control-label">Término</label>
              <input type="text" name="end_date" id="end_date" mask="39/19/2999" class="form-control" data-ng-model="ctrl.event.end_date" data-ng-model-options="{debounce: 600}" data-ng-change="ctrl.checkEndDate(start.end_date, ctrl.event.end_date)" aria-describedby="endDateHelpBlock" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('end')" popover-placement="right" popover-trigger="focus" required>
              <div id="endDateHelpBlock" class="help-block" data-ng-show="start.end_date.$dirty" data-ng-messages="start.end_date.$error">
                <p data-ng-message="required" class="text-danger">
                  Data de término do evento é obrigatória.
                </p>
                <p data-ng-message="mask" class="text-danger">
                  Data de término deve ser uma data válida.
                </p>
                <p data-ng-message="end_date_min" class="text-danger">
                  Data mínima de término deve ser dia <span data-ng-bind="ctrl.errorDateMin"></span>
                </p>
                <p data-ng-message="end_date_max" class="text-danger">
                  Data máxima de término deve ser dia <span data-ng-bind="ctrl.errorDateMax"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{'has-error':start.description.$invalid && start.description.$dirty}">
          <label for="description" class="control-label">Texto explicativo</label>
          <div text-angular="text-angular" name="description" data-ng-model="ctrl.event.description" ta-disabled='disabled' data-ng-required="true" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('description')" popover-placement="right" popover-trigger="focus"></div>
          <!--<count-down-element model="ctrl.event.description" max="3000">
            <textarea name="description" id="description" class="form-control description" data-ng-model="ctrl.event.description" maxlength="3000" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('description')" popover-placement="right" popover-trigger="focus"></textarea>
          </count-down-element>-->
        </div>
        <div class="form-group" data-ng-class="{'has-error':start.video.$invalid && start.video.$dirty}">
          <label for="video" class="control-label">Vídeo (URL do Youtube)</label>
          <input type="text" name="video" id="video" class="form-control" data-ng-model="ctrl.event.video" data-ng-pattern="ctrl.urlPattern" uib-popover-template="'myPopoverTemplate.html'" data-ng-focus="ctrl.setPopoverContent('video')" popover-placement="right" popover-trigger="focus" data-ng-disabled="ctrl.event.video_default" aria-describedby="videoHelpBlock">
          <div id="videoHelpBlock" class="help-block" data-ng-messages="page.video.$error">
            <p class="text-danger" data-ng-message="pattern">
              O vídeo deve ser uma URL válida.
            </p>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="video_default" data-ng-model="ctrl.event.video_default">
            Quero usar o vídeo padrão selecionado pela organização que escolhi.
          </label>
        </div>
        <div class="form-buttons form-buttons-left">
          <!--<button class="btn btn-default" type="button" data-ng-click="ctrl.saveDraft(ctrl.event)">Salvar rascunho</button>-->
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Publicar Evento do Bem
          </button>
        </div>
      </form>

    </div>
    <div class="col-md-5">
      <!--<aside>
        <h3>
          Utilidades na hora de criar um evento
        </h3>
        <div>
          <div class="form-buttons form-buttons-left">
            <div class="btn-group" uib-dropdown>
              <button id="split-button" type="button" class="btn btn-default" data-ng-disabled="!ctrl.hasDraft()" uib-dropdown-toggle>
                Rascunho
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem">
                  <a href="javascript:void(0)" data-ng-click="ctrl.loadDraft()">
                    <span class="text-primary">
                      <i class="fa fa-battery-half" aria-hidden="true"></i>
                      Preencher com rascunho
                    </span>
                  </a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void(0)" data-ng-click="ctrl.removeDraft()">
                    <span class="text-danger">
                      <i class="fa fa-battery-empty" aria-hidden="true"></i>
                      Apagar rascunho
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default" data-ng-show="ctrl.hasDraft()">
            <div class="panel-heading">
              <h5>Rascunho</h5>
            </div>
            <div class="panel-body">
              <dl>
                <dt>Nome:</dt>
                <dd data-ng-bind="ctrl.draft.name"></dd>
                <dt>Endereço da campanha:</dt>
                <dd data-ng-bind="ctrl.draft.uri"></dd>
                <dt>Causa:</dt>
                <dd data-ng-bind="ctrl.draft.cause"></dd>
                <dt>Categoria:</dt>
                <dd data-ng-bind="ctrl.draft.category"></dd>
                <dt>Meta:</dt>
                <dd data-ng-bind="ctrl.draft.goal"></dd>
                <dt>Término:</dt>
                <dd data-ng-bind="ctrl.draft.end_date"></dd>
                <dt>Descrição:</dt>
                <dd data-ng-bind="ctrl.draft.description"></dd>
                <dt>Vídeo:</dt>
                <dd data-ng-bind="ctrl.draft.video"></dd>
              </dl>
            </div>
          </div>
        </div>
      </aside>-->
    </div>
  </div>
</div>
