@evb-brand-color: #ec1d26;
@evb-purple: #9060c2;
@evb-blue: #37ade5;
@evb-blue-strong: #3a93d0;
@evb-green: #53c83d;
@evb-green-strong: #169b48;
@evb-yellow: #ffcb00;
@evb-yellow-strong: #ff9500;
@evb-red: #f25e5e;
@evb-red-strong: #ff1e00;

.btn-primary {
  background-color: @evb-blue;
  border-color: @evb-blue-strong;
  &:hover {
    background-color: @evb-blue-strong;
  }
}
.btn-info {
  background-color: @evb-purple;
  border-color: @evb-purple;
  &:hover {
    background-color: @evb-purple;
    border-color: @evb-purple;
  }
}
.btn-success {
  background-color: @evb-green;
  border-color: @evb-green-strong;
  &:hover {
    background-color: @evb-green-strong;
  }
}
.btn-warning {
  background-color: @evb-yellow;
  border-color: @evb-yellow-strong;
  &:hover {
    background-color: @evb-yellow-strong;
  }
}
.btn-danger {
  background-color: @evb-red;
  border-color: @evb-red-strong;
  &:hover {
    background-color: @evb-red-strong;
  }
}
