<div class="row">
  <!--<div class="col-md-12">-->
    <div class="banner">
      <h1>Qual a sua causa?</h1>
      <h2>Você pode fazer <span data-ng-bind="ctrl.category"></span> <br> para mudar o mundo</h2>
      <!--<h1>Você pode fazer uma corrida para mudar o mundo</h1>-->
      <a ui-sref="event.start" class="btn btn-warning">Comece agora</a>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/vN6lUCtn6Jc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  <!--</div>-->
</div>
