<div class="container">
  <nav class="row">
    <div class="col-md-3">
      <h5>Sobre nós</h5>
      <ul>
        <li><a ui-sref="pages.about">Quem somos</a></li>
        <li><a ui-sref="home">Imprensa</a></li>
        <li><a ui-sref="home">Parcerias</a></li>
        <li><a ui-sref="pages.contact">Contato</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Ajuda</h5>
      <ul>
        <li><a ui-sref="faq">Perguntas frequentes</a></li>
        <li><a ui-sref="pages.how-it-works">Como funciona</a></li>
        <li><a ui-sref="pages.terms">Termos de uso</a></li>
        <li><a ui-sref="pages.policies">Política de privacidade</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Descubra</h5>
      <ul>
        <li><a ui-sref="home">Explore novas causas</a></li>
        <li><a ui-sref="user.register({tab: 'ong'})">Cadastre sua organização</a></li>
        <li><a ui-sref="event.start">Faça seu evento do bem</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Conecte-se conosco</h5>
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/eventosdobem.com.br">
            <i class="fa fa-facebook"></i>
            Facebook
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/eventodobem">
            <i class="fa fa-twitter"></i>
            Twitter
          </a>
        </li>
        <li>
          <a target="_blank" href="https://plus.google.com/113365611583638323745">
            <i class="fa fa-google-plus"></i>
            Google+
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/eventosdobem">
            <i class="fa fa-instagram"></i>
            Instagram
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>