<div class="container">
  <nav class="row">
    <div class="col-md-3">
      <h5>Sobre nós</h5>
      <ul>
        <li><a ui-sref="home">Quem somos</a></li>
        <li><a ui-sref="home">Imprensa</a></li>
        <li><a ui-sref="home">Suporte</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Ajuda</h5>
      <ul>
        <li><a ui-sref="faq">Perguntas frequentes</a></li>
        <li><a ui-sref="pages.terms">Termos de uso</a></li>
        <li><a ui-sref="pages.policies">Política de privacidade</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Explore</h5>
      <ul>
        <li><a ui-sref="home">#aniversários</a></li>
        <li><a ui-sref="home">#corridas</a></li>
        <li><a ui-sref="home">#casamentos</a></li>
        <li><a ui-sref="home">#outros</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Acompanhe as causas</h5>
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/eventosdobem.com.br">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/eventodobem">Twitter</a></li>
        <li><a target="_blank" href="https://plus.google.com/113365611583638323745">Google+</a></li>
        <li><a target="_blank" href="https://www.instagram.com/eventosdobem">Instagram</a></li>
      </ul>
    </div>
  </nav>
</div>