<nav class="navbar navbar-default navbar-fixed-top" data-ng-controller="Header as ctrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-ng-click="ctrl.navbarCollapsed = !ctrl.navbarCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-center" ui-sref="home">
      <a class="navbar-brand" alt="{{ctrl.brand}}"></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="ctrl.navbarCollapsed" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="event.start" class="btn navbar-btn btn-warning">Comece seu evento</a>
        </li>
        <li>
          <a ui-sref="pages.how-it-works">Como funciona</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="pages.explore">Explore novas causas</a>
        </li>
        <li data-ng-show="!ctrl.profile" data-ng-repeat="item in ctrl.dropDownMenu.nologged">
          <a ui-sref="{{item.url}}">{{item.label}}</a>
        </li>
        <li data-ng-show="ctrl.profile" class="navbar-profile">
          <ul class="nav navbar-nav navbar-right" uib-dropdown is-open="status.isopen">
            <li class="dropdown">
              <a class="photo" uib-dropdown-toggle>
                <figure class="avatar-circle">
                  <img data-ng-src="{{ctrl.profile.avatar.small}}" alt="">
                </figure>
                {{ctrl.profile.name}} <span class="caret"></span>
              </a>
            </li>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" data-ng-repeat="item in ctrl.dropDownMenu.logged">
                <a ui-sref="{{item.url}}">{{item.label}}</a>
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
