<div class="modal-body">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-ng-click="ctrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header-image">
    <i class="fa fa-birthday-cake text-primary"></i>
  </div>
  <h5 class="text-center">
    Gostei!
    <br>
    Me lembre de fazer uma campanha para esta Organização quando for meu aniversário!
  </h5>
  <div>
    <form name="birthday" data-ng-submit="ctrl.subscribe(ctrl.birthday)" novalidate>
      <div class="form-group" data-ng-class="{'has-error':birthday.name.$invalid && birthday.name.$dirty}">
        <label for="name">Preencha com seus dados que te lembramos assim que a grande data se aproximar ;)</label>
        <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.birthday.name" data-ng-disabled="ctrl.profile.name" placeholder="Nome completo" required>
      </div>
      <div class="form-group" data-ng-class="{'has-error':birthday.email.$invalid && birthday.email.$dirty}">
        <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.birthday.email" data-ng-disabled="ctrl.profile.email" placeholder="E-mail ativo" required>
        <div class="help-block" data-ng-show="birthday.email.$dirty" data-ng-messages="birthday.email.$error">
          <p data-ng-message="required">Seu email é obrigatório.</p>
          <p data-ng-message="email">Deve ser um email válido.</p>
        </div>
      </div>
      <div class="form-group" data-ng-class="{'has-error':birthday.birthdate.$invalid && birthday.birthdate.$dirty}">
        <input type="text" name="birthdate" id="birthdate" class="form-control" mask="39/19/2999" data-ng-model="ctrl.birthday.birthdate" data-ng-change="ctrl.validateDate(birthday.birthdate, ctrl.birthday.birthdate)" data-ng-disabled="ctrl.profile.birthdate" placeholder="Data de aniversário" required>
        <div class="help-block" data-ng-show="birthday.birthdate.$dirty" data-ng-messages="birthday.birthdate.$error">
          <p data-ng-message="required">Seu email é obrigatório.</p>
          <p data-ng-message="age">Você deve ter mais de 18 anos.</p>
        </div>
      </div>
      <!--<div class="form-group" data-ng-class="{'has-error':birthday.phone.$invalid && birthday.phone.$dirty}">
        <label for="phone">Celular</label>
        <input type="text" name="phone" id="phone" class="form-control" mask="99 9?9999 9999" data-ng-model="ctrl.birthday.phone" data-ng-disabled="ctrl.profile.phone" placeholder="Digite o número do seu celular (opcional)">
      </div>-->
      <div class="text-center">
        <button class="btn btn-primary" type="submit" data-ng-disabled="birthday.$invalid">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>