<section data-ng-include="'src/common/view/banner.html'"></section>
<div class="container home">
  <section class="row how-it-works">
    <header>
      <h1>Como funciona</h1>
    </header>
    <div class="col-md-4">
      <figure class="icon">
        <img src="assets/icons/pngs/lapis.png" alt="">
      </figure>
      <h3>Prepare seu grande dia</h3>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Praesent malesuada urna nisi, quis volutpat erat hendrerit non.</p>
    </div>
    <div class="col-md-4">
      <figure class="icon">
        <img src="assets/icons/pngs/presente.png" alt="">
      </figure>
      <h3>Angarie apoio</h3>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Praesent malesuada urna nisi, quis volutpat erat hendrerit non.</p>
    </div>
    <div class="col-md-4">
      <figure class="icon">
        <img src="assets/icons/pngs/heroi.png" alt="">
      </figure>
      <h3>Veja a mudança</h3>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Praesent malesuada urna nisi, quis volutpat erat hendrerit non.</p>
    </div>
  </section>
  <section class="row our-campaigns">
    <header>
      <h1>Nossas campanhas</h1>
      <h2>São pessoas que nem você, que estão inspirando seus amigos e familiares a se engajarem por uma causa que vale a pena.</h2>
    </header>
    <div class="col-md-12">
      <div class="row">
        <section class="col-md-4 panel">
          <figure>
            <img src="assets/images/avatar.jpg" class="img-responsive" alt="">            
          </figure>
          <div class="panel-body blue">
            <h5>TRAVIS & ASHLEY</h5>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Mussum Ipsum, cacilds vidis litro abertis.</p>
            <i>Raised <span data-ng-bind="3940 | currency: 'R$'"></span></i>
          </div>
        </section>
        <section class="col-md-4 panel">
          <figure>
            <img src="assets/images/avatar.jpg" class="img-responsive" alt="">            
          </figure>
          <div class="panel-body red">
            <h5>EMC GIVES BACK</h5>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Mussum Ipsum, cacilds vidis litro abertis.</p>
            <i>Raised <span data-ng-bind="3940 | currency: 'R$'"></span></i>
          </div>
        </section>
        <section class="col-md-4 panel">
          <figure>
            <img src="assets/images/avatar.jpg" class="img-responsive" alt="">            
          </figure>
          <div class="panel-body green">
            <h5>ALEX, ANDRE, DREAS. EMMANUELLE & BOB</h5>
            <p>Mussum Ipsum, cacilds vidis litro abertis.</p>
            <i>Raised <span data-ng-bind="3940 | currency: 'R$'"></span></i>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!--<section class="row our-campaigns">
    <header>
      <h1>Nossas campanhas</h1>
      <h2>São pessoas que nem você, que estão inspirando seus amigos e familiares a se engajarem por uma causa que vale a pena.</h2>
    </header>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
            <div class="panel-body">
              <h5>Presente de aniversário: reformas para quem precisa!</h5>
              <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.</p>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40%</span>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-6 text-left">
                  <strong>40.20%</strong><br>
                  angariado
                </div>
                <div class="col-md-6 text-right">
                  <strong>R$ 1.002,00</strong><br>
                  levantados
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
            <div class="panel-body">
              <h5>Presente de aniversário: reformas para quem precisa!</h5>
              <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.</p>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40%</span>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-6 text-left">
                  <strong>40.20%</strong><br>
                  angariado
                </div>
                <div class="col-md-6 text-right">
                  <strong>R$ 1.002,00</strong><br>
                  levantados
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <img src="assets/images/avatar.jpg" class="avatar img-responsive img-circle" alt="">
            <div class="panel-body">
              <h5>Presente de aniversário: reformas para quem precisa!</h5>
              <p>Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.</p>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40%</span>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-6 text-left">
                  <strong>40.20%</strong><br>
                  angariado
                </div>
                <div class="col-md-6 text-right">
                  <strong>R$ 1.002,00</strong><br>
                  levantados
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <section class="row get-inspired">
    <header>
      <h1>Inspire-se</h1>
      <h2>Você pode fazer muitas coisas para ajudar a causa que apóia</h2>
    </header>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/casamento.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6">
          <img src="assets/images/aniversario.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-3">
          <img src="assets/images/jantares.jpg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-md-6">
          <img src="assets/images/corridas.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6">
          <img src="assets/images/voluntariado.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="row proven-impact">
    <header>
      <h1>Nós comprovamos o impacto</h1>
      <h2>Você receberá relatórios comprovando o impacto dos recursos angariados, como <a href="#">esse aqui</a>.</h2>
    </header>
    <div class="col-md-12 icons">
      <div class="row">
        <div class="col-md-3">
          <h3 class="health">Saúde</h3>
        </div>
        <div class="col-md-3">
          <h3 class="education">Educação</h3>
        </div>
        <div class="col-md-3">
          <h3 class="habitation">Moradia</h3>
        </div>
        <div class="col-md-3">
          <h3 class="animals">Animais</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 impact">
      <div class="row">
        <div class="col-md-6 text">
          <h2>João aprendeu a ler</h2>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent Quem manda na minha terra sou Euzis! Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.</p>
        </div>
        <div class="col-md-6 image">
          <img src="assets/images/causas-impactadas.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="row portfolio">
    <header>
      <h1>Quer descobrir organizações fantásticas e causas inovadoras para ajudar?</h1>
      <h2>Veja nosso <a href="#">portfólio de impacto</a> </h2>
    </header>
    <a ui-sref="home" class="btn btn-lg btn-warning">
      Crie seu Evento do Bem
    </a>
  </section>
</div>