<section data-ng-include="'src/common/view/banner.html'"></section>
<div class="row home">
  <div class="col-md-12">
    <section class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row how-it-works">
            <header>
              <h1>Como funciona</h1>
            </header>
            <div class="col-md-4">
              <figure class="icon">
                <img src="assets/icons/svgs/lapis.svg" alt="">
              </figure>
              <h3>Prepare seu grande dia</h3>
              <p>Aproveite eventos e suas datas comemorativas para converter apoiadores para a causa que você acredita! Pense sua campanha com antecedência e os meios de comunicação, público para o qual ela será divulgada. Faça um plano e, não se preocupe que te ajudamos nessa parte.</p>
            </div>
            <div class="col-md-4">
              <figure class="icon">
                <img src="assets/icons/svgs/presente.svg" alt="">
              </figure>
              <h3>Angarie apoio</h3>
              <p>Facebook, email, Instagram, Whats app, sinal de fumaça, divulgue geral! Peça doações para seus amigos, contando o porquê você está ajudando a Organização Social que escolheu e qual o efeito que a ajuda deles pode gerar . Compartilhe fotografias, informações, faça videos com a causa apoiada..enfim aonde sua imaginação te levar.</p>
            </div>
            <div class="col-md-4">
              <figure class="icon">
                <img src="assets/icons/svgs/heroi.svg" alt="">
              </figure>
              <h3>Veja a mudança</h3>
              <p>Com o seu evento do bem finalizado, a Organização social apoiada irá demonstrar para você e os apoiadores de sua campanha o bem que foi gerado, compartilhando fotografias, histórias e, claro, abrindo as portas para voluntariado e uma visita para que vejam ao vivo o bem que geraram.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row our-campaigns">
        <header>
          <h1>Nossas campanhas</h1>
          <h2>São pessoas que nem você, que estão inspirando seus amigos e familiares a se engajarem por uma causa que vale a pena.</h2>
        </header>
        <div class="col-md-12">
          <div class="row">
            <section class="col-md-4 panel blue">
              <div class="hover">
                <a ui-sref="event.start">Veja mais...</a>
              </div>
              <figure>
                <img src="assets/images/avatars/beatriz.jpeg" class="img-responsive" alt="">            
              </figure>
              <div class="panel-body">
                <h5>Beatriz</h5>
                <p>Reformou a casa de uma família de periferia com um evento do bem.</p>
                <i>Angariado <span data-ng-bind="1002 | currency: 'R$ '"></span></i>
              </div>
            </section>
            <section class="col-md-4 panel red">
              <div class="hover">
                <a ui-sref="event.start">Veja mais...</a>
              </div>
              <figure>
                <img src="assets/images/avatars/diana.jpeg" class="img-responsive" alt="">            
              </figure>
              <div class="panel-body">
                <h5>Diana</h5>
                <p>Possibilitou aulas de matemática e português para as crianças do Projeto Vida.</p>
                <i>Angariado <span data-ng-bind="10310 | currency: 'R$'"></span></i>
              </div>
            </section>
            <section class="col-md-4 panel green">
              <div class="hover">
                <a ui-sref="event.start">Veja mais...</a>
              </div>
              <figure>
                <img src="assets/images/avatars/edu.jpeg" class="img-responsive" alt="">            
              </figure>
              <div class="panel-body">
                <h5>Eduardo</h5>
                <p>Financiou 462 refeições para as crianças da ONG Gaia +.</p>
                <i>Angariado <span data-ng-bind="2310 | currency: 'R$'"></span></i>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="row get-inspired">
      <div class="container">
        <div class="row">
          <header>
            <h1>Inspire-se</h1>
            <h2>Você pode fazer muitas coisas para ajudar a causa que apóia</h2>
          </header>
          <div class="col-md-12">
            <div class="row">
              <figure class="col-md-3">
                <div class="hover">
                  <h1>Casamento</h1>
                  <p>Crie seu evento do bem e peça aos convidados te presentearem com apoio para a Organização Social que apoia.</p>
                  <a ui-sref="pages.explore" class="btn btn-primary">Inspire-se</a>
                </div>
                <img src="assets/images/casamento.jpg" class="img-responsive" alt="">
              </figure>
              <figure class="col-md-6">
                <div class="hover">
                  <h1>Aniversário</h1>
                  <p>Transforme seu aniversário em motivo de envolver seus amigos a ajudarem e se aproximarem mais de uma causa social, com certeza será um aniversário inesquecível.</p>
                  <a ui-sref="pages.explore" class="btn btn-primary">Explore causas para ajudar</a>
                </div>
                <img src="assets/images/aniversario.jpg" class="img-responsive" alt="">
              </figure>
              <figure class="col-md-3">
                <div class="hover">
                  <h1>Jantares</h1>
                  <p>Vai dar um jantar? Mobilize os convidados a ajudarem um projeto social em troca de bons momentos.</p>
                  <a ui-sref="pages.explore" class="btn btn-primary">Inspire-se</a>
                </div>
                <img src="assets/images/jantares.jpg" class="img-responsive" alt="">
              </figure>
            </div>
            <div class="row" style="margin-top: 30px">
              <figure class="col-md-6">
                <div class="hover">
                  <h1>Esportes</h1>
                  <p>Você pode promover um evento de esporte e criar seu evento do bem pedindo que seus amigos e conhecidos te ajudem a angariar recursos para uma causa social escolhida.</p>
                  <a ui-sref="pages.explore" class="btn btn-primary">Explore causas para ajudar</a>
                </div>
                <img src="assets/images/corridas.jpg" class="img-responsive" alt="">
              </figure>
              <figure class="col-md-6">
                <div class="hover">
                  <h1>Voluntariado</h1>
                  <p>Muitas pessoas vão fazer voluntariado em outros países e criam eventos do bem para levar ajuda para as causas sociais além de arrecadarem para sua viagem.</p>
                  <a ui-sref="pages.explore" class="btn btn-primary">Explore causas para ajudar</a>
                </div>
                <img src="assets/images/voluntariado.jpg" class="img-responsive" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="proven-impact">
      <div class="container">
        <div class="row">
          <header>
            <h1>Nós comprovamos o impacto</h1>
            <h2>Você receberá relatórios comprovando o impacto dos recursos angariados, como <a href="#">esse aqui</a>.</h2>
          </header>
          <div class="col-md-12 icons">
            <div class="row">
              <div class="col-md-3">
                <h3 class="health" data-ng-click="ctrl.loadImpact(0)">Saúde</h3>
              </div>
              <div class="col-md-3">
                <h3 class="education" data-ng-click="ctrl.loadImpact(1)">Educação</h3>
              </div>
              <div class="col-md-3">
                <h3 class="habitation" data-ng-click="ctrl.loadImpact(2)">Moradia</h3>
              </div>
              <div class="col-md-3">
                <h3 class="animals" data-ng-click="ctrl.loadImpact(3)">Animais</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row impact">
        <!--<div class="container">-->
          <!--<div class="row">-->
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 text">
                  <h2 data-ng-bind="ctrl.impact.title"></h2>
                  <p data-ng-bind="ctrl.impact.text"></p>
                </div>
                <div class="col-md-6 image">
                  <img data-ng-src="{{ctrl.impact.image}}" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          <!--</div>-->
        <!--</div>-->
      </div>
    </section>
    <section class="row portfolio">
      <header>
        <h1>Quer descobrir organizações fantásticas e causas inovadoras para ajudar?</h1>
        <h2>Veja nosso <a ui-sref="pages.explore">portfólio de impacto</a> </h2>
      </header>
      <a ui-sref="event.start" class="btn btn-lg btn-warning">
        Crie seu Evento do Bem
      </a>
    </section>
  </div>
</div>