<section>
  <p class="alert alert-info" data-ng-show="!ctrl.confirmation">
    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
    Aguarde, estamos confirmando sua conta
  </p>
  <div data-ng-show="ctrl.confirmation">
    <p class="alert alert-info">
      <i class="fa fa-hourglass-half" aria-hidden="true"></i>
      Sua conta foi confirmada!
    </p>
    <div class="navbar text-center">
      <button type="button" class="btn btn-lg btn-success" data-ng-click="ctrl.login()">
        Clique aqui para logar
      </button>
    </div>
  </div>
</section>