<form name="register" class="form-signin" novalidate data-ng-submit="ctrl.register()">
  <div class="alert alert-danger" data-ng-show="ctrl.error">
    <strong>Ops...</strong>
    <ul>
      <li data-ng-repeat="e in ctrl.error.errors" data-ng-bind="e.join(', ')"></li>
    </ul>
  </div>
  <uib-tabset active="activeForm" justified="true">
    <uib-tab index="0" heading="Usuário">
      <input type="text" id="name" class="form-control" data-ng-model="ctrl.user.name" placeholder="Nome completo" required
        autofocus>
      <input type="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail" required>
      <input type="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" required>
      <input type="password" id="password_confirmation" class="form-control" data-ng-model="ctrl.user.password_confirmation" placeholder="Confirmação da senha"
        required>
      <input type="text" id="birthdate" class="form-control" mask="99/99/9999" data-ng-model="ctrl.user.birthdate" placeholder="Data de nascimento" required>
      <div class="btn-group btn-group-justified">
        <label class="btn btn-primary" ng-model="ctrl.user.gender" uib-btn-radio="'Masculino'">Masculino</label>
        <label class="btn btn-primary" ng-model="ctrl.user.gender" uib-btn-radio="'Feminino'">Feminino</label>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Ong">
      <input type="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail" required
        autofocus>
      <!--<label for="password">Senha</label>-->
      <input type="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" required>
      <!--<label for="password_confirmation">Confirmação da senha</label>-->
      <input type="password" id="password_confirmation" class="form-control" data-ng-model="ctrl.user.password_confirmation" placeholder="Confirmação da senha"
        required>
    </uib-tab>
  </uib-tabset>
  <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="register.$invalid">Cadastrar</button>
</form>