<form name="register" class="form-signin" novalidate data-ng-submit="ctrl.register()">
  <uib-tabset active="activeForm" justified="true">
    <uib-tab index="0" heading="Usuário">
      <!--<label for="email">Endereço de e-mail</label>-->
      <input type="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail" required
        autofocus>
      <!--<label for="password">Senha</label>-->
      <input type="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" required>
      <!--<label for="password_confirmation">Confirmação da senha</label>-->
      <input type="password" id="password_confirmation" class="form-control" data-ng-model="ctrl.user.password_confirmation" placeholder="Confirmação da senha"
        required>
      <!--<label for="birthdate">Data de nascimento</label>-->
      <input type="text" id="birthdate" class="form-control" mask="99/99/9999" data-ng-model="ctrl.user.birthdate" placeholder="Data de nascimento"
        required>
    </uib-tab>
    <uib-tab index="1" heading="Ong">
      <!--<label for="email">Email</label>-->
      <input type="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail" required
        autofocus>
      <!--<label for="password">Senha</label>-->
      <input type="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" required>
      <!--<label for="password_confirmation">Confirmação da senha</label>-->
      <input type="password" id="password_confirmation" class="form-control" data-ng-model="ctrl.user.password_confirmation" placeholder="Confirmação da senha"
        required>
    </uib-tab>
  </uib-tabset>
  <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="register.$invalid">Cadastrar</button>
</form>