<script type="text/ng-template" id="typeaheadPopupTemplate.html">
  <div class="typeahead-popup"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;width: 100%;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
      <li>
        <a>Digite para encontrar mais...</a>
      </li>
    </ul>
  </div>
</script>
<div class="form-signin">
  <uib-tabset active="activeForm" justified="true">
    <uib-tab index="0" heading="Usuário" select="ctrl.changeTab(activeForm)">
      <form name="registerUser" novalidate data-ng-submit="ctrl.registerUser(ctrl.user)">
        <button type="button" class="btn btn-block btn-social" data-ng-click="ctrl.registerFacebook()">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Registrar-se com o Facebook
        </button>
        <div data-ng-class="{'has-error':registerUser.name.$invalid}">
          <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.user.name" placeholder="Nome completo" required
            autofocus>
        </div>
        <div data-ng-class="{'has-error':registerUser.email.$invalid}">
          <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail do usuário" required>
        </div>
        <div data-ng-class="{'has-error':registerUser.password.$invalid}">
          <input type="{{ctrl.typeInputPassword}}" name="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" minlength="6" maxlength="10" required>
        </div>
        <label class="show-password" data-ng-disabled="!ctrl.user.password" data-ng-model="ctrl.showPassword" data-ng-click="ctrl.toggleShowPassword()" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
          <i data-ng-class="{'glyphicon glyphicon-unchecked': !ctrl.showPassword,'glyphicon glyphicon-check': ctrl.showPassword}"></i>
          Mostrar sua senha
        </label>
        <div data-ng-class="{'has-error':registerUser.birthdate.$invalid}">
          <input type="text" name="birthdate" id="birthdate" class="form-control" mask="99/99/9999" data-ng-model="ctrl.user.birthdate" placeholder="Data de nascimento" required>
        </div>
        <div class="btn-group-justified">
          <label class="gender" ng-model="ctrl.user.gender" uib-btn-radio="'Masculino'">
            <i data-ng-class="{'glyphicon glyphicon-check': ctrl.user.gender == 'Masculino','glyphicon glyphicon-unchecked': ctrl.user.gender != 'Masculino'}"></i>
            Masculino
          </label>
          <label class="gender" ng-model="ctrl.user.gender" uib-btn-radio="'Feminino'">
            <i data-ng-class="{'glyphicon glyphicon-check': ctrl.user.gender == 'Feminino','glyphicon glyphicon-unchecked': ctrl.user.gender != 'Feminino'}"></i>
            Feminino
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit" data-ng-disabled="registerUser.$invalid">Cadastrar</button>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="Ong" select="ctrl.changeTab(activeForm)">
      <form name="registerOng" novalidate data-ng-submit="ctrl.registerOng(ctrl.user)">
        <div data-ng-switch="ctrl.step">
          <div data-ng-switch-when="0">
            <div data-ng-class="{'has-error':registerOng.name_organization.$invalid}">
              <input type="text" name="name_organization" class="form-control" data-ng-model="ctrl.user.name_organization" placeholder="Qual o nome da sua organização?" minlength="5" required autofocus>
            </div>
            <div data-ng-class="{'has-error':registerOng.mission.$invalid}">
              <textarea name="mission" class="form-control" data-ng-model="ctrl.user.mission" cols="5" placeholder="Nos explique um pouquinho da missão da organização e como ela atua para fazer o mundo melhor." minlength="20" maxlength="300" required></textarea>
            </div>
            <div data-ng-class="{'has-error':registerOng.area_activity.$invalid}">
              <input type="text" name="area_activity" data-ng-model="ctrl.user.area_activity" placeholder="Qual sua área de atuação?" uib-typeahead="item.label for item in ctrl.area_activities | filter:$viewValue | limitTo:10" typeahead-popup-template-url="typeaheadPopupTemplate.html" typeahead-show-hint="true" typeahead-min-length="0" class="form-control" required>
            </div>
          </div>
          <div data-ng-switch-when="1">
            <div data-ng-class="{'has-error':registerOng.phone.$invalid}">
              <input type="text" name="phone" class="form-control" mask="99 9999 9999" data-ng-model="ctrl.user.phone" placeholder="Qual o telefone da organização?" required>
            </div>
            <div data-ng-class="{'has-error':registerOng.facebook.$invalid}">
              <input type="url" name="facebook" class="form-control" data-ng-model="ctrl.user.facebook" placeholder="Qual a página do facebook oficial?" required>
            </div>
            <div data-ng-class="{'has-error':registerOng.website.$invalid}">
              <input type="url" name="website" class="form-control" data-ng-model="ctrl.user.website" placeholder="Qual o website oficial?">
            </div>
          </div>
          <div data-ng-switch-when="2">
            <div data-ng-class="{'has-error':registerOng.name.$invalid}">
              <input type="text" name="name" class="form-control" data-ng-model="ctrl.user.name" placeholder="Qual o seu nome?" required>
            </div>
            <div data-ng-class="{'has-error':registerOng.email.$invalid}">
              <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Qual seu e-mail profissional?" required>
            </div>
            <div data-ng-class="{'has-error':registerOng.password.$invalid}">
              <input type="{{ctrl.typeInputPassword}}" name="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" minlength="6" maxlength="10" required>
            </div>
            <label class="show-password" data-ng-disabled="!ctrl.user.password" data-ng-model="ctrl.showPassword" data-ng-click="ctrl.toggleShowPassword()" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
              <i data-ng-class="{'glyphicon glyphicon-unchecked': !ctrl.showPassword,'glyphicon glyphicon-check': ctrl.showPassword}"></i>
              Mostrar sua senha
            </label>
          </div>
        </div>
        <div class="btn-group steps btn-group-lg btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button data-ng-disabled="ctrl.step == 0" class="btn btn-lg btn-success" type="button" data-ng-click="ctrl.changeStep('prev')">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Voltar
            </button>
          </div>
          <div class="btn-group" role="group" data-ng-if="ctrl.step < 2">
            <button class="btn btn-lg btn-success" data-next="true" type="button" data-ng-click="ctrl.changeStep('next')" data-ng-disabled="ctrl.validateStep(registerOng)">
              Proseguir
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group" role="group" data-ng-if="ctrl.step == 2">
            <button class="btn btn-lg btn-success btn-block" type="submit" data-ng-disabled="ctrl.validateStep(registerOng)">
              Cadastrar
              <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          </div>
        </div>
        <p data-ng-show="ctrl.step == 2" class="agree">* Ao se cadastrar você está concordando com nossos <a href="#">termos de uso</a> e <a href="#">política de privacidade</a>.</p>
      </form>
    </uib-tab>
    <p class="text-center">Registre-se ou faça seu <a ui-sref="auth.login">login</a></p>
    <div class="alert alert-danger" data-ng-show="ctrl.error">
      <strong>Ops...</strong>
      <ul>
        <li data-ng-repeat="e in ctrl.error.errors" data-ng-bind="e.join(', ')"></li>
      </ul>
    </div>
  </uib-tabset>
</div>