.evb-color {
  color: #ec1d26;
}
.evb-background {
  background-color: #ec1d26;
}
.evb-color-purple {
  color: #9060c2;
}
.evb-color-blue-primary {
  color: #3a93d0;
}
.evb-color-blue-secondary {
  color: #37ade5;
}
.evb-color-green-primary {
  color: #169b48;
}
.evb-color-green-secondary {
  color: #53c83d;
}
.evb-color-yellow-primary {
  color: #ffcb00;
}
.evb-color-yellow-secondary {
  color: #ff9500;
}
.evb-color-red-primary {
  color: #ff1e00;
}
.evb-color-red-secondary {
  color: #f25e5e;
}