/* Extra small devices */
@media (max-width: 768px) {
  main {
    margin-bottom: 550px;
  }
  .portfolio h1 {
    width: 100%;
  }
  .proven-impact h1 {
    width: 100%;
  }
  .our-campaigns header h1 {
    width: 100%;
  }
  header .navbar .navbar-brand {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 60%;
    padding: 15px 30%;
  }
  .banner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right bottom;
  }
  .banner h1,
  .banner h2 {
    text-shadow: 1px 1px #fff;
  }
  .banner h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 18px;
  }
  .banner a {
    padding: 3px 10px;
  }
  .banner .video {
    margin-top: 20px;
  }
  .banner .video iframe {
    width: 160px;
    height: 85px;
  }
  /* home */
  .proven-impact .text,
  .proven-impact .image {
    display: block;
  }
  .proven-impact .image {
    padding-left: 0px;
  }
  /* /home */
  /* timeline */
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
   width: calc(100% - 90px);
   width: -moz-calc(100% - 90px);
   width: -webkit-calc(100% - 90px);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  /* /timeline */
  
  /* faq */
  .faq .search {
    padding: 20px;
  }
  /* /faq */
  /* explore */
  .explore .search h1 {
    padding: 20px;
  }
  /* /explore */

  /* mascot */
  .mascot {
    width: 50%;
    float: right;
    margin-bottom: -100px;
  }
  /* /mascot */

  /* talk-ballon */
  .talk-ballon {
    right: 50%;
    width: 50%;
  }
  /* /talk-ballon */
  /* donate-impulse */
  .modal-donate {
    padding-top: 30px;
  }
  .panel.profile.donate-impulse .avatar {
    margin-top: -160px;
  }
  .panel.profile.donate-impulse .btn-group-justified > .btn-group {
    padding: 0 2px;
  }
  .panel.profile.donate-impulse .btn-group-justified > .btn-group > .btn {
    padding: 6px;
  }
  /* /donate-impulse */
}

/* Small devices */
@media (min-width: 768px) and (max-width: 992px) {
  .banner h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .banner .video {
    margin-top: 20px;
  }
  .banner .video iframe {
    width: 360px;
    height: 215px;
  }
  /* home */
  .proven-impact .text,
  .proven-impact .image {
    display: block;
  }
  .proven-impact .image {
    padding-left: 0px;
  }
  /* /home */
  /* faq */
  .faq .search {
    padding: 40px 100px;
  }
  /* /faq */
  /* explore */
  .explore .search h1 {
    padding: 40px 100px;
  }
  /* /explore */
  /* mascot */
  .mascot {
    width: 50%;
    float: right;
    margin-bottom: -100px;
  }
  /* /mascot */

  /* talk-ballon */
  .talk-ballon {
    right: 50%;
    width: 50%;
  }
  /* /talk-ballon */
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1200px) {
  .banner h3 {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .banner .video {
    margin-top: 70px;
  }
  .banner .video iframe {
    width: 560px;
    height: 315px;
  }

  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
  /* explore */
  .explore .search h1 {
    padding: 80px 200px;
  }
  /* /explore */
}

/* Large devices */
@media (min-width: 1200px) and (max-width: 1600px) {
  .banner h3 {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .banner .video {
    margin-top: 70px;
  }
  .banner .video iframe {
    width: 560px;
    height: 315px;
  }
  /* home */
  .proven-impact .text {
    padding: 10px 15px 10px 30px;
  }
  .proven-impact .text h3 {
    margin-bottom: 15px;
    font-size: 2rem;
  }
  .proven-impact .text p {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  /* /home */
  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
  /* explore */
  .explore .search h1 {
    padding: 80px 200px;
  }
  /* /explore */
}

/* Extra large devices */
@media (min-width: 1600px) and (max-width: 1920px) {
  .banner h3 {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .banner .video {
    margin-top: 120px;
  }
  .banner .video iframe {
    width: 760px;
    height: 515px;
  }
  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
  /* explore */
  .explore .search h1 {
    padding: 80px 200px;
  }
  /* /explore */
}

@media (min-width: 768px) {
  .modal-donate .modal-dialog {
    margin: 90px auto;
    width: 520px;
  }
  .modal-facebook-email .modal-dialog {
    width: 450px;
  }
  .modal-facebook-email .modal-dialog h4 {
    font-weight: 700;
  }
}