body.background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
  width: 100%;
  height: 1080px;
}
.navbar {
  margin-bottom: 8px;
}
.navbar .navbar-brand {
  padding: 10px 40px;
  text-align: center;
}
.navbar .navbar-brand img {
  max-width: 150px;
}
.home .nav > li > a {
  padding: 15px 70px;
}
.navbar-nav .navbar-btn {
  margin: 7px 15px 7px;
  padding: 6px 15px;
  color: #000 !important;
  font-weight: bold;
}
.navbar-right > li > a {
  padding: 15px 15px;
}

.banner {
  background-image: url('../assets/images/banner-home.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
  width: 100%;
  height: 510px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.banner h3 {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 30px;
  width: 400px;
  font-weight: 400;
}
.banner a,
.banner a:hover {
  color: #000;
  font-weight: 500;
}

.home section {
  margin-bottom: 50px;
}
.container section header {
  margin: 30px 0 50px;
  text-align: center;
}
section header h2 {
  font-weight: 400;
}
section header h3 {
  font-weight: 300;
}
.how-it-works h2,
.how-it-works h3,
.how-it-works p {
  padding: 0px 40px;
  text-align: center;
  font-weight: 400;
  color: #444;
}
.how-it-works .icon {
  height: 50px;
  text-align: center;
}
.how-it-works .icon > img {
  width: 32px;
}
.proven-impact h3 {
  margin: 0 auto;
  width: 600px;
}
.icons h3 {
  margin: 0 auto;
  width: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 70px;
  line-height: 42px;
  font-weight: 300;
}
.icons .health {
  background-image: url('../assets/icons/pngs/saude.png');
}
.icons .education {
  background-image: url('../assets/icons/pngs/educacao.png');
}
.icons .habitation {
  background-image: url('../assets/icons/pngs/moradia.png');
}
.icons .animals {
  background-image: url('../assets/icons/pngs/animal.png');
}
.portfolio h2 {
  margin: 0 auto;
  width: 600px;
}
.portfolio {
  text-align: center;
}
.portfolio > a {
  padding: 20px 60px;
}
.portfolio > a,
.portfolio > a:hover {
  color: #000;
  font-weight: 400;
}

body.auth-login {
  background-image: url('images/auth-login.jpg');
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
}
.form-signin::after {
  background-color: #fff;
  content:'';
  width:330px;
  height:365px;
  padding: 15px;
  position:absolute;
  top:0;
  left:0;
  opacity:0.5;
  content: '';
  position: absolute;
  opacity: 0.7;
}
.form-signin .nav-tabs .nav-item a {
  margin: 2px;
  border: 1px solid #000;
  border-radius: 0px;
}
.form-signin .nav-tabs .nav-item.active a {
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #337ab7;
}
.form-signin .tab-content {
  margin-top: 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin label {
  color: #999;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-signin-heading,
.form-signin .nav,
.form-signin .alert,
.form-signin .checkbox,
.form-signin .form-control,
.form-signin label,
.form-signin ul,
.form-signin p,
.form-signin button {
  opacity: 1;
  z-index: 1;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .nav,
.form-signin ul {
  padding: 0px;
}
.form-signin ul {
  list-style: none;
  font-size: 1em;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}
/*.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/