
html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}
body {
  margin-top: 60px;
  margin-bottom: 200px;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}
* {
  font-size: inherit;
}

/* backgrounds */

.auth-login {
  background-image: url('images/auth-login.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* /backgrounds */

/* fonts */

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.1rem; }
h4 { font-size: 1.7rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.3rem; }
p, a {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a {
  font-size: inherit;
}

.form-group .control-label,
.checkbox label {
  font-size: 1.4rem;
  font-weight: normal;
}

/* /fonts */

/* btn */
.btn.btn-horizontal-large {
  padding-left: 60px;
  padding-right: 60px;
}
/* /btn */
dl dt,
dl dd {
  font-size: 1.6rem;
}
dl dt {
  padding-top: 6px;
}
dl dt:first-child {
  padding-top: 0px;
}
dl dd {
  padding-bottom: 6px;
  border-bottom: 1px solid #ececec;
}
dl dd:last-child {
  padding-bottom: 0px;
  border-bottom-width: 0px;
}

/* form-buttons */
.form-buttons {
  padding: 24px 0px;
}
.form-buttons.form-buttons-left .btn {
  margin-right: 5px;
}
.form-buttons.form-buttons-center {
  text-align: center;
  margin-right: 5px;
}
/* /form-buttons */

/* modal */
.modal-content {
  border-radius: 0px;
}
/* /modal */

.input-group.transparent .form-control {
  border-right-width: 0px;
}
.input-group.transparent .form-control + .input-group-addon {
  color: #777;
  background-color: transparent;
}

/* navbar */
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 56, 0.45);
  -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 56, 0.45);
  box-shadow: 0px 0px 7px 0px rgba(50, 50, 56, 0.45);
}
header .navbar {
  margin-bottom: 8px;
  border-radius: 0px;
}
header .navbar a {
  cursor: pointer;
  font-size: 1.4rem;
}
.navbar-brand {
  float: none;
}
.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  padding: 15px;
  height:100%;
}
header .navbar .navbar-brand {
  background-image: url('images/logo.png');
  /*background-image: url('images/logo-evb.svg');*/
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 150px;
}
.navbar-nav .navbar-btn {
  margin: 7px 15px 7px;
  padding: 6px 15px;
  color: #000 !important;
}
/* /navbar */

/* banner */
.banner {
  background-image: url('../assets/images/banner-home.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.banner h1 {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 20px;
  width: 400px;
  font-weight: 400;
}
.banner a,
.banner a:hover {
  display: inline-block;
  color: #000;
  font-weight: 500;
}
/* /banner */

/* form */
.input-countdown {
  position: relative;
}
.input-countdown .form-control {
  z-index: 2;
}
.input-countdown .input-countdown-chars {
  position: absolute;
  padding: 6px 12px;
  right: 0px;
  bottom: 0px;
  font-size: 1.4rem;
  color: #999;
  z-index: 3;
}
/* /form */
.event .media {
  background-color: #eee;
}
.event .media .media-left {
  padding: 15px;
}
.event .media .media-body {
  padding: 25px 0px;
}
.event .media .media-left .media-object {
  width: 80px;
}

/* timeline */
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 95px;
  bottom: 30px;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  border-width: 3px;
  border-right-style: dashed;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  /*-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);*/
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 2.4rem;
  line-height: 50px;
  color: #fff;
  /*background-color: #999999;*/
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
/* /timeline */

/* faq */
.faq section:first-child {
  background-color: #ececec;
}
.faq section:last-child {
  padding-top: 60px;
  padding-bottom: 60px;
}
.faq .search {
  padding: 80px 200px;
  text-align: center;
}
.faq .search h1 {
  font-size: 4.8rem;
  margin-bottom: 50px;
}
.faq article p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.faq article hr {
  margin: 0 auto;
  width: 250px;
  height: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.faq aside .list-group-item {
  border: none;
  padding: 10px 0px;
}
/* /faq */

/* home */
.home section {
  padding-bottom: 50px;
}
.home .row > header {
  margin: 30px 0 50px;
  text-align: center;
}
.home .row > header h1 {
  font-weight: 600;
}
.home .row > header h2 {
  font-weight: 100;
  margin-left: 150px;
  margin-right: 150px;
}
/* /home */

.panel.profile {
  margin-top: 80px;
}
.panel.profile .avatar {
  margin: 0 auto;
  width: 60%;
  margin-top: -80px;
  border: 2px solid #ccc;
}
.panel.profile .panel-body {
  text-align: center;
}
.panel.profile .progress {
  margin-bottom: 0px;
  border-radius: 0px;
}
.panel.profile .questions {
  text-align: left;
}
.panel.profile .questions h5 {
  cursor: pointer;
}
.panel.profile .questions p {
  margin-left: 20px;
}

/* how-it-works */
.how-it-works h1,
.how-it-works .timeline + h4 {
  text-align: center;
}
.home .how-it-works h1,
.home .how-it-works h3,
.home .how-it-works p {
  padding: 0px 40px;
  text-align: center;
  font-weight: 400;
  color: #444;
}
.home .how-it-works .icon {
  height: 64px;
  text-align: center;
}
.home .how-it-works .icon > img {
  width: 64px;
}
/* /how-it-works */

/* out-campaigns */
.our-campaigns header h1 {
  margin: 0 auto;
  width: 700px;
  font-weight: 300;
}
.our-campaigns .panel-body {
  text-align: center;
  color: #fff;
}
.our-campaigns section i {
  font-size: 1.4rem;
}
/* /out-campaigns */

.get-inspired header {
  color: #fff;
}
.get-inspired > div {
  padding-top: 15px;
  padding-bottom: 15px;
}
.get-inspired figure {
  display: block;
  max-height: 400px;
  overflow: hidden;
}
.proven-impact .impact {
  /*display: table;*/
}
.proven-impact .text,
.proven-impact .image {
  display: table-cell;
}
.proven-impact .text {
  color: #fff;
  padding: 60px 15px 30px 30px;
}
.proven-impact .text p {
  line-height: 2rem;
}
.proven-impact .image {
  padding-right: 0px;
}
.proven-impact h1 {
  margin: 0 auto;
  width: 600px;
}
.proven-impact .icons {
  margin-bottom: 30px;
}
.icons h3 {
  margin: 0 auto;
  width: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 70px;
  line-height: 42px;
  font-weight: 300;
}
.icons .health {
  /*background-image: url('../assets/icons/pngs/saude.png');*/
  background-image: url('../assets/icons/svgs/saude.svg');
}
.icons .education {
  /*background-image: url('../assets/icons/pngs/educacao.png');*/
  background-image: url('../assets/icons/svgs/causa-educacao.svg');
}
.icons .habitation {
  /*background-image: url('../assets/icons/pngs/moradia.png');*/
  background-image: url('../assets/icons/svgs/moradia.svg');
}
.icons .animals {
  /*background-image: url('../assets/icons/pngs/animal.png');*/
  background-image: url('../assets/icons/svgs/causa-animal.svg');
}
.portfolio {
  text-align: center;
}
.portfolio h1 {
  margin: 0 auto;
  width: 600px;
}
.portfolio h2 {
  font-weight: 300;
}
.portfolio > a {
  padding: 20px 60px;
}
.portfolio > a,
.portfolio > a:hover {
  color: #000;
  font-weight: 400;
}

/* contact */
.contact > section:first-child {
  margin-bottom: 50px;
}
.contact > section:first-child > div {
  text-align: center;
}
.contact > section:first-child > div:first-child {
  border-right: 1px solid #000;
}
.contact section > div > h2 {
  font-size: 6.4rem;
  font-weight: 900;
}
.contact section > div > h2 > span {
  font-weight: 100;
}
.contact section > div > h3 {
  font-size: 4.2rem;
}
.contact section > div > span {
  font-size: 20.4rem;
  line-height: 16.4rem;
}
.contact h2,
.contact h3,
.contact form > div,
.contact form > p {
  margin-bottom: 20px;
}
/* /contact */

/* .form-signin */

.form-signin {
  max-width: 330px;
  padding: 25px;
  margin: 20px auto 20px;
  position: relative;
}
.form-signin::after {
  background-color: #fff;
  width:330px;
  height:100%;
  padding: 15px;
  position:absolute;
  top:0;
  left:0;
  content: '';
  opacity: 0.7;
}
.form-signin .nav, .form-signin p {
  margin: 5px 0px !important;
}
.form-signin .alert li::first-letter {
  text-transform: uppercase;
}
.form-signin .nav-tabs .nav-item a {
  margin: 2px;
  border: 1px solid #000;
  border-radius: 0px;
}
.form-signin .nav-tabs .nav-item.active a {
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #337ab7;
}
.form-signin .tab-content {
  margin-top: 0px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin label {
  color: #999;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-signin-heading,
.form-signin .nav,
.form-signin .alert,
.form-signin .checkbox,
.form-signin .form-control,
.form-signin .btn,
.form-signin .btn-group,
.form-signin .btn-group label,
.form-signin .show-password,
.form-signin label,
.form-signin ul,
.form-signin p,
.form-signin p.agree,
.form-signin h4,
.form-signin button {
  opacity: 1;
  z-index: 1;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 1.6rem;
}
.form-signin textarea.form-control {
  height: 100px;
}
.form-signin .tab-pane p {
  padding-top: 0px;
  font-size: 2rem;
  text-align: center;
}
.form-signin .show-password {
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 1.4rem;
}
.form-signin .show-password[disabled] {
  color: #666;
}
.form-signin .show-password,
.form-signin label.rememberme,
.form-signin label.gender {
  padding-left: 2px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
}
.form-signin p.agree {
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
}

.form-signin .btn-social {
  color: #fff;
  text-align: left;
  background-color: #3b5998;
}
.form-signin .btn-social i {
  margin: 0 6px;
}
.form-signin .btn-group {
  padding: 0px 0px 0px;
}

.form-signin .nav,
.form-signin ul {
  padding: 0px;
}
.form-signin ul {
  list-style: none;
  font-size: 1rem;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input,
.form-signin textarea,
.form-signin select,
.form-signin button {
  margin-bottom: 10px;
}
/* /.form-signin */

/* .typeahead-popup > .dropdown-menu */
.typeahead-popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-popup > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
}
/* /.typeahead-popup > .dropdown-menu */

/* .creditcard */
.creditcard-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    width: 350px;
    max-width: 100%;
    height: 200px;
    /*margin: auto;*/
    z-index: 1;
    position: relative;
}
.creditcard {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 315px;
  border-radius: 10px;
  -webkit-perspective: 500;
}
.creditcard .card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: #DDD;
  -webkit-transition: -webkit-opacity 1s;
  -moz-transition: -moz-opacity 1s;
  transition: opacity 1s;
}
.creditcard .card .lower {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}
.creditcard .card .lower.front,
.creditcard .card.validated .lower.back {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.creditcard .card .lower.back,
.creditcard .card.validated .lower.front {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.creditcard .card .lower.front {
  width: 80%;
  left: 10%;
}
.creditcard .card .lower {
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 30px;
}
.creditcard .chip {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background: #CCC;
  position: relative;
  content: " ";
}
.creditcard .flag {
  float: right;
  position: relative;
  opacity: 0.8;
  right: 0px;
  top: 8px;
  width: 50px;
}
.creditcard .flag img {
  max-width: 100%;
}
.creditcard .number {
  position: relative;
  font-size: 2.4rem;
  clear: both;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  font-weight: normal;
  opacity: 0.8;
}
.creditcard .name {
  position: absolute;
  text-transform: uppercase;
  font-size: 2rem;
  max-height: 45px;
  bottom: 0;
  width: 190px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: normal;
  opacity: 0.8;
}
.creditcard .expiry {
  float: right;
  width: 25%;
  color: white;
  opacity: 0.8;
  position: relative;
  text-align: right;
  font-size: 2rem;
  margin-right: 5px;
  margin-top: 2px;
  bottom: 0;
}
.creditcard .bar {
  background-color: #444;
  background-image: -webkit-linear-gradient(#444, #333);
  background-image: -o-linear-gradient(#444, #333);
  background-image: linear-gradient(#444, #333);
  width: 100%;
  height: 25%;
  position: absolute;
  top: 10%;
}
.creditcard .cvc {
  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 1.6rem;
  color: #fff;
}
/* /creditcard */

/* donate */
.donate .flags {
  margin-bottom: 20px;
}
.donate .flags i {
  font-size: 3.2rem;
}
.donate .flags i.fa-barcode {
  margin-left: 25px;
}
/* /donate */

footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 180px;
  background-color: #111;
}

footer .container {
  padding: 30px 0;
}

footer h5 {
  font-size: 1.5rem;
  color: #FFF;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  margin-bottom: 6px;
}
footer li a {
  color: #888;
  font-size: 1.6rem;
  font-weight: 400;
  transition-duration: 0.5s;
}
footer li a:hover {
  color: #eaeaea;
  text-decoration: none;
}
