/* Extra small devices */
@media (max-width: 768px) {
  .banner h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 18px;
  }
  .banner a {
    padding: 3px 10px;
  }
  .banner .video {
    margin-top: 20px;
  }
  .banner .video iframe {
    width: 160px;
    height: 85px;
  }

  /* timeline */
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
   width: calc(100% - 90px);
   width: -moz-calc(100% - 90px);
   width: -webkit-calc(100% - 90px);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  /* /timeline */
  
  /* faq */
  .faq .search {
    padding: 20px;
  }
  /* /faq */
}

/* Small devices */
@media (min-width: 768px) and (max-width: 992px) {
  .banner h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .banner .video {
    margin-top: 20px;
  }
  .banner .video iframe {
    width: 360px;
    height: 215px;
  }
  /* faq */
  .faq .search {
    padding: 40px 100px;
  }
  /* /faq */
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1200px) {
  .banner h3 {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .banner .video {
    margin-top: 50px;
  }
  .banner .video iframe {
    width: 560px;
    height: 315px;
  }

  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
}

/* Large devices */
@media (min-width: 1200px) and (max-width: 1600px) {
  .banner h3 {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .banner .video {
    margin-top: 50px;
  }
  .banner .video iframe {
    width: 560px;
    height: 315px;
  }
  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
}

/* Extra large devices */
@media (min-width: 1600px) and (max-width: 1920px) {
  .banner h3 {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .banner .video {
    margin-top: 120px;
  }
  .banner .video iframe {
    width: 760px;
    height: 515px;
  }
  /* faq */
  .faq .search {
    padding: 80px 200px;
  }
  /* /faq */
}