<h3 class="well">Relatórios</h3>
<h3>Campanha: <span data-ng-bind="ctrl.event.name"></span></h3>
<h4>Organizador: <span data-ng-bind="ctrl.event.institution.user.name"></span></h4>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <!--<th style="width: 40px">#</th>-->
        <th style="width: 50px">Status</th>
        <th>Nome</th>
        <th data-ng-show="ctrl.profile.type == 'user'">E-mail</th>
        <th style="width: 30px">Método</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in ctrl.donors" data-ng-class="{success: item.status == 'Autorizado', primary: item.status == 'Em processamento', danger: item.status == 'Cancelado' || item.status == 'Expirado'}">
        <!--<td data-ng-bind="$index + 1"></td>-->
        <td>
          <i class="icon" uib-tooltip="{{item.status}}" data-ng-class="{'pending': item.status == 'Em processamento', 'check': item.status == 'Autorizado', 'cancel': item.status == 'Cancelado', 'fa expired': item.status == 'Expirado'}"></i>
        </td>
        <td data-ng-bind="item.user.name"></td>
        <td data-ng-show="ctrl.profile.type == 'user'" data-ng-bind="item.user.email"></td>
        <td class="text-center">
          <i class="fa" uib-tooltip="{{item.method_human}}" data-ng-class="{'fa-credit-card': item.method == 'credit_card', 'fa-barcode': item.method == 'boleto'}"></i>
        </td>
        <td data-ng-bind="item.amount_human"></td>
        <td data-ng-bind="item.updated_at | date: 'dd/MM/yyyy'"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <ul uib-pagination
      total-items="ctrl.pagination.total"
      ng-model="ctrl.pagination.current_page"
      max-size="ctrl.pagination.per_page"
      class="pagination-sm"
      previous-text="Anterior"
      next-text="Próxima"
      first-text="Primeira"
      last-text="Última"
      boundary-links="true"
      num-pages="ctrl.pagination.total_pages"
      data-ng-change="ctrl.changePage()">
  </ul>
</div>
<div class="row">
  <div class="col-md-6 gap-top">
    <h2 class="text-center">Meta de doações: <span class="text-right" data-ng-bind="ctrl.event.goal_human"></span></h2>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ctrl.event.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.event.progress}}%">
        <span class="sr-only">{{ctrl.event.progress}}% Complete (success)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 data-ng-bind="ctrl.event.total_receive_human"></h4>
      </div>
      <div class="col-md-6">
        <h4 class="text-right"><span data-ng-bind="ctrl.event.progress"></span>%</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-2 gap-top">
    <div style="text-align: right">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="ctrl.unAvailable()">
        Agradecer apoiadores
      </button>
      <br>
      <button type="button" class="btn btn-success btn-block" data-ng-click="ctrl.unAvailable()">
        <i class="fa fa-download"></i>
        CSV
      </button>
    </div>
  </div>
</div>