<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <figure class="avatar">
        <img src="assets/images/avatars/medium/avatar.svg" class="img-responsive" alt="">
      </figure>
      <div class="text-center">
        <h4>{{ctrl.profile.name}}</h4>
        <!--<a href="#">
          <i class="glyphicon glyphicon-camera"></i> edite sua foto
        </a>-->
        <ul class="list-group">
          <li class="list-group-item">
            <a ui-sref="profile.ong.page({uuid: ctrl.profile.uuid})" ui-sref-active="active">Página Oficial</a>
          </li>
          <li class="list-group-item">
            <a ui-sref="profile.ong.events" ui-sref-active="active">
              Seus eventos do bem
              <span class="badge badge-danger" data-ng-bind="ctrl.withoutReport" data-ng-show="ctrl.withoutReport > 0"></span>
            </a>
          </li>
          <li class="list-group-item">
            <a ui-sref="profile.ong.history" ui-sref-active="active">
              Histórico
            </a>
          </li>
          <li class="list-group-item">
            <a ui-sref="profile.ong.configurations" ui-sref-active="active">Configurações</a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="col-md-9">
      <ui-view></ui-view>
    </div>
  </div>
</div>