<div class="well">
  <h3>Doações diretas para sua Organização</h3>
  <h4>
    Na página oficial de sua organização você pode também angariar doações esporádicas (doações pontuais) e criar uma campanha de doadores recorrentes para receber doações. Nesta área você irá acompanhar o relatório financeiro destas doações diretas.
  </h4>
</div>
<h2>
  Total: <span data-ng-bind="ctrl.total.amount | currency"></span>
</h2>
<form class="form-inline navbar">
  <div class="form-group">
    <label for="filter">Filtrar:</label>
    <select name="filter" id="filter" class="form-control" data-ng-model="ctrl.donateFilter">
      <option value="">Todos os tipos de doações</option>
      <option value="true">Recorrentes</option>
      <option value="false">Pontuais</option>
    </select>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 50px">Status</th>
        <th>Tipo</th>
        <th>Nome</th>
        <th style="width: 30px">Método</th>
        <th>Valor</th>
        <th>Data</th>
        <th class="text-center">Emitir</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in ctrl.donations | filter: { recurrent: ctrl.donateFilter }" data-ng-class="{success: item.status == 'Autorizado', primary: item.status == 'Em processamento', danger: item.status == 'Cancelado' || item.status == 'Expirado'}">
        <td>
          <i class="icon" uib-tooltip="{{item.status}}" data-ng-class="{'pending': item.status == 'Em processamento', 'check': item.status == 'Autorizado', 'cancel': item.status == 'Cancelado', 'fa expired': item.status == 'Expirado'}"></i>
        </td>
        <td data-ng-bind="item.recurrent ? 'Campanha recorrente' : 'Doação pontual'"></td>
        <td data-ng-bind="item.user.name"></td>
        <td class="text-center">
          <i class="fa" uib-tooltip="{{item.method_human}}" data-ng-class="{'fa-credit-card': item.method == 'credit_card', 'fa-barcode': item.method == 'boleto'}"></i>
        </td>
        <td data-ng-bind="item.amount_human"></td>
        <td data-ng-bind="item.updated_at | date: 'dd/MM/yyyy'"></td>
        <td class="text-center">
          <a class="label label-default" href="{{item.iugu_url}}" data-ng-show="item.method == 'boleto' && item.status == 'Em processamento'">2 via boleto</a>
          <a class="label label-success" href="{{item.iugu_url}}" data-ng-show="item.status == 'Autorizado'">comprovante</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center" data-ng-show="ctrl.pagination.total_pages > 1">
  <ul uib-pagination
      total-items="ctrl.pagination.total"
      ng-model="ctrl.pagination.current_page"
      max-size="ctrl.pagination.per_page"
      class="pagination-sm"
      previous-text="Anterior"
      next-text="Próxima"
      first-text="Primeira"
      last-text="Última"
      boundary-links="true"
      num-pages="ctrl.pagination.total_pages"
      data-ng-change="ctrl.changePage()">
  </ul>
</div>
