<div class="container" ui-tour>
  <div class="row">
    <aside class="col-md-3">
      <figure class="avatar avatar-circle">
        <img data-ng-src="{{ctrl.profile.avatar.medium}}" alt="">
      </figure>
      <div class="text-center">
        <h4 data-ng-bind="ctrl.profile.name"></h4>
        <ul class="list-group">
          <li class="list-group-item"
            tour-step
            tour-step-order="5"
            tour-step-title="5. Página oficial"
            tour-step-content="<strong>A Página Oficial é a primeira coisa que você tem que preencher quando entrar em nossa plataforma, sem ela sua Organização não estará ativa. O próximo passo é preencher sua página oficial.</strong> É por ela que você pode captar eventos do bem para a sua Organização, além de que sua página ficará exposta em nosso portfólio de causas para serem apoiadas pelos nossos usuários. <strong>Vamos personalizar sua página oficial??</strong>"
            tour-step-placement="right"
            tour-step-belongs-to="ongTour"
          >
            <a ui-sref="profile.ong.page" ui-sref-active="active">
              Página Oficial
            </a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="4"
            tour-step-title="4. Seus eventos do bem"
            tour-step-content="Aqui você poderá ver os eventos do bem que foram criados para a sua Organização e estão ativos e arrecadando! Veja em tempo real o relatório financeiro atualizado no exato segundo que uma doação foi feita para uma das campanhas criadas para a sua organização, também é aqui que você deverá submeter o relatório social, com a prestação de contas do investimento das doações arrecadadas por cada evento do bem."
            tour-step-placement="right"
            tour-step-belongs-to="ongTour"
          >
            <a ui-sref="profile.ong.events" ui-sref-active="active">
              Seus eventos do bem
              <span class="badge badge-danger" data-ng-bind="ctrl.onlyEnabledToReceiveReport"></span>
            </a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="3"
            tour-step-title="3. Doações diretas"
            tour-step-content="Nesta seção é possível ter acesso à todas as doações que foram feitas diretamente para a sua organização, mas não vieram de eventos do bem, pessoas que só viram a página da sua organização e quiseram doar diretamente."
            tour-step-placement="right"
            tour-step-belongs-to="ongTour"
          >
            <a ui-sref="profile.ong.donations" ui-sref-active="active">
              Doações diretas
            </a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="2"
            tour-step-title="2. Histórico"
            tour-step-content="Nesta seção você terá acesso ao histórico de todos os eventos do bem que foram criados para você e já estão finalizados, também terá acesso ao relatório financeiro de doações arrecadadas e ao relatório de impacto social de cada evento do bem realizado para a sua Organização."
            tour-step-placement="right"
            tour-step-belongs-to="ongTour"
          >
            <a ui-sref="profile.ong.history" ui-sref-active="active">
              Histórico
            </a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="1"
            tour-step-title="1. Configurações"
            tour-step-content="Essa aba se refere às configurações da sua Organização social, endereço, email ativo, conta do banco para depósito, CNPJ entre outros, é de extrema importância que esteja atualizada pois os depósitos de doações somente ocorrerão se esta página estiver completa e atualizada."
            tour-step-placement="right"
            tour-step-belongs-to="ongTour"
          >
            <a ui-sref="profile.ong.configurations" ui-sref-active="active">Configurações</a>
          </li>
        </ul>
        <button type="button" class="btn btn-success btn-waiting" data-ng-click="ctrl.initTour()">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          Quer ajuda?
        </button>
      </div>
    </aside>
    <div class="col-md-9">
      <ui-view></ui-view>
    </div>
  </div>
</v>