<div class="well">
  <h3>
    Página oficial da Organização : <span data-ng-bind="ctrl.page.name"></span>
  </h3>
  <h4>
    É a página de captura de recursos para sua Organização Social, nela você aparecerá em nosso portfólio de causas, poderá captar eventos do bem e doações diretas dos visitantes e empresas parceiras.
    <br>
    Por isso, capriche na elaboração do conteúdo de sua página e a mantenha atualizada.
  </h4>
  <a class="btn btn-success" ui-sref="institution({slug: ctrl.page.slug})">Ver página oficial</a>
</div>
<div class="well">
  <h3>Editar</h3>
  <form name="page" data-ng-submit="ctrl.save(ctrl.page)" novalidate>
    <div class="row">
      <div class="col-md-4">
        <file ng-model="ctrl.page.cover" progress="ctrl.progress">
          <span data-ng-bind="ctrl.page.cover.name || 'Imagem da capa da página'"></span>
        </file>
      </div>
      <div class="col-md-4">
        <file ng-model="ctrl.page.avatar" progress="ctrl.progress">
          <span data-ng-bind="ctrl.page.avatar.name || 'Imagem do perfil da página'"></span>
        </file>
      </div>
    </div>
    <h4>Missão:</h4>
    <p class="text-muted">Nos explique um pouquinho da missão da organização e como ela atua para fazer o mundo melhor.</p>
    <div class="form-group" data-ng-class="{'has-error':page.mission.$invalid && page.mission.$dirty}">
      <count-down-element model="page.mission.$viewValue" max="165">
        <textarea rows="2" name="mission" class="form-control" data-ng-model="ctrl.page.mission" minlength="20" maxlength="165" aria-describedby="missionHelpBlock" required></textarea>
      </count-down-element>
      <div id="missionHelpBlock" class="help-block" data-ng-messages="page.mission.$error">
        <p class="text-danger" data-ng-message="required">
          É obrigatório informar um texto sobre missão da instituição.
        </p>
        <p class="text-danger" data-ng-message="minlength">
          Texto da missão da instituição deverá ter mínimo 20 caracteres.
        </p>
      </div>
    </div>
    <h4>Proposta:</h4>
    <p class="text-muted">Coloque a proposta de seus apoiadores fazerem eventos do bem e transformarem seu apoio em impacto social para a causa da sua organização.</p>
    <div class="form-group" data-ng-class="{'has-error':page.propose.$invalid && page.propose.$dirty}">
      <div text-angular="text-angular" name="propose" data-ng-model="ctrl.page.propose" ta-disabled='disabled' data-ng-required="true"></div>
      <!--<textarea rows="4" name="propose" class="form-control" data-ng-model="ctrl.page.propose" aria-describedby="proposeHelpBlock" required></textarea>-->
      <div id="proposeHelpBlock" class="help-block" data-ng-messages="page.propose.$error">
        <p class="text-danger" data-ng-message="required">
          É obrigatório informar um texto sobre a proposta da instituição.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">
        Link de seu vídeo institucional
      </label>
      <div class="input-group" data-ng-class="{'has-error':page.video.$invalid && page.video.$dirty}">
        <div class="input-group-addon">Vídeo do Youtube</div>
        <input type="text" class="form-control" name="video" data-ng-model="ctrl.page.video" data-ng-pattern="ctrl.urlPattern" placeholder="Essa parte é opcional" aria-describedby="videoHelpBlock">
      </div>
      <div id="videoHelpBlock" class="help-block" data-ng-messages="page.video.$error">
        <p class="text-danger" data-ng-message="pattern">
          O vídeo do YouTube deve ser uma URL válida.
        </p>
      </div>
    </div>
    <h4>Demonstre o impacto das doações:</h4>
    <p class="text-muted">Explique rapidamente a importância da sua causa e coloque de forma bem concreta o que certos montantes de doações podem fazer de impacto, se as pessoa doarem para a sua organização.</p>
    <div class="form-group" data-ng-class="{'has-error':page.impact.$invalid && page.impact.$dirty}">
      <div text-angular="text-angular" name="impact" data-ng-model="ctrl.page.impact" ta-disabled='disabled' data-ng-required="true"></div>
      <!--<textarea rows="6" name="impact" class="form-control" data-ng-model="ctrl.page.impact" aria-describedby="impactHelpBlock" required></textarea>-->
      <div id="impactHelpBlock" class="help-block" data-ng-messages="page.impact.$error">
        <p class="text-danger" data-ng-message="required">É obrigatório informar um texto sobre o impacto.</p>
      </div>
    </div>
    <!--<div class="margin-top-10">
      <p>Veja nosso <a href="#">artigo</a> com mais dicas de como elaborar uma boa página de sua organização!</p>
    </div>-->
    <div class="form-buttons form-buttons-center">
      <button type="submit" class="btn btn-lg btn-large btn-success" data-ng-disabled="page.$invalid">Salvar</button>
    </div>
  </form>
</div>
