<div class="well">
  <h3>Página oficial da <span data-ng-bind="ctrl.page.name"></span></h3>
  <a class="btn btn-success" ui-sref="institution({slug: ctrl.page.slug})">Ver página oficial</a>
</div>
<div class="well">
  <h3>Editar</h3>
  <form name="page" data-ng-submit="ctrl.save(ctrl.page)" novalidate>
    <div class="row">
      <div class="col-md-4">
        <file ng-model="ctrl.page.cover" progress="ctrl.progress">
          <span data-ng-bind="ctrl.page.cover.name || 'Imagem da capa da página'"></span>
        </file>
      </div>
      <div class="col-md-4">
        <file ng-model="ctrl.page.avatar" progress="ctrl.progress">
          <span data-ng-bind="ctrl.page.avatar.name || 'Imagem do perfil da página'"></span>
        </file>
      </div>
    </div>
    <h4>Missão:</h4>
    <p class="text-muted">Nos explique um pouquinho da missão da organização e como ela atua para fazer o mundo melhor.</p>
    <div class="form-group">
      <count-down-element model="ctrl.page.mission" max="165">
        <textarea rows="2" class="form-control" data-ng-model="ctrl.page.mission" minlength="20" maxlength="165" required></textarea>
      </count-down-element>
    </div>
    <h4>Proposta:</h4>
    <p class="text-muted">Coloque a proposta de seus apoiadores fazerem eventos do bem e transformarem seu apoio em impacto social para a causa da sua organização.</p>
    <div class="form-group">
      <count-down-element model="ctrl.page.propose" max="415">
        <textarea rows="4" class="form-control" data-ng-model="ctrl.page.propose" maxlength="415" required></textarea>
      </count-down-element>
    </div>
    <div class="form-group">
      <label class="control-label">
        Link de seu vídeo institucional
      </label>
      <div class="input-group">
        <div class="input-group-addon">Vídeo do Youtube</div>
        <input type="text" class="form-control" name="video" data-ng-model="ctrl.page.video" placeholder="Essa parte é opcional">
      </div>
    </div>
    <h4>Demonstre o impacto das doações:</h4>
    <p class="text-muted">Explique rapidamente a importância da sua causa e coloque de forma bem concreta o que certos montantes de doações podem fazer de impacto, se as pessoa doarem para a sua organização.</p>
    <div class="form-group">
      <count-down-element model="ctrl.page.impact" max="900">
        <textarea rows="6" class="form-control" data-ng-model="ctrl.page.impact" maxlength="900" required></textarea>
      </count-down-element>
    </div>
    <!--<div class="margin-top-10">
      <p>Veja nosso <a href="#">artigo</a> com mais dicas de como elaborar uma boa página de sua organização!</p>
    </div>-->
    <div class="form-buttons form-buttons-center">
      <button type="submit" class="btn btn-lg btn-large btn-success">Salvar</button>
    </div>
  </form>
</div>
