<h3 class="well">
  Relatórios
</h3>
<ul class="media-list">
  <li class="media" data-ng-repeat="item in ctrl.events">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" src="assets/images/avatar.jpg" alt="Avatar">
      </a>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="media-heading" data-ng-bind="item.name"></h4>
          <p>Organizador por: <span data-ng-bind="item.user.name"></span></p>
          <p>
            <i class="fa fa-star-o"></i>
            Projeto apoiado por: <span data-ng-bind="item.institution.name"></span>
          </p>
        </div>
        <div class="col-md-4">
          <a ui-sref="profile.ong.report({uuid: item.uuid})" class="btn btn-success btn-block btn-waiting">
            Submeter relatório
          </a>
          <br>
          <p class="text-success text-center">
            Prazo máximo: 
            <span data-ng-bind="item.ends | date: 'dd/MM/yyyy'"></span>
            <br>
            <a ui-sref="event.slug({slug: item.slug})">Veja a página</a>
          </p>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="text-center">
  <ul uib-pagination
      total-items="ctrl.pagination.total"
      ng-model="ctrl.pagination.current_page"
      max-size="ctrl.pagination.per_page"
      class="pagination-sm"
      previous-text="Anterior"
      next-text="Próxima"
      first-text="Primeira"
      last-text="Última"
      boundary-links="true"
      num-pages="ctrl.pagination.total_pages"
      data-ng-change="ctrl.changePage()">
  </ul>
</div>