<div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="ctrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">
        Obrigado!
      </h1>
      <h2 class="text-center">
        Seu relatório será avaliado por nossa equipe, assim que liberado entraremos em contato pelo seu email cadastrado.
      </h2>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="ctrl.close()">
    Fechar
  </button>
</div>