<h3 class="well">
  Configurações
</h3>
<form name="ongConfigurations" novalidate data-ng-submit="ctrl.saveOng(ctrl.profile.institution)">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.name.$invalid && ongConfigurations.name.$dirty}">
        <label for="" class="control-label">Nome da organização</label>
        <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.profile.institution.name" required autofocus>
        <div class="help-block" data-ng-messages="ongConfigurations.name.$error">
          <p class="text-danger" ng-message="required">O nome da organização é obrigatório.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.cnpj.$invalid && ongConfigurations.cnpj.$dirty}">
        <label for="" class="control-label">CNPJ da organização</label>
        <input type="text" name="cnpj" id="cnpj" class="form-control" mask="99.999.999/9999-99" clean="true" data-ng-model="ctrl.profile.institution.cnpj" required>
        <div class="help-block" data-ng-messages="ongConfigurations.cnpj.$error">
          <p class="text-danger" ng-message="mask">O CNPJ deve ser válido.</p>
          <p class="text-danger" ng-message="required">O CNPJ da organização é obrigatório.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.bank_account.$invalid && ongConfigurations.bank_account.$dirty}">
        <label for="" class="control-label">Conta para depósito bancário</label>
        <input type="text" name="bank_account" id="bank_account" class="form-control" data-ng-model="ctrl.profile.institution.bank_account" uib-popover="As alterações deste campo serão submetidas à análise da plataforma." popover-placement="bottom" popover-trigger="focus" required>
        <div class="help-block" data-ng-messages="ongConfigurations.bank_account.$error">
          <p class="text-danger" ng-message="required">A conta para depósito é obrigatória.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.address.$invalid && ongConfigurations.address.$dirty}">
        <label for="" class="control-label">Endereço da organização</label>
        <input type="text" name="address" id="address" class="form-control" data-ng-model="ctrl.profile.institution.address" required>
        <div class="help-block" data-ng-messages="ongConfigurations.address.$error">
          <p class="text-danger" ng-message="required">O endereço é obrigatório.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="control-label">Busque seu endereço a partir da sua posição atual</label>
        <button type="button" class="btn btn-primary btn-block" data-ng-disabled="!ctrl.locationSupport" data-ng-click="ctrl.findAddressByPosition()" uib-popover="Para buscar sua localização automaticamente você precisa permitir compartilhar sua localização, mas você pode digitar manualmente no campo ao lado." popover-placement="bottom" popover-trigger="mouseenter">
          <i class="fa fa-map-marker"></i>
          Buscar localização atual
        </button>
        <p class="text-warning" data-ng-show="ctrl.locationError">
          Você precisa permitir compartilhar sua localização
        </p>
        <p class="text-warning" data-ng-show="ctrl.addressError">
          Ocorreu um problema ao encontrar seu endereço.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.phone.$invalid && ongConfigurations.phone.$dirty}">
        <label for="" class="control-label">Telefone</label>
        <input type="text" name="phone" id="phone" class="form-control" mask="99 9?9999 9999" data-ng-model="ctrl.profile.institution.phone" required>
        <div class="help-block" data-ng-messages="ongConfigurations.phone.$error">
          <p class="text-danger" ng-message="required">O telefone é obrigatório.</p>
          <p class="text-danger" ng-message="mask">O telefone deve ser um número válido.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':ongConfigurations.facebook.$invalid && ongConfigurations.facebook.$dirty}">
        <label for="" class="control-label">Facebook da organização</label>
        <input type="text" name="facebook" id="facebook" class="form-control" data-ng-model="ctrl.profile.institution.facebook" data-ng-pattern="ctrl.urlPattern" required>
        <div class="help-block" data-ng-messages="ongConfigurations.facebook.$error">
          <p class="text-danger" ng-message="required">O facebook é obrigatório.</p>
          <p class="text-danger" ng-message="mask">Utilize um endereço de página de facebook válido.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar text-center">
    <button class="btn btn-success btn-horizontal-large" type="submit" data-ng-disabled="ongConfigurations.$invalid">Salvar</button>
  </div>
</form>
<hr>
<form name="userConfigurations" enctype="multipart/form-data" novalidate data-ng-submit="ctrl.saveUser(ctrl.profile)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':userConfigurations.name.$invalid && userConfigurations.name.$dirty}">
        <label for="" class="control-label">Nome do responsável</label>
        <input type="text" name="name" id="name" class="form-control" data-ng-model="ctrl.profile.name" required>
        <div class="help-block" data-ng-messages="userConfigurations.name.$error">
          <p class="text-danger" ng-message="required">O nome do responsável é obrigatório.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':userConfigurations.email.$invalid && userConfigurations.email.$dirty}">
        <label for="" class="control-label">E-mail do responsável</label>
        <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.profile.email" required>
        <div class="help-block" data-ng-messages="userConfigurations.email.$error">
          <p data-ng-message="required" class="text-danger">O email é obrigatório.</p>
          <p data-ng-message="email" class="text-danger">Seu email deve ser um email válido.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" data-ng-class="{'has-error':userConfigurations.avatar.$invalid && userConfigurations.avatar.$dirty}">
        <label for="foto" class="control-label">Foto</label>
        <file style="display: block" ng-model="ctrl.profile.avatar" progress="ctrl.progress">
          <span data-ng-bind="ctrl.profile.avatar.name || 'Faça upload de sua foto de perfil'"></span>
        </file>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':userConfigurations.password.$invalid && userConfigurations.password.$dirty}">
        <label for="password" class="control-label">Senha atual</label>
        <input type="password" name="password" id="password" class="form-control" data-ng-model="ctrl.profile.password" data-ng-readonly="ctrl.profile.needpassword" data-ng-change="ctrl.diffPassword(this.userConfigurations,'password', 'new_password')" placeholder="Senha" minlength="6" maxlength="10">
        <div class="help-block" data-ng-messages="userConfigurations.password.$error">
          <p class="text-danger" data-ng-message="minlength">Sua senha atual deve ter entre 6 e 10 caracteres.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" data-ng-class="{'has-error':userConfigurations.new_password.$invalid && userConfigurations.new_password.$dirty}">
        <label for="new_password" class="control-label">Nova senha</label>
        <input type="password" name="new_password" id="new_password" class="form-control" data-ng-model="ctrl.profile.new_password" data-ng-change="ctrl.diffPassword(this.userConfigurations,'password', 'new_password')" placeholder="Nova senha" minlength="6" maxlength="10" data-ng-required="ctrl.profile.password">
        <div class="help-block" data-ng-messages="userConfigurations.new_password.$error">
          <p class="text-danger" data-ng-message="minlength">Sua nova senha deve ter entre 6 e 10 caracteres.</p>
          <p class="text-danger" data-ng-message="diff">Sua nova senha deve ser diferente da atual.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar text-center">
    <button class="btn btn-success btn-horizontal-large" type="submit" data-ng-disabled="userConfigurations.$invalid">Salvar</button>
  </div>
</form>
