<div class="well">
  <h3>Eventos do bem encerrados</h3>
  <h4>
    Nesta seção você terá o histórico de todos os eventos do bem realizados para a sua Organização.
    <br>
    Desta forma, será possível visualizar tanto relatórios financeiros quanto o relatório de impacto social que sua Organização elaborou para cada evento do bem.
  </h4>
</div>
<h4 class="alert alert-info" role="alert" data-ng-show="ctrl.events.length == 0">
  Você não possui nenhum evento do bem encerrado.
</h4>
<div data-ng-show="ctrl.events.length > 0">
  <ul class="media-list">
    <li class="media" data-ng-repeat="item in ctrl.events">
      <div class="media-left">
        <a ui-sref="event.slug({slug: item.slug})">
          <figure class="media-object img-circle avatar-circle">
            <img data-ng-src="{{item.user.avatar.medium}}" alt="{{item.user.name}}">
          </figure>
        </a>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="media-heading">
              <a ui-sref="event.slug({slug: item.slug})" data-ng-bind="item.name"></a>
            </h4>
            <p>Organizador: <span data-ng-bind="item.user.name"></span></p>
            <p>
              <i class="fa fa-star-o"></i>
              Projeto apoiado: <span data-ng-bind="item.institution.name"></span>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-primary text-center">
              Finalizado em:
              <span data-ng-bind="item.ends | date: 'dd/MM/yyyy'"></span>
            </p>
            <a ui-sref="profile.ong.donors({uuid: item.uuid})" class="btn btn-primary btn-block">
              Relatório de doações
            </a>
            <a ui-sref="event.report({uuid: item.slug})" class="btn btn-success btn-block">
              Relatório social
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="text-center">
    <ul uib-pagination
        total-items="ctrl.pagination.total"
        ng-model="ctrl.pagination.current_page"
        max-size="ctrl.pagination.per_page"
        class="pagination-sm"
        previous-text="Anterior"
        next-text="Próxima"
        first-text="Primeira"
        last-text="Última"
        boundary-links="true"
        num-pages="ctrl.pagination.total_pages"
        data-ng-change="ctrl.changePage()">
    </ul>
  </div>
</div>
