<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Verifique sua conta</h1>
      <h3>
        Enviamos ao seu e-mail cadastrado um código para verificação de conta, é só clicar e <br>
        você será direcionado ao seu perfil de usuário do eventos do bem, e já pode começar ;)
      </h3>
      <h3>
        Cheque seu spam, mas caso não tenha recebido o e-mail, <a href="#">clique aqui</a> e reenviaremos nossa verificação <br>
        para o e-mail que você cadastrou.
      </h3>
    </div>
  </div>
</div>
