<h3 class="well">
  Campanhas
</h3>
<h4 class="alert alert-info" role="alert" data-ng-show="ctrl.events.length == 0">
	Você ainda não tem eventos cadastrados.
</h4>
<div data-ng-show="ctrl.events.length > 0">
  <ul class="media-list">
    <li class="media" data-ng-repeat="item in ctrl.events">
      <div class="media-left">
        <a ui-sref="event.slug({slug: item.slug})">
        <figure class="media-object avatar-circle">
          <img  data-ng-src="{{item.user.avatar.small}}" alt="{{item.user.name}}">
        </figure>
        </a>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="media-heading">
              <a ui-sref="event.slug({slug: item.slug})" data-ng-bind="item.name"></a>
            </h4>
          </div>
          <div class="col-md-4">
            <a ui-sref="profile.user.donors({uuid: item.uuid})" class="btn btn-primary btn-block">
              Relatório de doações
            </a>
            <span class="h-gap-4"></span>
            <div class="btn-group btn-group-justified" role="group" aria-label="Ações">
              <div class="btn-group">
                <button class="btn btn-success" data-ng-click="ctrl.go('event.edit',{slug: item.slug})">
                  <i class="fa fa-pencil-square-o"></i>
                  Editar
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-danger" data-ng-click="ctrl.remove(item)">
                  <i class="fa fa-trash"></i>
                  Excluir
                </button>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="text-center">
    <ul uib-pagination
        total-items="ctrl.pagination.total"
        ng-model="ctrl.pagination.current_page"
        max-size="ctrl.pagination.per_page"
        class="pagination-sm"
        previous-text="Anterior"
        next-text="Próxima"
        first-text="Primeira"
        last-text="Última"
        boundary-links="true"
        num-pages="ctrl.pagination.total_pages"
        data-ng-change="ctrl.changePage()">
    </ul>
  </div>
</div>

<!--<h3 class="well">
  Campanhas encerradas
</h3>
<ul class="media-list">
  <li class="media" data-ng-repeat="item in ctrl.events_closed">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" src="assets/images/avatars/medium/avatar.svg" alt="Avatar">
      </a>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="media-heading" data-ng-bind="item.name"></h4>
        </div>
        <div class="col-md-4">
          <a ui-sref="profile.user.report({uuid: item.uuid})" class="btn btn-primary btn-block">
            Relatório de doações
          </a>
          <br>
          <a class="btn btn-success btn-block" disabled="disabled">
            Veja seu impacto
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="text-center">
  <ul uib-pagination
      total-items="ctrl.pagination_closed.total"
      ng-model="ctrl.pagination_closed.current_page"
      max-size="ctrl.pagination_closed.per_page"
      class="pagination-sm"
      previous-text="Anterior"
      next-text="Próxima"
      first-text="Primeira"
      last-text="Última"
      boundary-links="true"
      num-pages="ctrl.pagination_closed.total_pages"
      data-ng-change="ctrl.changePageClosed()">
  </ul>
</div>-->
