<h3 class="well">
  Campanhas ativas
</h3>
<ul class="media-list">
  <li class="media" data-ng-repeat="item in ctrl.events">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" src="assets/images/avatar.jpg" alt="Avatar">
      </a>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="media-heading" data-ng-bind="item.name"></h4>
        </div>
        <div class="col-md-4">
          <a ui-sref="profile.user.report({uuid: item.uuid})" class="btn btn-primary btn-block">
            Relatórios de doações
          </a>
          <br>
          <a class="btn btn-success btn-block" disabled="disabled">
            Veja seu impacto
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul uib-pagination total-items="ctrl.pagination.total" ng-model="ctrl.pagination.current_page" max-size="ctrl.pagination.per_page" boundary-links="true" num-pages="ctrl.pagination.total_pages" ng-change="ctrl.pageChanged()"></ul>
<h3 class="well">
  Campanhas encerradas
</h3>
<ul class="media-list">
  <li class="media" data-ng-repeat="item in ctrl.events_closed">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" src="assets/images/avatar.jpg" alt="Avatar">
      </a>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="media-heading" data-ng-bind="item.name"></h4>
        </div>
        <div class="col-md-4">
          <a ui-sref="profile.user.report({uuid: item.uuid})" class="btn btn-primary btn-block">
            Relatórios de doações
          </a>
          <br>
          <a class="btn btn-success btn-block" disabled="disabled">
            Veja seu impacto
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>