<div class="container" ui-tour>
  <div class="row">
    <aside class="col-md-3">
      <figure class="avatar avatar-circle">
        <img data-ng-src="{{ctrl.profile.avatar.medium}}" class="img-circle" alt="">
      </figure>
      <div class="text-center">
        <h4 data-ng-bind="ctrl.profile.name"></h4>
        <ul class="list-group">
          <li class="list-group-item"
            tour-step
            tour-step-order="0"
            tour-step-title="1. Campanhas ativas"
            tour-step-content="Aqui aparecerão todos os eventos do bem que você criou, você poderá editar ou excluir seus eventos do bem e também poderá acompanhar em tempo real o seu relatório financeiro de doações para o evento do bem ser atualizado com as últimas doações."
            tour-step-placement="right"
            tour-step-belongs-to="userTour"
          >
            <a ui-sref="profile.user.events" ui-sref-active="active">Campanhas ativas</a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="1"
            tour-step-title="2. Meu impacto"
            tour-step-content="Após cada evento do bem que você criar para uma organização cadastrada conosco, você os apoiadores de sua campanha receberão um relatório de impacto social explicando onde as doações arrecadadas foram investidas e um pouco mais dos beneficiados por essa Organização. Enviaremos direto para o seu email, então fique de olho e atualize nas suas configurações de usuário o email que você tem acesso ok?"
            tour-step-placement="right"
            tour-step-belongs-to="userTour"
          >
            <a ui-sref="profile.user.impacts" ui-sref-active="active">Meu impacto</a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="2"
            tour-step-title="3. Histórico de doações"
            tour-step-content="Você pode ter o controle e emitir comprovantes de todas as doações que você realizou na plataforma."
            tour-step-placement="right"
            tour-step-belongs-to="userTour"
          >
            <a ui-sref="profile.user.donations" ui-sref-active="active">Histórico de doações</a>
          </li>
          <li class="list-group-item"
            tour-step
            tour-step-order="3"
            tour-step-title="4. Configurações"
            tour-step-content="Aqui estão suas configurações de conta, muito importante que você atualize com o seu <strong>email correto e cpf para emitirmos corretamente o comprovante</strong>."
            tour-step-placement="right"
            tour-step-belongs-to="userTour"
          >
            <a ui-sref="profile.user.configurations" ui-sref-active="active">Configurações</a>
          </li>
        </ul>
        <button type="button" class="btn btn-success btn-waiting" data-ng-click="ctrl.initTour()">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          Quer ajuda?
        </button>
      </div>
    </aside>
    <div class="col-md-9">
      <ui-view></ui-view>
    </div>
  </div>
</div>
