<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <figure class="avatar">
        <img data-ng-src="{{ctrl.profile.avatar.thumb}}" class="img-circle" alt="">
      </figure>
      <div class="text-center">
        <h4 data-ng-bind="ctrl.profile.name"></h4>
        <a href="#">
          <i class="glyphicon glyphicon-camera"></i> edite sua foto
        </a>
        <ul class="list-group">
          <li class="list-group-item">
            <a ui-sref="profile.user.events" ui-sref-active="active">
              Minhas campanhas
            </a>
          </li>
          <li class="list-group-item">
            <a href="#">Meu impacto</a>
          </li>
          <li class="list-group-item">
            <a ui-sref="profile.user.configurations" ui-sref-active="active">Configurações</a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="col-md-9">
      <ui-view></ui-view>
    </div>
  </div>
</div>