<form name="login" class="form-signin" novalidate data-ng-submit="ctrl.login()">
  <div class="alert alert-danger" data-ng-show="ctrl.error">
    <strong>Ops...</strong>
    <ul>
      <li data-ng-repeat="e in ctrl.error.errors" data-ng-bind="e.join(', ')"></li>
    </ul>
  </div>
  <input type="email" id="email" class="form-control" data-ng-model="ctrl.user.email" placeholder="Endereço de e-mail" required autofocus>
  <input type="password" id="password" class="form-control" data-ng-model="ctrl.user.password" placeholder="Senha" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="register.$invalid">Cadastrar</button>
</form>