<form name="login" class="form-signin" novalidate data-ng-submit="ctrl.login()">
  <h2 class="text-center">Faça seu Login</h2>
  <p class="text-center">Não tem conta? <a ui-sref="profile.register">faça seu registro!</a></p>
  <uib-tabset active="activeForm" justified="true">
    <uib-tab index="0" heading="Usuário" select="ctrl.changeMethod('loginUser')">
      <button type="button" class="btn btn-block btn-social" data-ng-click="ctrl.loginFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Login com o Facebook
      </button>
      <p class="or"></p>
    </uib-tab>
    <uib-tab index="1" heading="Sou uma Ong" select="ctrl.changeMethod('loginOng')">
    </uib-tab>
    <div class="alert alert-danger" data-ng-show="ctrl.error">
      <strong>Ops...</strong>
      <ul>
        <li data-ng-repeat="e in ctrl.error.errors" data-ng-bind="e.join(', ')"></li>
      </ul>
    </div>
  </uib-tabset>
  <div data-ng-class="{'has-error':login.email.$invalid && login.email.$dirty}">
    <input type="email" name="email" id="email" class="form-control" data-ng-model="ctrl.profile.email" placeholder="Qual email você se cadastrou?" required autofocus>
  </div>
  <div class="text-right">
    <a ui-sref="auth.forgot">Esqueci minha senha</a>
  </div>
  <div data-ng-class="{'has-error':login.password.$invalid && login.password.$dirty}">
    <input type="{{ctrl.typeInputPassword}}" name="password" id="password" class="form-control" data-ng-model="ctrl.profile.password" placeholder="E a senha?" minlength="6" maxlength="10" required>
  </div>
  <label class="show-password" data-ng-disabled="!ctrl.profile.password" data-ng-model="ctrl.showPassword" data-ng-click="ctrl.toggleShowPassword()" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
    <i data-ng-class="{'glyphicon glyphicon-unchecked': !ctrl.showPassword,'glyphicon glyphicon-check': ctrl.showPassword}"></i>
    Mostrar sua senha
  </label>
  <div>
    <label class="rememberme" data-ng-model="ctrl.profile.rememberme" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
      <i data-ng-class="{'glyphicon glyphicon-check': ctrl.profile.rememberme,'glyphicon glyphicon-unchecked': !ctrl.profile.rememberme}"></i>
      Lembrar da senha
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
</form>
