/* fonts */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.3rem;
}
p,
a,
label,
table th,
table td,
ol,
ul,
li {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
table th,
table td,
ol,
ul,
li {
  line-height: 1.3;
}
.event.explore .thumbnail .caption h3 {
  height: 5.460000000000001rem;
  -moz-line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  display: -moz-box;
}
.explore .thumbnail .caption h4 {
  height: 6.63rem;
  -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  display: -moz-box;
}
a {
  color: #0ea4f1;
}
a:focus,
a:hover {
  color: #3a93d0;
}
.text-primary {
  color: #0ea4f1;
}
.text-success {
  color: #169b48;
}
.text-warning {
  color: #ff9500;
}
.text-danger {
  color: #f25e5e;
}
.list-group-item a {
  color: #000;
}
.list-group-item a:focus,
.list-group-item a:hover {
  color: #3a93d0;
}
.list-group-item a.active {
  color: #0ea4f1;
}
.badge {
  position: absolute;
  margin-top: -8px;
  padding: 4px 6px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #f25e5e;
}
.panel.profile .panel-body h4 {
  color: #0ea4f1;
}
.alert {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: 0px;
  border-radius: 0px;
}
.alert a {
  color: inherit;
  text-decoration: underline;
}
.alert .close {
  color: #fff;
  opacity: .8;
}
.alert-success {
  background-color: #53c83d;
}
.alert-info {
  background-color: #9060c2;
}
.alert-warning {
  background-color: #ff9500;
}
.alert-danger {
  background-color: #f25e5e;
}
.has-error .control-label {
  color: #f25e5e;
}
.ta-root.focussed > .ta-scroll-window.form-control {
  box-shadow: none;
}
.ta-scroll-window.form-control,
.ta-scroll-window > .ta-bind {
  min-height: 150px;
}
.form-control:focus {
  box-shadow: none;
}
.has-error .form-control {
  border-color: #ff1e00;
}
.has-error .form-control:focus {
  border-color: #ff1e00;
  box-shadow: none;
}
.has-error .input-group-addon {
  border-color: #ff1e00;
}
.timeline-badge.purple {
  background-color: #9060c2;
}
.timeline:before {
  border-color: #9060c2;
}
.typeahead-popup > .dropdown-menu > li > a {
  color: #777;
}
.typeahead-popup > .dropdown-menu > .active > a {
  color: #fff;
  background-color: #3a93d0;
}
.h-gap-4 {
  content: ' ';
  display: block;
  height: 4px;
}
.faq article hr {
  background-color: #ff1e00;
}
.faq aside a {
  padding: 2px;
  color: #000;
  text-decoration: none;
}
.faq aside a:focus,
.faq aside a:hover {
  color: #f25e5e;
  border-bottom: 1px solid #f25e5e;
}
.faq aside a.active {
  color: #ff1e00;
  border-bottom: 1px solid #ff1e00;
}
.btn {
  padding: 10px 24px;
  border-width: 2px;
}
.ta-toolbar.btn-group-justified .btn-group .btn {
  padding: 6px 8px;
}
.profile .media-list .btn-group-justified .btn,
.start .ta-toolbar.btn-group-justified .btn-group .btn {
  padding: 6px 6px;
}
.btn.btn-large {
  padding: 6px 96px;
}
.btn > .fa {
  margin-right: 6px;
}
.btn-default {
  background-color: #cbccc8;
  border-color: #cccccc;
}
.btn-default:hover {
  background-color: #cccccc;
  border-color: #cbccc8;
}
.btn-primary {
  background-color: #249ff6;
  border-color: #249ff6;
}
.btn-primary:hover {
  background-color: #249ff6;
  border-color: #0f8ee7;
}
.btn-primary[disabled] {
  background-color: #75c2f9;
  border-color: #75c2f9;
}
.btn-primary[disabled]:hover {
  background-color: #75c2f9;
  border-color: #75c2f9;
}
.btn-info {
  background-color: #9060c2;
  border-color: #9060c2;
}
.btn-info:hover {
  background-color: #9060c2;
  border-color: #9060c2;
}
.btn-success {
  background-color: #5fbc55;
  border-color: #5fbc55;
}
.btn-success:hover {
  background-color: #5fbc55;
  border-color: #50b476;
}
.btn-success[disabled] {
  background-color: #85cc7e;
  border-color: #85cc7e;
}
.btn-success[disabled]:hover {
  background-color: #85cc7e;
  border-color: #85cc7e;
}
.btn-success.btn-waiting {
  color: #50b476;
  background-color: #fff;
  border-color: #5fbc55;
}
.btn-success.btn-waiting:hover {
  background-color: #fff;
  border-color: #50b476;
}
.btn-warning {
  background-color: #fdc323;
  border-color: #fdc323;
}
.btn-warning:hover {
  background-color: #fdc323;
  border-color: #ffb852;
}
.btn-danger {
  background-color: #fb5b5d;
  border-color: #fb5b5d;
}
.btn-danger:hover {
  background-color: #fb5b5d;
  border-color: #f34754;
}
.add-icon {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.add-icon:not(.btn-block) {
  padding-left: 44px;
}
.add-icon:not(.btn) {
  padding: 4px 0 4px 34px;
  background-position: left center;
}
.add-icon-hero-white {
  background-image: url("data:image/svg+xml,%3Csvg width='119px' height='107px' viewBox='0 0 119 107' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFFFFF' d='M56.029,35.72C39.014,54.993,27.725,66.806,27.725,66.806l14.589,2.428L56.029,35.72z'/%3E%3Cpath fill='%23FFFFFF' d='M84.858,47.292c-1.077-1.155-2.892-1.217-4.05-0.134l-6.472,6.046l0.451-9.745c0.071-1.582-1.152-2.923-2.729-2.996c-0.27-0.012-0.533,0.019-0.781,0.076l-8.087-3.029l1.605-4.377c0.588,1.871,1.927,3.502,3.845,4.398c3.627,1.706,7.952,0.141,9.654-3.487c1.703-3.628,0.143-7.951-3.489-9.655c-2.327-1.09-4.935-0.839-6.958,0.435l6.219-16.953c0.548-1.485-0.218-3.132-1.701-3.677c-1.488-0.545-3.135,0.216-3.678,1.701L56.985,37.792c-0.019,0.051-0.036,0.104-0.048,0.154l-10.11,24.167l0.037,0.021c-0.116,0.207-0.22,0.419-0.303,0.648l-13.237,36.79c-0.802,2.237,0.357,4.699,2.592,5.499c0.48,0.176,0.971,0.257,1.454,0.257c1.762,0,3.413-1.091,4.045-2.846l13.111-36.446l3.003,1.528L50.8,79.09c-1.2,2.048-0.506,4.684,1.542,5.881c0.682,0.399,1.428,0.587,2.161,0.587c1.48,0,2.917-0.766,3.717-2.132l9.761-16.712c1.198-2.048,0.505-4.682-1.543-5.879c-0.32-0.189-0.658-0.321-1-0.419l3.138-6.682l-0.286,6.238c-0.056,1.164,0.605,2.244,1.658,2.733c0.385,0.176,0.798,0.264,1.201,0.264c0.713,0,1.415-0.264,1.959-0.772l11.614-10.855C85.879,50.262,85.938,48.45,84.858,47.292z'/%3E%3C/svg%3E");
}
.add-icon-hero-black {
  background-image: url("data:image/svg+xml,%3Csvg width='119px' height='107px' viewBox='0 0 119 107' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M56.029,35.72C39.014,54.993,27.725,66.806,27.725,66.806l14.589,2.428L56.029,35.72z'/%3E%3Cpath fill='%23000000' d='M84.858,47.292c-1.077-1.155-2.892-1.217-4.05-0.134l-6.472,6.046l0.451-9.745c0.071-1.582-1.152-2.923-2.729-2.996c-0.27-0.012-0.533,0.019-0.781,0.076l-8.087-3.029l1.605-4.377c0.588,1.871,1.927,3.502,3.845,4.398c3.627,1.706,7.952,0.141,9.654-3.487c1.703-3.628,0.143-7.951-3.489-9.655c-2.327-1.09-4.935-0.839-6.958,0.435l6.219-16.953c0.548-1.485-0.218-3.132-1.701-3.677c-1.488-0.545-3.135,0.216-3.678,1.701L56.985,37.792c-0.019,0.051-0.036,0.104-0.048,0.154l-10.11,24.167l0.037,0.021c-0.116,0.207-0.22,0.419-0.303,0.648l-13.237,36.79c-0.802,2.237,0.357,4.699,2.592,5.499c0.48,0.176,0.971,0.257,1.454,0.257c1.762,0,3.413-1.091,4.045-2.846l13.111-36.446l3.003,1.528L50.8,79.09c-1.2,2.048-0.506,4.684,1.542,5.881c0.682,0.399,1.428,0.587,2.161,0.587c1.48,0,2.917-0.766,3.717-2.132l9.761-16.712c1.198-2.048,0.505-4.682-1.543-5.879c-0.32-0.189-0.658-0.321-1-0.419l3.138-6.682l-0.286,6.238c-0.056,1.164,0.605,2.244,1.658,2.733c0.385,0.176,0.798,0.264,1.201,0.264c0.713,0,1.415-0.264,1.959-0.772l11.614-10.855C85.879,50.262,85.938,48.45,84.858,47.292z'/%3E%3C/svg%3E");
}
.add-icon-handhearth-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M58.296,60.819c0.429,0.287,0.923,0.431,1.418,0.431s0.99-0.144,1.418-0.431c0.873-0.582,21.401-14.377,28.963-28.234 c1.871-2.898,2.858-6.245,2.858-9.688C92.953,13.027,84.924,5,75.056,5c-7.257,0-12.631,6.021-15.341,9.167 C57.004,11.021,51.631,5,44.375,5c-9.87,0-17.899,8.027-17.899,17.897c0,3.442,0.989,6.789,2.858,9.688 C36.895,46.442,57.423,60.237,58.296,60.819z M44.375,10.112c5.112,0,9.388,4.975,11.687,7.648 c1.428,1.662,2.215,2.579,3.653,2.579s2.225-0.917,3.655-2.579c2.297-2.674,6.573-7.648,11.687-7.648 c7.049,0,12.784,5.736,12.784,12.785c0,2.481-0.721,4.896-2.083,6.979c-0.038,0.059-0.075,0.12-0.108,0.182 c-5.84,10.787-21.186,22.169-25.934,25.523c-4.748-3.354-20.092-14.736-25.934-25.523c-0.034-0.062-0.07-0.123-0.108-0.182 c-1.362-2.083-2.083-4.497-2.083-6.979C31.589,15.849,37.324,10.112,44.375,10.112z'/%3E%3Cpath fill='%23FFFFFF' d='M90.461,60.201c-4.676-2.739-8.597,1.323-10.074,2.851c-3.113,3.225-6.863,6.413-8.761,7.979 c-0.806-0.361-1.695-0.566-2.631-0.575c-5.783-0.311-14.897-1.354-17.178-2.71c-2.451-1.457-4.414-2.88-6.145-4.134 c-4.975-3.606-8.903-6.452-18.686-6.452c-2.836,0-5.322,0.786-7.727,1.548c-2.468,0.782-4.8,1.521-7.613,1.521 c-3.103,0-5.625,2.522-5.625,5.625V80.17c0,3.103,2.522,5.625,5.625,5.625c5.348,0,13.709,0.275,15.554,0.891 c3.325,1.108,11.118,5.729,13.84,7.415c0.035,0.021,0.07,0.043,0.105,0.062C42.13,94.71,43.247,95,44.375,95h26 c2.752,0,5.811-2.546,6.872-4.307c3.409-5.657,15.633-21.05,15.756-21.205c0.11-0.14,0.205-0.29,0.284-0.448 C94.871,65.872,93.655,62.071,90.461,60.201z M70.374,89.885h-26c-0.246,0-0.489-0.059-0.706-0.17 c-0.961-0.595-10.421-6.404-14.851-7.88c-3.294-1.098-14.883-1.154-17.171-1.154c-0.283,0-0.513-0.229-0.513-0.511V65.853 c0-0.284,0.23-0.513,0.513-0.513c3.602,0,6.554-0.935,9.155-1.758c2.222-0.703,4.14-1.31,6.185-1.31 c8.124,0,10.97,2.062,15.686,5.479c1.819,1.318,3.882,2.812,6.53,4.389c1.33,0.791,3.533,1.412,6.003,1.895 c5.309,1.038,11.848,1.438,13.579,1.53c0.044,0.003,0.089,0.003,0.135,0.003c0.845,0,1.534,0.688,1.534,1.535 c0,0.846-0.688,1.532-1.534,1.532c-0.045,0-0.089,0.003-0.135,0.005l-19.348,1.018c-1.541-0.056-5.177-2.631-7.592-4.339 c-0.625-0.444-1.235-0.87-1.835-1.284c-1.307-0.904-2.555-1.716-3.697-2.287c-1.263-0.635-2.798-0.12-3.429,1.143 s-0.12,2.799,1.143,3.431c1.317,0.657,3.04,1.878,4.865,3.17c3.835,2.716,7.459,5.282,10.597,5.282 c0.045,0,0.091-0.002,0.135-0.003l19.373-1.021c3.631-0.04,6.573-3.008,6.573-6.646c0-0.823-0.149-1.611-0.425-2.341 c2.051-1.699,5.745-4.866,8.924-8.156c2.178-2.256,3.047-2.44,3.812-1.992c0.678,0.398,1.175,1.175,0.913,1.954 c-1.699,2.145-12.558,15.899-15.924,21.486C72.42,88.795,70.92,89.827,70.374,89.885z'/%3E%3C/g%3E%3C/svg%3E");
}
.add-icon-handhearth-black {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cg%3E%3Cpath fill='%23000000' d='M58.296,60.819c0.429,0.287,0.923,0.431,1.418,0.431s0.99-0.144,1.418-0.431c0.873-0.582,21.401-14.377,28.963-28.234 c1.871-2.898,2.858-6.245,2.858-9.688C92.953,13.027,84.924,5,75.056,5c-7.257,0-12.631,6.021-15.341,9.167 C57.004,11.021,51.631,5,44.375,5c-9.87,0-17.899,8.027-17.899,17.897c0,3.442,0.989,6.789,2.858,9.688 C36.895,46.442,57.423,60.237,58.296,60.819z M44.375,10.112c5.112,0,9.388,4.975,11.687,7.648 c1.428,1.662,2.215,2.579,3.653,2.579s2.225-0.917,3.655-2.579c2.297-2.674,6.573-7.648,11.687-7.648 c7.049,0,12.784,5.736,12.784,12.785c0,2.481-0.721,4.896-2.083,6.979c-0.038,0.059-0.075,0.12-0.108,0.182 c-5.84,10.787-21.186,22.169-25.934,25.523c-4.748-3.354-20.092-14.736-25.934-25.523c-0.034-0.062-0.07-0.123-0.108-0.182 c-1.362-2.083-2.083-4.497-2.083-6.979C31.589,15.849,37.324,10.112,44.375,10.112z'/%3E%3Cpath fill='%23000000' d='M90.461,60.201c-4.676-2.739-8.597,1.323-10.074,2.851c-3.113,3.225-6.863,6.413-8.761,7.979 c-0.806-0.361-1.695-0.566-2.631-0.575c-5.783-0.311-14.897-1.354-17.178-2.71c-2.451-1.457-4.414-2.88-6.145-4.134 c-4.975-3.606-8.903-6.452-18.686-6.452c-2.836,0-5.322,0.786-7.727,1.548c-2.468,0.782-4.8,1.521-7.613,1.521 c-3.103,0-5.625,2.522-5.625,5.625V80.17c0,3.103,2.522,5.625,5.625,5.625c5.348,0,13.709,0.275,15.554,0.891 c3.325,1.108,11.118,5.729,13.84,7.415c0.035,0.021,0.07,0.043,0.105,0.062C42.13,94.71,43.247,95,44.375,95h26 c2.752,0,5.811-2.546,6.872-4.307c3.409-5.657,15.633-21.05,15.756-21.205c0.11-0.14,0.205-0.29,0.284-0.448 C94.871,65.872,93.655,62.071,90.461,60.201z M70.374,89.885h-26c-0.246,0-0.489-0.059-0.706-0.17 c-0.961-0.595-10.421-6.404-14.851-7.88c-3.294-1.098-14.883-1.154-17.171-1.154c-0.283,0-0.513-0.229-0.513-0.511V65.853 c0-0.284,0.23-0.513,0.513-0.513c3.602,0,6.554-0.935,9.155-1.758c2.222-0.703,4.14-1.31,6.185-1.31 c8.124,0,10.97,2.062,15.686,5.479c1.819,1.318,3.882,2.812,6.53,4.389c1.33,0.791,3.533,1.412,6.003,1.895 c5.309,1.038,11.848,1.438,13.579,1.53c0.044,0.003,0.089,0.003,0.135,0.003c0.845,0,1.534,0.688,1.534,1.535 c0,0.846-0.688,1.532-1.534,1.532c-0.045,0-0.089,0.003-0.135,0.005l-19.348,1.018c-1.541-0.056-5.177-2.631-7.592-4.339 c-0.625-0.444-1.235-0.87-1.835-1.284c-1.307-0.904-2.555-1.716-3.697-2.287c-1.263-0.635-2.798-0.12-3.429,1.143 s-0.12,2.799,1.143,3.431c1.317,0.657,3.04,1.878,4.865,3.17c3.835,2.716,7.459,5.282,10.597,5.282 c0.045,0,0.091-0.002,0.135-0.003l19.373-1.021c3.631-0.04,6.573-3.008,6.573-6.646c0-0.823-0.149-1.611-0.425-2.341 c2.051-1.699,5.745-4.866,8.924-8.156c2.178-2.256,3.047-2.44,3.812-1.992c0.678,0.398,1.175,1.175,0.913,1.954 c-1.699,2.145-12.558,15.899-15.924,21.486C72.42,88.795,70.92,89.827,70.374,89.885z'/%3E%3C/g%3E%3C/svg%3E");
}
.add-icon-star-white {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20100%20100%27%3E%3Cg%20transform%3D%27translate%280%2C-952.36218%29%27%3E%3Cpath%20d%3D%27M%2050%206%20C%2025.72316%206%206%2025.72314%206%2050%20C%206%2074.2768%2025.72316%2094%2050%2094%20C%2074.27684%2094%2094%2074.2768%2094%2050%20C%2094%2025.72314%2074.27684%206%2050%206%20z%20M%2050%2010%20C%2072.115076%2010%2090%2027.8849%2090%2050%20C%2090%2072.1151%2072.115076%2090%2050%2090%20C%2027.884924%2090%2010%2072.1151%2010%2050%20C%2010%2027.8849%2027.884924%2010%2050%2010%20z%20M%2049.75%2026%20A%202.0002%202.0002%200%200%200%2048.25%2027.0625%20L%2041.71875%2039.21875%20L%2027.59375%2042.03125%20A%202.0002%202.0002%200%200%200%2026.71875%2045.5625%20L%2036.78125%2053.8125%20L%2034.03125%2067.59375%20A%202.0002%202.0002%200%200%200%2036.90625%2069.78125%20L%2050%2063.25%20L%2063.09375%2069.78125%20A%202.0002%202.0002%200%200%200%2065.96875%2067.59375%20L%2063.21875%2053.8125%20L%2073.28125%2045.5625%20A%202.0002%202.0002%200%200%200%2072.40625%2042.03125%20L%2058.28125%2039.21875%20L%2051.75%2027.0625%20A%202.0002%202.0002%200%200%200%2049.75%2026%20z%20M%2050%2032.1875%20L%2055.25%2041.9375%20A%202.0002%202.0002%200%200%200%2056.59375%2042.96875%20L%2067.4375%2045.125%20L%2059.71875%2051.4375%20A%202.0002%202.0002%200%200%200%2059.03125%2053.40625%20L%2061.21875%2064.375%20L%2050.90625%2059.21875%20A%202.0002%202.0002%200%200%200%2049.09375%2059.21875%20L%2038.78125%2064.375%20L%2040.96875%2053.40625%20A%202.0002%202.0002%200%200%200%2040.28125%2051.4375%20L%2032.5625%2045.125%20L%2043.40625%2042.96875%20A%202.0002%202.0002%200%200%200%2044.75%2041.9375%20L%2050%2032.1875%20z%20%27%20transform%3D%27translate%280%2C952.36218%29%27/%3E%3C/g%3E%3C/svg%3E);
}
.add-icon-star-black {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20100%20100%27%3E%3Cg%20transform%3D%27translate%280%2C-952.36218%29%27%3E%3Cpath%20d%3D%27M%2050%206%20C%2025.72316%206%206%2025.72314%206%2050%20C%206%2074.2768%2025.72316%2094%2050%2094%20C%2074.27684%2094%2094%2074.2768%2094%2050%20C%2094%2025.72314%2074.27684%206%2050%206%20z%20M%2050%2010%20C%2072.115076%2010%2090%2027.8849%2090%2050%20C%2090%2072.1151%2072.115076%2090%2050%2090%20C%2027.884924%2090%2010%2072.1151%2010%2050%20C%2010%2027.8849%2027.884924%2010%2050%2010%20z%20M%2049.75%2026%20A%202.0002%202.0002%200%200%200%2048.25%2027.0625%20L%2041.71875%2039.21875%20L%2027.59375%2042.03125%20A%202.0002%202.0002%200%200%200%2026.71875%2045.5625%20L%2036.78125%2053.8125%20L%2034.03125%2067.59375%20A%202.0002%202.0002%200%200%200%2036.90625%2069.78125%20L%2050%2063.25%20L%2063.09375%2069.78125%20A%202.0002%202.0002%200%200%200%2065.96875%2067.59375%20L%2063.21875%2053.8125%20L%2073.28125%2045.5625%20A%202.0002%202.0002%200%200%200%2072.40625%2042.03125%20L%2058.28125%2039.21875%20L%2051.75%2027.0625%20A%202.0002%202.0002%200%200%200%2049.75%2026%20z%20M%2050%2032.1875%20L%2055.25%2041.9375%20A%202.0002%202.0002%200%200%200%2056.59375%2042.96875%20L%2067.4375%2045.125%20L%2059.71875%2051.4375%20A%202.0002%202.0002%200%200%200%2059.03125%2053.40625%20L%2061.21875%2064.375%20L%2050.90625%2059.21875%20A%202.0002%202.0002%200%200%200%2049.09375%2059.21875%20L%2038.78125%2064.375%20L%2040.96875%2053.40625%20A%202.0002%202.0002%200%200%200%2040.28125%2051.4375%20L%2032.5625%2045.125%20L%2043.40625%2042.96875%20A%202.0002%202.0002%200%200%200%2044.75%2041.9375%20L%2050%2032.1875%20z%20%27%20transform%3D%27translate%280%2C952.36218%29%27/%3E%3C/g%3E%3C/svg%3E);
}
.navbar-nav .navbar-btn:hover,
.navbar-nav .navbar-btn:focus {
  background-color: #fdc323 !important;
  border-color: #ffb852;
}
.table > tbody > tr.success > td {
  background-color: transparent;
  color: #169b48;
}
.table > tbody > tr.primary > td {
  background-color: transparent;
  color: #3a93d0;
}
.table > tbody > tr.danger > td {
  background-color: transparent;
  color: #ff1e00;
}
.our-campaigns .panel:hover > a.hover {
  opacity: .9;
}
.our-campaigns .panel > a.hover {
  font-size: 2.2rem;
  color: #fff;
  text-decoration: none;
}
.our-campaigns .panel-body > p {
  height: 3.6rem;
}
.our-campaigns .blue > .hover:hover,
.our-campaigns .blue .panel-body {
  background-color: #0ea4f1;
}
.our-campaigns .blue .panel-body i {
  color: #0a6fb0;
}
.our-campaigns .red > .hover:hover,
.our-campaigns .red .panel-body {
  background-color: #f25e5e;
}
.our-campaigns .red .panel-body i {
  color: #af4241;
}
.our-campaigns .green > .hover:hover,
.our-campaigns .green .panel-body {
  background-color: #53c83d;
}
.our-campaigns .green .panel-body i {
  color: #3a8356;
}
.our-campaigns .orange > .hover:hover,
.our-campaigns .orange .panel-body {
  background-color: #ff9500;
}
.our-campaigns .orange .panel-body i {
  color: rgba(138, 104, 59, 0.72);
}
.get-inspired {
  background-color: #ff9500;
}
.proven-impact .impact {
  background-color: #9060c2;
}
.about .content .quotes {
  height: 250px;
  background-color: #9060c2;
}
