a {
  color: #0ea4f1;
}
a:focus,
a:hover {
  color: #3a93d0;
}
.text-primary {
  color: #0ea4f1;
}
.text-success {
  color: #169b48;
}
.text-warning {
  color: #ff9500;
}
.text-danger {
  color: #f25e5e;
}
.panel.profile .panel-body h4 {
  color: #0ea4f1;
}
.alert {
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: 0px;
  border-radius: 0px;
}
.alert a {
  color: inherit;
  text-decoration: underline;
}
.alert .close {
  color: #fff;
  opacity: .8;
}
.alert-info {
  background-color: #9060c2;
}
.alert-warning {
  background-color: #ff9500;
}
.alert-danger {
  background-color: #f25e5e;
}
.has-error .control-label {
  color: #f25e5e;
}
.form-control:focus {
  box-shadow: none;
}
.has-error .form-control {
  border-color: #ff1e00;
}
.has-error .form-control:focus {
  border-color: #ff1e00;
  box-shadow: none;
}
.has-error .input-group-addon {
  border-color: #ff1e00;
}
.timeline-badge.purple {
  background-color: #9060c2;
}
.timeline:before {
  border-color: #9060c2;
}
.typeahead-popup > .dropdown-menu > li > a {
  color: #777;
}
.typeahead-popup > .dropdown-menu > .active > a {
  color: #fff;
  background-color: #3a93d0;
}
.faq article hr {
  background-color: #ff1e00;
}
.faq aside a {
  padding: 2px;
  color: #000;
  text-decoration: none;
}
.faq aside a:focus,
.faq aside a:hover {
  color: #f25e5e;
  border-bottom: 1px solid #f25e5e;
}
.faq aside a.active {
  color: #ff1e00;
  border-bottom: 1px solid #ff1e00;
}
.btn {
  padding: 6px 24px;
  border-width: 2px;
}
.btn > .fa {
  margin-right: 6px;
}
.btn-primary {
  background-color: #249ff6;
  border-color: #249ff6;
}
.btn-primary:hover {
  background-color: #249ff6;
  border-color: #0f8ee7;
}
.btn-primary[disabled] {
  background-color: #75c2f9;
  border-color: #75c2f9;
}
.btn-primary[disabled]:hover {
  background-color: #75c2f9;
  border-color: #75c2f9;
}
.btn-info {
  background-color: #9060c2;
  border-color: #9060c2;
}
.btn-info:hover {
  background-color: #9060c2;
  border-color: #9060c2;
}
.btn-success {
  background-color: #5fbc55;
  border-color: #5fbc55;
}
.btn-success:hover {
  background-color: #5fbc55;
  border-color: #50b476;
}
.btn-success[disabled] {
  background-color: #85cc7e;
  border-color: #85cc7e;
}
.btn-success[disabled]:hover {
  background-color: #85cc7e;
  border-color: #85cc7e;
}
.btn-warning {
  background-color: #fdc323;
  border-color: #fdc323;
}
.btn-warning:hover {
  background-color: #fdc323;
  border-color: #ffb852;
}
.btn-danger {
  background-color: #fb5b5d;
  border-color: #fb5b5d;
}
.btn-danger:hover {
  background-color: #fb5b5d;
  border-color: #f34754;
}
.navbar-nav .navbar-btn:hover {
  background-color: #fdc323 !important;
  border-color: #ffb852;
}
.our-campaigns section .blue {
  background-color: #0ea4f1;
}
.our-campaigns section .blue i {
  color: #3a93d0;
}
.our-campaigns section .red {
  background-color: #f25e5e;
}
.our-campaigns section .red i {
  color: #ff1e00;
}
.our-campaigns section .green {
  background-color: #53c83d;
}
.our-campaigns section .green i {
  color: #169b48;
}
.get-inspired {
  background-color: #ff9500;
}
.proven-impact .impact {
  background-color: #9060c2;
}
